<section class="commerical-panel-box ddddd">
    <div class="paddinglr-0">
  <div class="flex-reverces"> 
    <div class="custome-position">
      <h3 class="industry-system">Commercial Spa 486<span class="tradmark-symbol-b">™</span>
        <span class="black-system display-block-a">Features</span>  
      </h3>
      <div class="panel-group width-set" id="accordion">
        <!-- 1 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-30.png?v=1734954407" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Extreme Energy Efficient Heating System™ <sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">Medical Saunas's <span class="eeh-system-b display-block "> Energy Efficient Heating System </span>
                <span class="" style="font-weight:800">25% less ENERGY </span>than our competitor
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-03.jpg?v=1729501946" alt="#" class="custome-made-cover customised-img img-feature"> While our competitors' saunas may cost as much as $1000 per month, our saunas boast our proprietary Extreme Energy-Efficient Heating System™. This system uses only 25% of the power compared to competitors, potentially reducing your electric bill to between $50 and $250 and ensuring significant savings. In the first year alone, you could save thousands of dollars by choosing our saunas.
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-box-in-a panel-heading feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineone">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-31.png?v=1734954528" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Ultra Full Spectrum Heaters™ that heats up 2X Faster- Pain Relief <sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNineone" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">Medical Saunas's <span class="color-blue display-block ">
                  <span style="font-weight:800">ULTRA</span> Full Spectrum <span class="tradmark-symbol-2">™</span>
                </span>
                <span class="color-blue" style="font-weight:800">2X STRONGER </span>than Competitors
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-13.png?v=1729502000" alt="#" class="custome-made-cover customised-img img-feature"> Many full-spectrum saunas release waves at one end of the spectrum, limiting their healing benefits. However, our Ultra Full Spectrum heaters offer one of the widest ranges of wavelengths seen in commercial saunas, designed for deeper skin penetration. This feature also conveniently allows the sauna to heat up 2x faster than standard models.
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-32.png?v=1734954528" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Hot/Cold Cleansing System™</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b margin-top-120 ">
                <span class="display-block">Medical Saunas's</span>
                <span style="color:red;font-weight:800;"> Hot/ <span class="color-blue">Cold therapy</span>
                </span> System <span class="black-system tradmark-symbol-2">™</span>
                <span></span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-14.png?v=1729502179" alt="#" class="custome-made-cover customised-img img-feature"> In many saunas, slow heating systems hinder the recommended warm up and cool down rounds essential for hot/cold therapy's health benefits. Medical Sauna™ addresses this with our potent Rapid Internal Heating System™, enabling effective hot/cold therapy for enhanced muscle relaxation and flexibility
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="img-icon">
                <img src="https://www.medicalsaunas.com/images/commercialspa488/Commercial-Medical-Spa-489-33.png" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white "> Oxygen Ion Sanitation System™</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue">Oxygen <span style="font-weight:800">CLEANSING</span> Ion System <span class="tradmark-symbol-2">™</span>
                </span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-15.png?v=1729502232" alt="#" class="custome-made-cover customised-img img-feature"> It's extremely important for your customers to breathe clean air. That's why we dedicated so much time and resources to developing our Oxygen Ion Sanitation System™. This priority system operates continuously whenever the sauna is on, clearing away dust, bacteria, pollen, and other allergens. This ensures the air you breathe is clean and pure, allowing you to relax and become healthier.
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-34.png?v=1734954736" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Medical Detox Routine™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue" style="font-weight:800">MOLECULAR Detox Routine <span class="tradmark-symbol-2">™</span>
                </span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-16.png?v=1729502255" alt="#" class="custome-made-cover customised-img img-feature"> Navigating a world filled with toxins is challenging. They're present in our food, clothing, and even the air we breathe due to pollution. Medical saunas offer a potent remedy, targeting harmful substances such as heavy metals and phthalates. By promoting sweat, these saunas help expel absorbed toxins, open pores, and enhance circulation, purifying your skin in the process. This detoxification can help strengthen your immune system. Choose our Commercial Medical Spas to experience top-tier, medically-backed sauna treatments for both you and your clientele.
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-35.png?v=1734954736" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Insulated Clean Airflow System™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue">Insulated <span style="font-weight:800">Clean</span> Airflow System <span class="tradmark-symbol-2">™</span>
                </span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-18.png?v=1729502312" alt="#" class="custome-made-cover customised-img img-feature"> Poorly designed saunas often encounter unwanted temperature fluctuations, we've engineered a solution that works seamlessly with our advanced heating system maintaining your sauna at the perfect temperature with less effort while receiving the maximum performance
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-36.png?v=1734954736" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Superior Cool Down System™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body p-6"> Gradually cooling down your body after a sauna session is essential for health, and our design allows hot air to escape slowly, cooling your body at the recommended pace. </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-37.png?v=1734954736" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white ">Bluetooth Functionality </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-19.png?v=1729502328" alt="#" class="custome-made-cover customised-img bluetooth-img" width="20%"> Unlike other sauna companies that rely on outdated CDs and audio jacks, we've embraced innovation to enhance your sauna experience. Our saunas feature Bluetooth technology, allowing you to effortlessly control the ambiance with a full set of relaxing spa music. We believe in offering you complete control over your relaxation journey, ensuring a seamless and modern spa experience. Say goodbye to the hassle of tangled cords and welcome the soothing sounds of serenity at your fingertips. Unwind and indulge in pure bliss with our Bluetooth-enabled saunas.
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-38.png?v=1734954736" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">4D Surround Heat Therapy™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNine" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block color-blue">The World's First <span style="font-weight:800">4D Heat</span> Therapy Sstem <span class="tradmark-symbol-2">™</span>
                </span>
                <span class="display-block" style="font-size:14px">by Medical Saunas</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-20.png?v=1729502343" alt="#" class="custome-made-cover customised-img img-feature"> Many sauna companies lack surround heat in their saunas, as it involves developing a specialized motherboard that costs over $700,000 to engineer. However, at MedicalSaunas, we invested the time and resources to manufacture saunas with surround heat, ensuring your entire body is engulfed in heat therapy. Our saunas are equipped with multiple heating elements in the front, back, sides, and even under your legs, offering you a 4D Heat Therapy Experience unseen in any other sauna
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                    </section>