<section class="commerical-panel-box">
  <div class="paddinglr-0">
  <div class="flex-reverce">
    <div class="custome-position">
      <h3 class="industry-system">Commercial Spa 485<span class="tradmark-symbol-b">™</span>
        <span class="black-system display-block-a">Features</span>  
      </h3>
      <div class="panel-group width-set" id="accordion">
        <!-- 1 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-18.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> 2x4 Fortified Wood Framing <sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>

          
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-45.png?v=1728856346" alt="#" class="custome-made-cover customised-img img-feature"> People maintain their home saunas, so 1x2 framing is adequate. However, commercial saunas require 2x4 wood framing due to the heavy abuse and frequent usage they face from commercial users. We design our commercial saunas with 2x4 wood framing to withstand the heavy wear and tear of commercial environments. Every one of our commercial saunas is built to be practically indestructible.
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-box-in-a panel-heading feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseNineone">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-19_8e47021b-4a45-4c69-a957-5edd8351dcb8.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> 10x Reinforced Commercial Grade Floors™ <sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNineone" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-46.png?v=1728857783" alt="#" class="custome-made-cover customised-img img-feature"> In commercial saunas the floor is the first thing to be damaged. Thats why instead of having wood every 10 inches, we reinforce the floors with heavy duty wood every 1 inch. This means we use 10 times more wood than our competitors to avoid any issues.
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-20_ff5bcc71-7435-45fd-8c7a-f293c2b9730c.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Backed by 48 Doctors, Massage Therapists, Physical Therapists, &amp; Surgeons </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-a">Full Names of Doctors <span class="black-system names-doctres">behind Medical Saunas</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-47.png?v=1729497978" alt="#" class="custome-made-cover customised-img img-feature">
              <p class="designer-content " style="text-align: center;">
                <a href="/pages/doctors">Click to see full list of doctors</a>
              </p> Earning the trust and endorsement of doctors is challenging, especially considering the 8 to 12 years they've dedicated to their education. As a result, many are selective about the brands they support. That's why, often when approached, they might decline unless they're truly passionate about and believe in your brand. We've spent over 30 years nurturing relationships with our doctors, aligning our goals to produce the most medically-endorsed saunas possible. This has earned the trust and support of 48 doctors for Medical Saunas. Our efforts mean you don't have to start from scratch. When you choose a Medical Spas, you inherit the trust of all the medical professionals backing us. And it's not just a claim — our product's name, "489", signifies the 48 dedicated doctors with whom we've collaborated. This allows you to leverage the endorsements of the doctors listed on our website to promote your business, given that our saunas are featured in your facility.
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-21_d9bf27f2-7610-4ca3-b8ca-c9bbc35c68d4.png?v=1734782781" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white "> Soaring Sauna Ceilings™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-49.png?v=1729498116" alt="#" class="custome-made-cover customised-img img-feature"> Unlike the standard 77-inch tall saunas offered by our competitors, our commercial models stand out with a height of 86 inches. They comfortably accommodate people as tall as 6'8", which is the majority of the population.
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-22_10fb79ef-0bfb-44ae-902a-fff4614928fb.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Extra Long Ergonomic 31-Inch Tall Built-In Backrest </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-60.png?v=1729498653" alt="#" class="custome-made-cover customised-img img-feature"> Going beyond the usual 12-inch sauna backrests, we decided on a spacious 31-inch. Others may charge $500 for this feature, but we believe in providing a high level of comfort as a standard in our saunas.
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-23.png?v=1734782781" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> 31 inch Chrome Easy Clean Handle with Washable Cover </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-61.png?v=1729498862" alt="#" class="custome-made-cover customised-img img-feature"> Cleaning saunas can be challenging, but not with ours. Our commercial-grade handles are designed for easy maintenance and, measuring at 31 inches, they outsize the typical 12-inch handles found in many saunas
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-24_7452bb0e-f932-4808-a93d-71fa2a0c6c4f.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Safety Auto Shut-Off Timer System </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body p-6"> Each of our saunas comes equipped with a timer that can be set for up to 90 minutes. After this period, the sauna will automatically shut off unless the session is extended. The maximum duration for a single session is 90 minutes. </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-25_0c342a46-fa24-4946-8d11-d2a41ca593ac.png?v=1734782781" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white "> 3X Hemlock Walls™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body p-6"> 
              
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-51.png?v=1729498936" alt="#" class="img-feature">
            We want your sauna to be indestructible and to retain heat as effectively as possible. That's why, instead of using single hemlock wood like many of our competitors, we use it threefold. We construct all the walls with triple-layered wood, sealing your sauna and ensuring optimal heat retention, making it extremely hot, energy efficient and nearly indestructible. </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-26.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Inside &amp; Out Dual Control Panel </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body p-6"> Our saunas are equipped with control panels both inside and outside. This allows you to easily adjust the temperature from either location. </div>
          </div>
        </div>
        <!-- 10 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseTen01">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-27_f3c99058-0e2b-4d44-b80a-ee26be4a765d.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Easy-Clip Assembly </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTen01" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-52.png?v=1729499009" alt="#" class="img-feature"> A sauna is about relaxation and rejuvenation, not frustration. We upgraded our sauna construction with clasp together technology so you can have the most seamless of sauna assembly.
            </div>
          </div>
        </div>
        <!-- 11 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseTentwo">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-28.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Heat Resistant Tempered Glass Door </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTentwo" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-54.png?v=1729499047" alt="#" class="img-feature"> Believe it or not, many saunas are not made with tempered glass doors, which is a safety hazard. If the glass breaks, it can hurt people. In order to make our saunas among the safest in the world, every glass used in our saunas is Heat Resistant &amp; Tempered. It's designed to withstand extreme temperatures, and if it were to break, it's safety glass that doesn't harm consumers. You can buy knowing you're getting one of the safest saunas ever built.
            </div>
          </div> 
        </div>
        <!-- 12 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display" data-toggle="collapse" data-parent="#accordion" href="#collapseTentwo-ab">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-29.png?v=1734782780" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Heat Resistant Commercial Speakers™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTentwo-ab" class="panel-collapse collapse">
            
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-55.png?v=1729499091" alt="#" class="img-feature"> Many sauna companies use regular speakers inside their saunas, which is why the sound quality is poor and they break frequently. Our Heat Resistant Commercial Speakers™ are designed to handle the extreme temperatures of a sauna. Since they are commercial grade, you can use them for years without any issues, allowing you and your members to enjoy truly relaxing carefree spa music.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

    </div>

</section>

<style>
  .template-product-commercial-spa-485 #MainProduct-{{ section.id }}  h3.industry-system {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
}
@media(max-width:600px){
  .template-product-commercial-spa-485 #MainProduct-{{ section.id }}  h3.industry-system {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
}
</style>