<section class="commerical-panel-box">
                        <div class="paddinglr-0">
  <div class="flex-reverce">
    <div class="custome-position">
      <h3 class="industry-system">Commercial Spa 488<span class="tradmark-symbol-b">™</span>
        <span class="black-system display-block-a">Features</span>  
      </h3>
      <div class="panel-group width-set" id="accordion">
        <!-- 1 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-46.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">Worlds First Heat Resistant Android Tablet™<sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseEight" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="">The World's First</span>
                <span class="color-red" style="font-weight:800">HEAT RESISTANT</span>
                <span class="display-block">Android Certified Tablet</span>
                <span class="display-block" style="font-size:14px">by MedicalSaunas.com</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-andriod_7365290a-f639-4c73-9b3c-e4d03ce3f5a9.png?v=1737366882" alt="#" class="custome-made-cover customised-img img-feature"> If your clients bring their phone into a sauna, it's going to overheat and get damaged. They will not gain any medical benefits in just ten minutes; they must be in a sauna for 30 minutes to an hour. That's why we invented the world's first heat-resistant Android tablet. You're going to be one of the first sauna studios to have a patent-pending heat-resistant Android tablet that will allow them to watch Hulu, Netflix, and YouTube in a sauna, helping them get healthier more easily.
            </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-box-in-a panel-heading feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineone">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-47.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">On/Off Switch for Each Full Spectrum Heater<sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNineone" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue display-block">On/Off Switch for</span>
                <span class="color-blue" style="font-weight:800">EACH <span style="font-weight:600">Full Spectrum Heater™</span>
                </span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-redlight_fb44bbf7-0e5a-473b-9877-f26ca40d5bab.png?v=1737366882" alt="#" class="custome-made-cover customised-img img-feature"> Unlike other companies that keep their heaters on constantly, we added an on/off switch to every full spectrum heater so you can turn them off individually when not in use. This not only conserves energy but also offers greater control over the sauna experience.
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-48.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">Double Capacity Stadium Seating</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body p-6">
                <h3 class="industry-system-b">
                  <span class="display-block">Medical Saunas's</span>
                  <span class="color-blue " style="font-weight:800">DOUBLE CAPACITY </span>
                  <span class="display-block color-blue">Stadium Seating <span class="tradmark-symbol-2">™</span>
                  </span>
                </h3>
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-12_387b0c14-b1a8-4371-9ed9-2261749bcbf0.png?v=1737366883" alt="#" class="custome-made-cover customised-img img-feature"> To accommodate as many clients as possible, we've added stadium seating to allow double the number of customers. If relaxation is the goal, our stadium seating design allows two people to lay down and relax, or it can comfortably host eight people in the sauna at the same time."
              </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-49.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white ">36 Inch Wide Door for Easy Access</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue" style="font-weight:800">36 Inch Wide Door for Easy Access</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-13_80e1848c-5339-48e5-90a9-c22cd65bd315.png?v=1737366882" alt="#" class="custome-made-cover customised-img img-feature"> While many saunas come with standard 22-inch doors, we've raised the bar. Our saunas are designed with a generous 36-inch door for easy entry and exit.
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-50.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> 4-Hinged, Heavy Duty Commercial Door </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-15_b438b062-7709-462d-908e-71e28c53b751.png?v=1737366882" alt="#" class="custome-made-cover customised-img img-feature"> To construct some of the world's strongest saunas, we've incorporated 4 hinges into models 488 and 489, ensuring you never have to worry about the doors breaking down.
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-51.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Enhanced Clean Air Inflow &amp; Outflow Ventilation System™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue" style="font-weight:800">ENHANCED <span class="color-green">CLEAN</span> AIR </span>
                <span class="display-block color-blue">Inflow &amp; Outflow Ventilation System <span class="tradmark-symbol-2">™</span>
                </span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-488-16_58c59d2c-bbf6-48b7-978c-47de5f033101.png?v=1737366882" alt="#" class="custome-made-cover customised-img img-feature"> The larger the sauna, the more crucial it is to ensure clean air flows in and carbon dioxide and impurities flow out. That's why we introduced the Enhanced Clean Air Inflow &amp; Outflow Ventilation System™, facilitating easy circulation of fresh air throughout the sauna. With our enhanced air inflow and outflow system in place, regardless of the sauna's size, you and your members can be assured of breathing clean fresh air.
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-52.png?v=1737366563" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> 500lbs Rated Backrest </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body p-6"> A common issue with many saunas on the market is their lack of durability. We've countered this issue in our commercial line by incorporating a 500lbs reinforced backrest, engineered for exceptional sturdiness. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                    </section>