<div class="row" style="margin-top: -3px;">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                    <h2 class="white fw-6 m1" style="margin: 0px;"><span class="blue-c">Frozen 2<sup class="sup-tma">™</sup></span> Cold Plunge
                                        Features</h2>
                                    <div class="panel-group width-set" id="accordion">

                                      
                                        <div class="panel panel-default space-mt" style="border: 1px solid #000; margin-bottom: 0px;">
                                            <div class="panel-heading" style="background-color: #000;    padding: 0px;border-bottom: 2px solid black;">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-24_de36d518-103f-4572-98a6-e2adbcd4bd05.png?v=1735628578" class="img-fluid w-8" alt="US Patent Pending No:"> <span class="white text-ml1">US Patent
                                                            Pending No:
                                                            29/870777</span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right  arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse">
                                                <div class="panel-body p-6">

                                                    Frozen™ is Patent Pending with many copycats.
                                                    Always buy directly from Medical Saunas, the inventor of Frozen, to
                                                    ensure that you get the genuine Frozen™ Cold Plunge with a Steam
                                                    Generator.


                                                </div>
                                            </div>
                                        </div>




                                      
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-17_146f891e-9dfe-4230-88fb-48dc84437a6f.png?v=1735628578" class="img-fluid w-8" alt="Frozen Energy Shock"> <span class="white text-ml2">Frozen Energy Shock<sup class="sup-tm ">™</sup></span> </span>
                                                    
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> We engineered Frozen™ using water that is
                                                    so
                                                    close to freezing that it gives you the Frozen™ Shock of Energy - a
                                                    burst of energy when you enter the near-freezing water. You'll love
                                                    it and become addicted to Frozen's Energy Shock because it's going
                                                    to wake you up.</div>
                                            </div>
                                        </div>



                                      
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-18_15c350b7-00dc-4d6f-84fb-fd29c0d1d72a.png?v=1735628578" class="img-fluid w-8" alt="Healthy &amp; Saf 37° Freezing">
                                                        <span class="white text-ml3">Healthy &amp; Safe
                                                            37° Freezing<sup class="sup-tm ">™</sup></span></span> 
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> Because Frozen™ is developed by doctors,
                                                    health
                                                    is of utmost importance to us. To keep you healthy and safe, the
                                                    lowest temperature Frozen™ will reach is 37 degrees Fahrenheit. This
                                                    is close to freezing and is considered the lowest safe temperature
                                                    for any cold plunge, making Frozen™ one of the safest plunges to use
                                                    regularly.</div>
                                            </div>
                                        </div>


                                      
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-19_110e495e-c4f0-4171-9b1e-3e3a33d8ebc4.png?v=1735628577" class="img-fluid w-8" alt="FoamSeal Military-Grade Insulation">
                                                        <span class="white text-ml4">FoamSeal Military-Grade Insulation</span>
                                                            </span> 
                                                    <a>
                                                        <span class="glyphicon "></span>

                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>

                                                    </a>


                                                </h4>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> While many cold plunges merely insulate the
                                                    tubes and the back of the plunge, we take it a step further by
                                                    insulating everywhere, including the outer and inner tank with
                                                    military-grade insulation. This approach reduces the cooling time of
                                                    Frozen's water by 2X, making it cool faster than that of many of our
                                                    competitors.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-20_0ef51946-03ed-4f64-a2e3-7cfa19fcffa7.png?v=1735630018" class="img-fluid w-8" alt="20 Ultra Micron Filter  System"> <span class="white text-ml5">20 Ultra Micron Filter
                                                            System<sup class="sup-tm ">™</sup></span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>

                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>

                                                    </a>


                                                </h4>
                                            </div>


                                            <div id="collapseFour" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> The Frozen 20 Ultra Micron Filter System
                                                    not
                                                    only removes hair, skin cells, and debris but also captures
                                                    particles as small as dust particles that are constantly flowing
                                                    into the water. Unlike our competitors' micron filter systems that
                                                    leave small dust particles in the water, our ultra micron filter
                                                    system is so fine that it constantly removes any small particles
                                                    that flow into the water, keeping your water ultra-clean.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-21_069bed36-9fb6-4d33-9332-b3f3a3e29cd1.png?v=1735630018" class="img-fluid w-8" alt="Military-Grade Exterior UV Protection"> <span class="white text-ml6">Military-Grade Exterior
                                                         UV
                                                            Protection </span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>


                                            <div id="collapseFive" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> Frozen's shell is military-grade, just like
                                                    the
                                                    Cybertruck. It's ultra-tough and features a UV protective coating to
                                                    protect it from the damages of the sun.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-22_df0b03d1-b865-44c6-b398-2a02e8cd2b85.png?v=1735630018" class="img-fluid w-8" alt="Indoor &amp; Outdoor"> <span class="white text-ml7">Indoor &amp; Outdoor</span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> We want you to enjoy the benefits of
                                                    Frozen™ as
                                                    much as possible, so it is designed to be used indoors or outdoors
                                                    and can withstand all weather elements, including rain, sun, or
                                                    snow. You can place it anywhere you want.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-23_35af496d-b275-4f15-a8c6-d5342b595da6.png?v=1735630018" class="img-fluid w-8" alt="No Plumbing Needed, Just Plug &amp; Play"> <span class="white text-ml8">No Plumbing Needed, Just Plug &amp;
                                                            Play</span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>


                                            <div id="collapseSeven" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> No plumbing or drain is needed, and with
                                                    proper
                                                    care, Frozen's water can last up to 6 months. Frozen™ comes with
                                                    everything you need. Just buy one and experience the natural, raw
                                                    energy as you plunge into Frozen.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-25_0ca570c1-0bd9-43d0-b3f6-1e1d6a92714f.png?v=1735630750" class="img-fluid w-8" alt="US Customer Service"> <span class="white text-ml9">US Customer Service</span>
                                                    </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseNine" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> When you call us, you're speaking to
                                                    someone in
                                                    the US, not overseas. Medical Saunas is an American-owned company.
                                                    We employ Americans to solve any problems you may have..</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default panel-border">
                                            <div class="panel-heading panel-bg">
                                                <h4 class="panel-title h4-panel" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">

                                                    <span> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/frozen-j15-26_f9cb07e9-da84-458c-8dd0-f0e69f56aa42.png?v=1735630750" class="img-fluid w-8" alt="81Techniclans all over the US &amp;  Canada"> <span class="white text-ml10">581Techniclans all over the US &amp;
                                                            Canada</span> </span>
                                                    <a>
                                                        <span class="glyphicon "></span>
                                                        <i class="fa fa-angle-down white pull-right arrow-size"></i>
                                                    </a>
                                                </h4>
                                            </div>


                                            <div id="collapseTen" class="panel-collapse collapse">
                                                <div class="panel-body p-6"> Unlike our competitors who expect you to
                                                    replace parts yourself when something goes wrong, at Medical Saunas
                                                    we have over 581 technicians located all over the US and Canada to
                                                    service our products. You can buy with confidence knowing that
                                                    Frozen will always be in working order. </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>                                </div>