<section class="commerical-panel-box">
     <div class="paddinglr-0">
  <div class="flex-reverce">
    <div class="custome-position">
      <h3 class="industry-system">Commercial Spa 487<span class="tradmark-symbol-b">™</span>
        <span class="black-system display-block-a">Features</span>  
      </h3>
      <div class="panel-group width-set" id="accordion">
        <!-- 1 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-41.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">Made for Gyms - Extra Strong, Heavy Users. Benches with 2x Support<sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body p-6"> Many saunas do not withstand the wear and tear in gyms, breaking down easily because gym members are heavy users. While many of our competitors provide wood support on their benches every 36 inches, our saunas are specifically designed for gym environments. We offer wood support every 12 inches, making our benches 3 times as sturdy as our competitors'. If you operate a gym, opt for the Commercial 487 model or higher. You won't have to be concerned about its strength; it's built to endure even the most rigorous use. </div>
          </div>
        </div>
        <!-- 2 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-box-in-a panel-heading feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineone">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-39.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">Omni-Directional Heating™<sup></sup>
                </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseNineone" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue">OMNI <span style="font-weight:800">DIRECTIONAL</span> Heating </span>
                <span class="display-block" style="font-size:14px">Proprietary technology</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-1_ac71ae04-1d3a-4b7c-8d35-9c79775cb883.png?v=1735019516" alt="#" class="custome-made-cover customised-img img-feature"> Many saunas provide even heat throughout, which can make it unbearable to stay in for an extended period of time. We've read several reviews from other companies that list complaints about overheating lower extremities. That's why we've introduced omnidirectional heat in our design, creating lower heat around your feet and higher heat around your back. This allows the heat to cycle around the sauna, giving you the optimal spa experience.
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-40.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white ">Red Light Therapy</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-2.png?v=1729509758" alt="#" class="custome-made-cover customised-img img-feature"> We've included Red Light Therapy in our commercial line, as it's rapidly gaining popularity within the medical community. Ideal for skin health, this cutting-edge therapy helps provide a multitude of benefits, such as reducing wrinkles and acne, enhancing energy and performance, accelerating recovery, boosting mental clarity, and so much more.
            </div>
          </div>
        </div>
        <!-- 4 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-43.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon padding-top-10">
                <span class="white ">Spacious Interior for Lounging</span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue" style="font-weight:800">SPACIOUS INTERIOR</span>
                <span class="display-block color-blue" style="font-size:16px">for Lounging</span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-3.png?v=1729509802" alt="#" class="custome-made-cover customised-img img-feature"> Many other sauna companies have decided what comfort means in a sauna, but we believe that standard was set too low for our customers. Therefore, we've expanded the interior space by an extra 20% in our saunas, ensuring that you can truly lounge in comfort during your daily session.
            </div>
          </div>
        </div>
        <!-- 5 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-42.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Chromatic Therapy System™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="color-blue display-block">Chromatic <span style="font-weight:800">Therapy System <span class="tradmark-symbol-2">™</span>
                  </span>
                </span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-4.png?v=1729509840" alt="#" class="custome-made-cover customised-img img-feature"> Many people struggle with anxiety. That's why we've dedicated extensive time and resources to incorporate the latest technology for enhancing mental wellness. Through our Chromatic Therapy Mood Lighting System, your members will experience a significant uplift in mood, feeling better with every session.
            </div>
          </div>
        </div>
        <!-- 6 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in-a feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-43.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Deep Bench Seating for Extra Comfort </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="display-block color-blue">
                  <span style="font-weight:800">DEEP</span> Beanch Seating's </span>
                <span class="color-blue display-block">for EXTRA Comfort <span class="tradmark-symbol-2"> ™</span>
                </span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-5.png?v=1729509899" alt="#" class="custome-made-cover customised-img img-feature"> Airplane seats, usually 15 inches wide, are known for being extremely uncomfortable, and believe it or not, many sauna benches are also this size. To enhance comfort in your sauna, we've added seats that are 25% deeper which ensures that even if you have a customer who is big and tall, they can fit and relax comfortably.
            </div>
          </div>
        </div>
        <!-- 7 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-44.png?v=1735019435" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Heat Resistant Interior Reading Lights™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="display-block">
                  <span style="font-weight:800;color:red;">HEAT RESISTANT</span>
                </span>
                <span class="color-blue display-block">for EXTRA Comfort <span class="tradmark-symbol-2">™</span>
                </span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/c487-6.png?v=1729509864" alt="#" class="custome-made-cover customised-img img-feature"> While reading lights are a common feature in saunas, they often aren't suited for commercial use. When used for eight hours a day, these lights tend to flicker and require frequent replacement due to their inability to handle the heat. In stark contrast, our commercial-grade, heat-resistant lights are designed to withstand both high temperatures and heavy use without any issues, providing a more reliable and convenient experience.
            </div>
          </div>
        </div>
        <!-- 8 -->
        <div class="panel panel-default panel-box-out">
          <div class="panel-heading  panel-box-in feature-h-text spa-inblock">
            <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFoura">
              <div class="img-icon">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-45.png?v=1735019436" class="img-fluid panel-icon" alt="">
              </div>
              <div class="text-icon">
                <span class="white "> Silent Heating System™ </span>
              </div>
              <div class="arrow-icon-txt">
                <p>
                  <a>
                    <span class="glyphicon "></span>
                    <i class="fa fa-angle-up pull-right arrow-gray arrow-gray-a rotate180"></i>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div id="collapseFoura" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body p-6">
              <h3 class="industry-system-b">
                <span class="display-block">Medical Saunas's</span>
                <span class="">
                  <span style="font-weight:800;color:red;">SILENT HEATING </span>
                </span>
                <span class="color-blue">SYSTEM <span class="tradmark-symbol-2">™</span>
                </span>
              </h3>
              <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-487-15.png?v=1729509917" alt="#" class="custome-made-cover customised-img img-feature"> Some saunas can be noisy, making it challenging to meditate or truly relax. That's why we designed our saunas with the latest noise-proof technology, ensuring every powerbox, heater, and motherboard operates silently. Experience the ultimate tranquility, allowing you to fully relax and heal in peace
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>                    </section>
