<div class="spa-customprice">
  <a href="{{ block.settings.urle }}">
      <button class="btn btn-lg btn-primary btn-sm form-control">
       <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>CUSTOMIZE</button>
  </a>
</div>