<div class="col-md-3 footer-last">
    <ul class="l-s ul-flex p-00" style="margin-bottom: 0;margin-top: 8px;">
        <li class="desktop-phone">
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/phone-svgrepo-com.svg?v=1734529789" alt="">
        </li>
        <li class="desktop-sells">
            <a href="tel:(818) 805-0026" class="white"><span class="ad-1">Call Us (818) 805-0026</span> </a>
        </li>
    </ul>
    <ul class="l-s ul-flex p-00" style="margin-bottom: 0;">
        <li class="email-desk">
       
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/envelope.png?v=1737961714" alt="" />
        </li>
        <li class="desktop-email">
         <a href="#">
                <span class="ad-1m ">sales@medicalbreakthrough.com</span>
            </a>
          <p class="ad-2" style="margin-bottom: 6px;">
                Open 5AM - 10:30PM, 18 hours a day.
            </p>
            <p class="ad-2">
                365 days a year <a href="#" class="ad-3">Open - Call Now</a>
            </p>
        </li>
    </ul>
  
    <ul class="l-s p-00">
        <p class="white f-800 ad-4" > Tech Support</p>
    </ul>
    <ul class="l-s ul-flex p-00" style="margin-bottom: 0px;">
        <li class="desktop-phone">
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/phone-svgrepo-com.svg?v=1734529789" alt="">
        </li>
        <li class="desktop-sells">
          <a href="tel:(818) 654-4756" class="white"><span class="ad-1">Call Us (818) 962-0774</span> </a>
        </li>
    </ul>
    <ul class="l-s ul-flex p-00" style="margin-bottom: 2px;">
        <li class="email-desk">
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/envelope.png?v=1737961714" alt="" />
        </li>
        <li class="desktop-email">
            <a href="#">
                <span class="ad-1m ">support@medicalsaunas.com</span>
            </a>
        </li>
    </ul>
    <ul class="l-s ul-flex p-00">
        <li style="width: 22px;"></li>
        <li>
            <p class="ad-2">
      9AM - 5PM PST, Monday to Friday
            </p>
        </li>
    </ul>
</div>