<div class="row padding_row hidden-xs w3_bg">
    <h4 class="mobile_center prod_spec_h4 font-style">{{ block.settings.heading_text }} </h4>
    <div class="col-md-4 w3_bg">
        <img src="{{ block.settings.image_one | img_url: 'master' }}"
            alt="medical saunas3 handcrafted -01" height="" width="" class="img-responsive handcrafted">
    </div>
    <div class="col-md-4 w3_bg">
        <img src="{{ block.settings.image_two | img_url: 'master' }}"
            alt="medical saunas3 handcrafted -03" height="" width=""  class="img-responsive handcrafted">
    </div>
    <div class="col-md-4 w3_bg">
        <img src="{{ block.settings.image_three | img_url: 'master' }}"
            alt="medical saunas3 handcrafted -04" height="" width=""  class="img-responsive handcrafted">
    </div>
</div>