<form action="{{ routes.search_url }}" method="get" class="header-inline-search search-form">
  <input type="search" name="q" placeholder="Search products..." value="{{ search.terms }}">
  <button type="submit" aria-label="Search">{% render 'icon', name: 'search' %}</button>
</form>
