<section class="commerical-panel-box mobile">
                        <div class="paddinglr-0">

    <h3 class="industry-system">Commercial Spa 489&nbsp;<span class="tradmark-symbol">™</span><span style="color:#000">Features</span>
            </h3>

    <div class="panel-group width-set" id="accordion">
        <!-- 1 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-heading  panel-box-in">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-03.png?v=1735539397" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            Audio Theater System
                            <sup></sup>
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                            <a>
                                <span class="glyphicon ">
                               </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                       </p>
                    </div>
                </div>
            </div>
            <div id="collapseEight" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body p-6">
                    <h3 class="industry-system-b ">
                       <span class="display-block">Medical Saunas's</span>
                        <span class="color-blue" style="font-weight:600">Audio Theater System</span>
                        <span class="display-block" style="font-size:14px">Proprietary technology</span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-10_a8ec7ded-6bcb-45a1-91be-a8ad5dc97672.png?v=1735540384" class="img-fluid img-feature" alt="">
                    Because we're including a heat-resistant tablet so you can watch movies in our sauna, we've
                    constructed an audio theater system with 4 speakers so you can fully enjoy your immersive experience
                </div>
            </div>
        </div>
        <!-- 2 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-box-in-a panel-heading">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNineone">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-04.png?v=1735539484" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            Campfire Style Seating™
                            <sup></sup>
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                           <a>
                                <span class="glyphicon ">
                                </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseNineone" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body ">
                    <h3 class="industry-system-b">
                        <span class="display-block">Medical Saunas's</span>
                        <span class="color-blue" style="font-weight:800">SPACIOUS CAMPFIRE</span>
                        <span class="display-block">Style Seating<span class="black-system tradmark-symbol-2">™</span></span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-11_b5ccc6f0-ad14-4222-b429-4c3d04643dd9.png?v=1735540586" alt="#" class="custome-made-cover customised-img img-feature">
                    We've introduced Campfire-Style Seating to Commercial 489, enhancing the sauna experience for
                    families and friends. This design not only promotes wellness but also encourages your clients to
                    invite their loved ones. With such an inviting atmosphere, clients are more likely to bring new
                    users to this unique campfire sauna experience, fostering a growing community that enjoys both
                    health and fun together.
                </div>
            </div>
        </div>
        <!-- 3 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-heading  panel-box-in">
               <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-05.png?v=1735539570" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            Smooth X-Large Accessible Ramp™
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                            <a>
                              <span class="glyphicon ">
                                </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body p-6">
                    Many saunas lack a ramp and are not ADA compliant. Even if they do have a ramp, it's often not
                    smooth, causing discomfort for wheelchair users. Our Smooth X-Large Accessible Ramp™ is designed
                    with such smoothness and precision that wheelchair users can easily enter and exit the sauna
                    independently and comfortably, without any hindrances.
                </div>
            </div>
        </div>
        <!-- 4 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-box-in-a  panel-heading">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-aaa">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-06_d7c4d169-65e2-4087-89b5-5e63d2a1a112.png?v=1735539571" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            ADA Compliant 60 Inch Internal Radius
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                            <a>
                                <span class="glyphicon ">
                                </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseTwo-aaa" class="panel-collapse collapse">
                <div class="panel-body p-6">
                    <h3 class="industry-system-b">
                        <span class="display-block">Medical Saunas's</span>
                        <span class="color-blue" style="font-weight:800">ADA COMPLIANT </span>
                        <span class="color-blue display-block" style="font-weight:600">60-Inch Internal Radius<span class="tradmark-symbol-2">™</span></span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-12_64447744-3906-47cd-90b4-245aa860d371.png?v=1735540586" alt="#" class="custome-made-cover img-feature customised-img ">
                    Our saunas are designed with a spacious 60 inches internal radius to be ADA-compliant, ensuring a
                    smooth entry and exit for wheelchair users.
                </div>
            </div>
        </div>
        <!-- 5 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-heading  panel-box-in">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-07.png?v=1735539654" class="img-fluid panel-icon" alt="">
                  </div>
                    <div class="text-icon">
                       <span class="white ">
                           Extra-Insulated Airflow System™
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                      <p>
                           <a>
                               <span class="glyphicon ">
                                </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body p-6">
                    <h3 class="industry-system-b">
                        <span class="display-block">Medical Saunas's</span>
                        <span class="color-blue" style="font-weight:800">EXTRA-<span class="color-red">INSULATED
                            </span> </span>
                        <span class="display-block color-blue">Airflow System<span class="tradmark-symbol-2">™</span></span>
                        <span class="display-block" style="font-size:14px">Proprietary technology</span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-14_4ef9771e-02aa-4d4a-b0d7-1728c34c218d.png?v=1735540586" alt="#" class="custome-made-cover img-feature customised-img ">
                    We've incorporated extra insulation to retain the heat inside, making it even more energy efficient.
                </div>
            </div>
        </div>
        <!-- 6 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-heading  panel-box-in-a">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-08.png?v=1735539711" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            Extra-Rapid Internal Heating System™
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                            <a>
                                <span class="glyphicon ">
                                </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body p-6">
                    Many saunas concentrate on heating the surface of your skin, but it's vital to raise the temperature
                    from within your body. Just as in running a marathon, your entire body warms from the inside. That's
                    why we've dedicated considerable time and resources to create the Extra-Rapid Internal Heating
                    System™. This system simulates the effects of running a marathon. Using our commercial sauna is
                    similar to a marathon experience because it raises your core temperature just like a marathon.
                </div>
            </div>
        </div>
        <!-- 7 -->
        <div class="panel panel-default panel-box-out">
            <div class="panel-heading  panel-box-in">
                <div class="panel-display collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                    <div class="img-icon">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-09.png?v=1735539778" class="img-fluid panel-icon" alt="">
                    </div>
                    <div class="text-icon">
                        <span class="white ">
                            Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels
                        </span>
                    </div>
                    <div class="arrow-icon-txt">
                        <p>
                            <a>
                                <span class="glyphicon ">
                               </span><i class="fa fa-angle-down white pull-right size-a"></i> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body p-6">
                    <h3 class="industry-system-b">
                        <span class="display-block">Medical Saunas's</span>
                        <span class="color-blue" style="font-weight:800">EXTRA <span class="color-red">ENERGY</span>
                           EFFICIENT</span>
                        <span class="display-block color-blue">15% Thicker Glass &amp; Wood Panels<span class="tradmark-symbol-2">™</span></span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-17_2d996a86-4b84-414e-be42-a52e201b33bc.png?v=1735540585" alt="#" class="custome-made-cover img-feature customised-img ">
                    <h3 class="industry-system-b">
                        Medical Saunas <span class="color-red" style="font-weight:800">VS</span> Competitors</h3>
                    One problem that affects many other saunas on the market is durability. We tackle this issue head-on
                    by designing our saunas from scratch to be exceptionally energy-efficient, utilizing 15% thicker
                    glass and wood panels
                </div>
            </div>
        </div>
    </div>
</div>                 
</section>