
   <div class="offer-info w3_bg">
     <div class="offer-info-a w3_bg">
       Retail: <span style="display:block"> $7,999  </span>
     </div>
     
     <div class="offer-info-a w3_bg">Discount:
        <span style="display:block;background-color: #FEFE00;"> &nbsp; 56% OFF
        </span>
     </div>
     
     <div class="offer-info-b w3_bg">You Save: <span style="display:block">  $4,450  </span></div>
   </div>

   
 <div class="prod-price w3_bg">
    <div class="price_pro w3_bg">
        <span class="spa-price-main">
            $3,549        </span>
        <div class="product-title-img w3_bg"> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/super.png?v=1733895750" alt="" class="offr-img">
        </div>
    </div>
    <div class="testing w3_bg">
        <div class="line w3_bg"> </div>
        <div class="font-bold text-base w3_bg">or</div>
        <div class="line w3_bg"> </div>
    </div>
    <div class="price_mon w3_bg">
        <div class="month_price w3_bg">
            <span class="month_price-a">
                $114<font size="-1"> /month</font>
            </span>
        </div>
        <div class="sugg_payment w3_bg">with 18 months. $1,500 down payment.<span class="slide-toggle">See How</span>
        </div>
        <div class="shw_hw w3_bg">
          <a href="tel:(818)649-2316"><span style="font-weight:bold;" class="sugg_payment">Call
                    (818) 649-2316 to see if
                    you qualify!</span>
          </a>
        </div>
    </div>
 </div>

 
 <div class="buynow btn-group cart w3_bg">
{% render 'buy-buttons' %}
   
     </div>
     
    <div class="product-price brk_padding_row w3_bg">
        <div class="gry-warp w3_bg" style="font-family: 'Montserrat', sans-serif;">
            <h5 style="text-align:center;color: #3f3f40 !important;">Price Increase In:</h5>
            <table width="250px" border="0">
                <tbody>
                    <tr>
                        <td><img src="https://www.medicalsaunas.com/images/icon-timeclock-s.png" data-src="https://www.medicalsaunas.com/images/icon-timeclock-s.png" alt="medicalbreakthrough - timeclock" width="20" height="20" html="" data-done="Loaded"></td>
                        <td>
                            <strong>
                              <div id="countdowntop" style="color: #3f3f40;" class="w3_bg"><span class="days">6 Days</span> <span class="hours">5 Hrs</span> <span class="minutes">49 Min</span> <span class="seconds">40 Sec</span> </div>
                            </strong>
                        </td>
                    </tr>
    
                    <tr>
                        <td><img src="https://www.medicalsaunas.com/images/greencheckbox-s.png" data-src="https://www.medicalsaunas.com/images/greencheckbox-s.png" alt="medicalbreakthrough - greencheckbox" width="20" height="20" html="" data-done="Loaded"></td>
                        <td>
                            <p style="font-size:14px; text-align:left; font-weight:bold; color: #000;font-family: 'Montserrat', sans-serif;">
                                Over
                                1000 Bought.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    

      
     </div>