<div class="drawer drawer-center" id="quick-view-modal" aria-hidden="true">
  <div class="drawer-overlay" data-drawer-close></div>
  <div class="drawer-panel">
    <div class="drawer-header">
      <span class="heading-font">Quick view</span>
      <button data-drawer-close aria-label="Close">{% render 'icon', name: 'close' %}</button>
    </div>
    <div class="drawer-body quick-view-body" data-quick-view-body>
      <div class="quick-view-loading" data-quick-view-loading>Loading...</div>
    </div>
  </div>
</div>
