<section class="newbluebaar w3_bg">

<div class="container-fluid w3_bg">


<div class="row w3_bg">
<div class="col-md-12 text-center w3_bg">

<ul class="navigationlist">
<li class="bluebar_li">

<a href="#">
<div class="media w3_bg">
  <div class="media-left w3_bg">
    
      <img class="media-object" width="36" height="17" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/taxw_41e90fa7-bc04-4c3d-bcad-8e5ddd04a83a.png?v=1738044648" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/taxw_41e90fa7-bc04-4c3d-bcad-8e5ddd04a83a.png?v=1738044648" alt="medicalsauna's medical devices" html="" data-done="Loaded">
    
  </div>
  <div class="media-body w3_bg">
    <h4 class="media-heading desktop_text">The only company
      that's<br> Recommended
      by<br> 48+ MDs.</h4>
      <h4 class="media-heading mobile_text">The only company
      that's<br> Recommended
      by 48+ MDs.</h4>
  </div>
</div>
</a>
</li>


<li class="bluebar_li"><div class="media w3_bg">
  <div class="media-left w3_bg">
    <a href="#">
      <img class="media-object" width="30" height="30" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-03_110c2427-2419-4584-82a8-29d6a152aeac.png?v=1738044793" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-03_110c2427-2419-4584-82a8-29d6a152aeac.png?v=1738044793" alt="medicalsauna's offers" html="" data-done="Loaded">
    </a>
  </div>
  <div class="media-body w3_bg">
    <h4 class="media-heading desktop_text">More than
    <br>50%<br> OFF</h4>
    <h4 class="media-heading mobile_text">More than 50% OFF</h4>
  </div>
</div></li>

<li class="bluebar_li">

<a href="#">

<div class="media w3_bg">
  <div class="media-left w3_bg">
    
      <img class="media-object" width="30" height="19" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-04_db0912dd-b4e4-40c5-acb2-e54d41caecd3.png?v=1738044997" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-04_db0912dd-b4e4-40c5-acb2-e54d41caecd3.png?v=1738044997" alt="medicalsauna's offers 1" html="" data-done="Loaded">
  
  </div>
  <div class="media-body w3_bg">
    <h4 class="media-heading desktop_text">Early Bird Special:<br>The earlier you buy,<br>the more you save.</h4>
    <h4 class="media-heading mobile_text">Early Bird Special:
    The earlier <br> you buy,
    the more you save.</h4>
  </div>
</div>
</a>

</li>


<li class="bluebar_li"><div class="media w3_bg">
  <div class="media-left w3_bg">
    <a href="#">
      <img class="media-object" width="24" height="24" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-05_ea16ee6c-38e8-47c4-82fe-4bc63343e57c.png?v=1738045065" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-05_ea16ee6c-38e8-47c4-82fe-4bc63343e57c.png?v=1738045065" alt="medicalsauna's open hourse" html="" data-done="Loaded">
    </a>
  </div>
  <div class="media-body w3_bg">
     <h4 class="media-heading desktop_text">Open 18 Hours<br> a Day, <br>7 Days a Week.</h4>
     <h4 class="media-heading mobile_text">Open 18 Hours a Day, <br>7 Days a Week.</h4>
  </div>
</div></li>
<li class="bluebar_li"><div class="media w3_bg">
  <div class="media-left w3_bg">
    <a href="#">
      <img class="media-object" width="27" height="26" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-06_fa4db095-50e5-416d-befb-c5ba3ee0c09d.png?v=1738045139" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Custom-homepage-Mobile_-_New-06_fa4db095-50e5-416d-befb-c5ba3ee0c09d.png?v=1738045139" alt="medicalsauna's offering" html="" data-done="Loaded">
    </a>
  </div>
  <div class="media-body w3_bg">
    <h4 class="media-heading desktop_text">Don't Wait, Call Now <br><strong style="color:#FF0;">(818) 805-0026</strong> <br>We're here to help.
    </h4>
    <h4 class="media-heading mobile_text">Don't Wait, Call Now <br><strong style="color:#FF0;">(818) 805-0026</strong> <br>We're here to help.
    </h4>
  </div>
</div></li>

</ul>

<div class="clearfix w3_bg">
  
</div>
</div>
</div>
</div>
</section>
{% schema %}
  {
    "name": "blue bar",
    "settings": [],
    "presets":[
      {
        "name":"blue-bar"
      }
    ]
  }
{% endschema %}