  <section class="med-hero">
    <div class="med-hero-overlay">
      <div class="med-hero-content">
        <h1 class="med-hero-title">Built by Doctors. Backed by
          <br> Science. Made to Heal.
          <span class="hero-span"> </span></h1>
        <p class="med-hero-text">
          After testing countless saunas made without medical expertise, we <br>
          saw a problem: they weren’t delivering real health benefits.
          <span class="hero-span">
       </span> </p>
        <p class="med-hero-text">
          That’s why we partnered with 48 doctors to create Medical Sauna™— <br>
          the first sauna line engineered to unlock the full medical potential of heat therapy.
          <span class="hero-span" ></span>
        </p>
        <a href="pages/ourstory" class="med-hero-button">DISCOVER OUR STORY</a>
      </div>
    </div>
  </section>
  <style>
  /* Hero section styles */
.med-hero {
  background: url('https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/about-us-new.png') no-repeat center center/cover;
  height: 656px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}

.med-hero-overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 2rem;
  border-radius: 1rem;
  max-width: 850px;
  text-align: center;
  color: #fff;
}

.med-hero-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.med-hero-text {
    font-size: 16px;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: white;
    text-align: center;
}
.med-hero-button {
    display: inline-block;
    font-size: 18px;
    padding: 12px 6px 12px 6px;
    /* background-color: #fff; */
    color: white;
    text-decoration: none;
    font-weight: 500;
    /* border-radius: 0.5rem; */
    transition: background-color 0.3s ease;
    margin-top: 26px;
    line-height: 8px;
    border-bottom: 2px solid;
    width: fit-content;
}
.med-hero-button:hover {

  color: white !important;
  /* background-color: #e6e6e6; */
}
    .hero-span {
      display :flex;
    }

/* Responsive */
@media (max-width: 768px) {
  .med-hero-button {
    margin-bottom: 26px;
  }
  .med-hero {
  height: auto;
}
  .med-hero-title {
    font-size: 2rem;
  }

  .med-hero-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .med-hero-overlay {
    padding: 1rem;
  }

  .med-hero-title {
    font-size: 26px;
  }

  .med-hero-text {
    font-size: 13px;
  }
}
</style>
{% schema %}
{
  "name": "builtbdoctors180425",
  "settings": [],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "builtbdoctors180425",
    }
  ]
}
{% endschema %}