<div class="medicalsaunas-banner">
   </div>
<style>
  

.navbar_2{
  display: flex;
}
.navbar-cart{
  color: #fff;
  display: flex;
}
.gap-15 {
    gap: 15px;
}
.desk-cart-img {
    width: 25px;
}
span.items-cart {
    font-size: 15px;
    position: relative;
    top: -5px;
    left: -2px;
    color: #fff;
}
.customersup{
    background-color: #0f3854;
    color:#ffb32c;
}
/* .navbar_1 .text-top,
.navbar_2 .text-top {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
} */

.navbar_2 .text-top a {
    text-decoration: none;
    color: #fff;
}

.span-top2,
.span-top1 {
    font-weight: 600;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.number-bg2 {
    display: none;
    position: sticky !important;
    top: 0;
    z-index: 1000;
}

.text-top {
    font-size: 16px;
    color: #fff;
    background: #0196da;
    text-align: center;
    font-weight: 600;
    margin: 0;
    /* padding: 15px; */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-top>span {
    font-weight: 600;
    font-size: 20px;
}

.b-top {
    font-size: 26px;
}

.customer-support {
    text-align: center;
    font-weight: 600;
    color: #ffb32c;
    margin-bottom: 0;
    padding: 10px;
}

.support-number {
    color: #ffb32c;
}

.b-top-11 {
    font-size: 26px;
}

.main_menu {
    display: flex;
    justify-content: flex-end;
}

.new-header .bg-top {
    background-color: #0196da;
    color: #fff;
    /* height: 52px; */
}

.saunas-sales-no {
    text-align: end;
}

.new-header .customer-support {
    font-weight: 600;
    color: #ffb32c;
    text-align: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}

.new-header .logo-medical img {
    max-width: 270px;
    margin-top: 5px;
}

.new-header .text-top>span {
    font-weight: 600;
    font-size: 20px;
}

.new-header .text-top {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-header .span-top {
    font-weight: 600;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-header .span-top1 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-header .span-top2 {
    font-weight: 600;
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-header .desktop-show {
    display: inherit;
}

.new-header .mobile-show {
    display: none;
}

.new-header .page-mt {
    margin-top: 10px;
}

.new-header .navbar-default .navbar-nav>li>a {
    font-size: 12px;


}

/* 1502 Strated*/
@media only screen and (max-width:1552px) {
    .new-header .text-top {
        font-size: 14px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .new-header .span-top {
        font-weight: 600;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .new-header .span-top1 {
        font-weight: 600;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .new-header .span-top2 {
        font-weight: 600;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .new-header .header_navbar_sauna>li>a {
        padding: 26px 6px !important;
    }

    .new-header .navbar-default .navbar-nav>li>a {
        font-size: 11px;
        letter-spacing: 0px;

    }
}

/* 1502 Ended */
/* 1298 Started */
@media only screen and (max-width:1298px) {
    .new-header .header_navbar_sauna>li>a {
        padding: 26px 6px !important;
    }

    .new-header .navbar-default .navbar-nav>li>a {
        font-size: 11px;
        letter-spacing: 0px;

    }

}

/* 1298 Ended */
/* 1192 Strated*/
@media only screen and (max-width:1192px) {
    .new-header .text-top {
        font-size: 18px;
    }

    .new-header .customer-support {
        font-size: 15px;
    }

    .new-header .span-top {
        font-size: 14px;
    }

    .new-header .span-top1 {
        font-size: 14px;
    }

    .new-header .span-top2 {
        font-size: 14px;
    }

    .new-header .header_navbar_sauna>li>a {
        padding: 8px 3px !important;
    }

    .new-header .navbar-default .navbar-nav>li>a {
        font-size: 12px;
        letter-spacing: 0px;
    }
}

/* 1192 Ended */
/* 767 Strated*/
@media only screen and (max-width: 767px) {

  body{
    overflow-x: clip !important;
  }
  .number-bg2 {
    display: none;
    position:relative !important;
    top: 0;
    z-index: 1000;
}
    .customers-support {
        display: none;
    }

    .new-header .desktop-show,
    .number-bg1 {
        display: none;
    }

    .number-bg2 {
        display: block;
    }

    .new-header .cart-strip .navbar-toggle {
        top: 20px !important;
        left: 20px !important;
    }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #0096d9;
    }

    .new-header .mobile-show {
        display: inherit;
        padding: 0px;
    }

    .new-header .b-top {
        font-size: 26px;
        /* height: 42px; */
    }

    .new-header .b-top-11 {
        font-size: 26px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .new-header .c-p1 {
        margin-top: 10px;
        font-weight: 600;
        font-size: 14px;
        text-align: center;
        margin-left: -34px;
    }

    .new-header .logo-medical img {
        max-width: 262px;
        margin-top: 3px;
    }

    /* .bg-top {
        height: 42px;
    } */

    /* .b-top-11 {
        font-size: 22px;
    } */
    .newbluebaar ul.navigationlist {
        display: inline-block;
    }

    .navbar_header {
        background-color: #17599e;
        height: 40px;
    }

    .new-header .span-top {
        font-size: 18px;
    }

    .navigation {
        margin-top: 0px;
    }

    .navbar {
        min-height: 0px !important;
    }

    .logo-medical {
        margin-top: -5px;
    }

    .new-header .cart-strip .navbar-toggle {
        position: absolute;
        z-index: 5;
        border-radius: 4px;
        border: 2px solid #ddd;
        float: left;
        top: 109px;
        left: 15px;
        margin: 0px 0px 0 0;
        padding: 8px 10px !important;
    }

    .new-header .cart-strip .navbar-toggle .icon-bar {
        background: #fff none repeat scroll 0 0;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }

    .new-header .navbar_header {
        height: 0px;
        position: relative;
    }

    .new-header .main_menu .mobilemenu {
        position: absolute;
        left: 0;
        width: 100%;
        background: #0096d9;
        z-index: auto;
        top: 6px;
    }

    #thumbs-wrapper {
        margin-top: 0px !important;
        padding: 0px 0px 0px 0px !important;
    }
    .navbar-cart{
      position: absolute;
      top: 18px;
      right: 10px;
      z-index: 5;
    }
    .desk-cart-img {
        width: 30px;
    }
    .text-top{
      padding: 15px;
    }
}

/* 767 Ended*/
/* 320px Start */
@media only screen and (max-width:320px) {
    .new-header .cart-strip .navbar-toggle {
        left: 10px;
        margin: 2px 14px 0 0;
        padding: 6px 6px !important;
    }

    .new-header .cart-strip .navbar-toggle .icon-bar {
        height: 2px;
        width: 18px;
    }

    .new-header .b-top-11 {
        font-size: 22px;
    }

    .new-header .b-top {
        font-size: 22px;
    }
}

/* 320px Ended */
</style>

   
    {% schema %}
  {
    "name": "commercial-banner",
    "settings": [],
    "presets": [
      {
        "name": "commercial-banner"
      }
    ]
  }
{% endschema %}