{%- style -%}
  .designer-content  {
    color: #545454;
    cursor: default;
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    line-height: 30px !important;
    margin: 5px 0;
    padding: 0;
    text-align: justify;
  }
  .commercialspa-row {
      display: flex;
      align-items: center;
      justify-content: space-around;
  }
  @media screen and (max-width: 768px) {
    .commercialspa-row {
        display: block;
    .padding-x {
        padding-left: 0px;
        padding-right: 0px;
    }

  }
{%- endstyle -%}
<section class="spa-485">
    <div class="acc-bg-blue">
        <div class="container">
            <div class="feature-h-text" data-toggle="collapse" data-target="#v12" aria-expanded="true">
                <h4 class="head-a1">Product <span class="">features</span> </h4>
                <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
            </div>
        </div>
    </div>
</section>

<section class="features-test spa-485-in collapse in section-class-{{ section.id }}" id="v12" style="">
    <section class="full-part">
        <div class="container">
            <div class="middle-content">
                <div class="row commercialspa-row">
                    <div class="col-md-4 padding-left-right-0">
                        <div class="padding-x">
                            <h3 class="industry-system padding-top-70 margin-0">2x4 Wood Framing <span class="black-system"></span></h3>
                            <p class="designer-content ">
                                To provide our clients with year-round medical benefits from our saunas, we've
                                made our doors thicker and more durable. Given that commercial saunas can face
                                wear and tear, we use a stronger 2x4 framing for all of them to ensure
                                longevity. </p>
                        </div>
                    </div>
                    <div class="col-md-8 padding-left-right-0">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-45.png?v=1728856346" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part ">
        <div class="container padding-left-right-0">
            <div class="middle-content infra-tech">
                <div class="row flex-reverce commercialspa-row padding-tb">
                    <div class="col-md-5">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-46.png?v=1728857783" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    <div class="col-md-7">
                        <div class="padding-x">
                            <h3 class="industry-system">10x REINFORCED COMMERCIAL<span class="black-system display-block">GRADE FLOORS</span></h3>
                            <p class="designer-content ">In commercial saunas the floor is the first thing to be
                                damaged.Thats why instead of having wood every 10 inches, we reinforce the floors and
                                have heavy duty wood every 1 inch. This means we use 10 times more wood but it is worth
                                it to avoid any issues.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part">
        <div class="container">
            <div class="middle-content">
                <div class="row commercialspa-row">
                    <div class="col-md-5 padding-left-right-0">
                        <div class="padding-x">
                            <h3 class="industry-system ">BACKED BY 48 DOCTORS, <span class="black-system display-block">CHIROPRACTORS, PHYSICAL THERAPISTS,
                                    SURGEONS</span></h3>
                            <p class="designer-content ">
                                Enjoy free branding with 48 doctors - use their endorsements on our site to
                                promote your sauna.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 padding-left-right-0">
                        <h3 class="industry-system-a">Full Names of Doctors <span class="black-system names-doctres">behind
                                Medical Saunas</span></h3>
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-47.png?v=1729497978" alt="#" class="custome-made-cover customised-img ">
                        <p class="designer-content " style="text-align: center;"><a href="/pages/doctors">Click to
                                see full list of doctors</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part ">
        <div class="container padding-left-right-0 soaring-sauna">
            <div class="middle-content infra-tech">
                <div class="row flex-reverce commercialspa-row padding-tb">
                    <div class="col-md-5 mobile-space">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-49.png?v=1729498116" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    <div class="col-md-7 ">
                        <div class="padding-x  ">
                            <h3 class="industry-system">SOARING <span class="black-system">SAUNA
                                    CEILINGS</span></h3>
                            <p class="designer-content ">Unlike the standard 77-inch tall saunas offered by our
                                competitors, our commercial models distinguish themselves with a height of 86 inches.
                                They comfortably accommodate individuals up to 6'8".</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20">
        <div class="container">
            <div class="middle-content">
                <div class="row commercialspa-row margin-tb">
                    <div class="col-md-5 padding-left-right-0">
                        <div class="padding-x">
                            <h3 class="industry-system ">EXTRA LONG ERGONOMIC <span class="black-system display-block">31-INCH TALL BUILT-IN BACKREST</span>
                            </h3>
                            <p class="designer-content ">
                                Going beyond the usual 12-inch sauna backrests, we decided a spacious 31-inch
                                was needed for fully body support. Others may charge $500 for this feature, but
                                we believe in providing a high level of comfort as a standard in our saunas.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-7 padding-left-right-0">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-60.png?v=1729498653" alt="#" class="custome-made-cover customised-img ">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part ">
        <div class="container padding-left-right-0 handle-crome">
            <div class="middle-content infra-tech ">
                <div class="row flex-reverce commercialspa-row padding-tb">
                    <div class="col-md-5 mobile-space">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-61.png?v=1729498862" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    <div class="col-md-7 ">
                        <div class="padding-x margin-top10">
                            <h3 class="industry-system margin-0">31-INCH CHROME <span class=" display-block">EASY CLEAN HANDLE</span> <span class="black-system display-block"> WITH WASHABLE COVER</span></h3>
                            <p class="designer-content ">
                                Cleaning saunas can be challenging, but not with ours. Our commercial-grade handles are
                                designed for easy maintenance and measuring at 31 inches, they outsize the typical
                                12-inch handles found in many saun
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20 ">
        <div class="container strenght-hidden">
            <div class="row">
                <div class="middle-content commercialspa-row margin-tb">
                    <div class="col-md-7 padding-left-right-0">
                        <div class="padding-x">
                            <h3 class="industry-system">3x STRENGTH WOODEN <span class="black-system display-block">HEMLOCK CONSTRUCTION</span></h3>
                            <p class="designer-content width-80">
                                We know that maintenance and repair is rough when it comes to saunas. To make this easy
                                for our customers we tripled the strength of our walls in comparison to the average
                                sauna, ensuring longevity and durability.

                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 padding-left-right-0">
                        <div class="padding-2">
                            <h3 class="industry-system-a">Medical Saunas's <span class="black-system">3x Wall strength™
                                </span></h3>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-51.png?v=1729498936" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20">
        <div class="container infra-tech easy-clip">
            <div class="row">
                <div class="col-md-12 padding-left-right-0">
                    <div class="middle-content">
                        <div class="row flex-reverce commercialspa-row  margin-tb">
                            <div class="col-md-5 padding-left-right-0">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-52.png?v=1729499009" alt="#" class="custome-made-cover padding-2">
                            </div>
                            <div class="col-md-7 padding-left-right-0">
                                <div class="padding-x">
                                    <h3 class="industry-system ">EASY-CLIP <span class="black-system">ASSEMBLY</span>
                                    </h3>
                                    <p class="designer-content width-80">A sauna is about relaxation and rejuvenation,

                                        not frustration. We upgraded our sauna construction with clasp together

                                        technology so you can have the most seamless of sauna assembly.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20 ">
        <div class="container heat-resistance">
            <div class="row">
                <div class="middle-content commercialspa-row  margin-tb">
                    <div class="col-md-7 padding-left-right-0">
                        <div class="padding-x">
                            <h3 class="industry-system">HEAT RESISTANT &amp; TEMPERED <br><span class="black-system">GLASS
                                    DOOR</span></h3>
                            <p class="designer-content width-80">
                                Tempered glass emerges as the prime choice when prioritizing strength, thermal
                                resilience, and safety as important factors.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5 hot-yoga-b padding-left-right-0 ">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-54.png?v=1729499047" alt="#" class="padding-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20">
        <div class="container infra-tech">
            <div class="row ">
                <div class="col-md-12 padding-left-right-0">
                    <div class="middle-content  margin-tb">
                        <div class="row flex-reverce commercialspa-row">
                            <div class="col-md-5 padding-left-right-0 ">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-55.png?v=1729499091" alt="#" class="custome-made-cover padding-2">
                            </div>
                            <div class="col-md-7 padding-left-right-0">
                                <div class="padding-x width-80">
                                    <h3 class="industry-system">HEAT RESISTANT <span class="black-system display-block">COMMERCIAL SPEAKER<span class="black-system tradmark-symbol-1">™</span></span></h3>
                                    <p class="designer-content ">Experience the difference with our heat-resistant
                                        speaker systems designed to transform every session into an oasis of meditative
                                        music.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="full-part padding-top-20">
        <a href="/products/commercial-spa-485">
            <picture>
                <source media="(min-width:768px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-50.png?v=1728858721">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-485-used-66.png?v=1735114584" alt="Spa-Commercial-489-used-48" class="img-responsive">
            </picture>
        </a>
    </section>
    <section class="spa-benefit">
        
<div class="container p-0">
    <div class="row">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-56.png?v=1728858718" class="img-responsive" style="padding-top: 1%;" alt="">
    </div>
</div>    </section>
    </section>


{% schema %}
  {
    "name": "Comm testProduct Features",
    "settings": [
      
    ],
    "presets": [
      {
         "name": "Comm testProduct Features"
      }
    ]
    
  }
{% endschema %}