<section class="spa-485">
        <div class="acc-bg-blue">
            <div class="container">
                <div class="feature-h-text" data-toggle="collapse" data-target="#v3" aria-expanded="true">
                    <h4 class="head-a1">PRODUCT<span class=""> FEATURES</span> </h4>
                    <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
                </div>
            </div>
        </div>
</section>

<section class="spa-485-in collapse in" id="v3">
        <section class="full-part ">
            <div class="container mobile-space">
                <div class="middle-content infra-tech">
                <div class="row flex-reverce">
                    <div class="col-md-5">
                    <h3 class="industry-system-b padding-top-20 ">Medical Saunas's <span class="eeh-system-b display-block "> Energy Efficient Heating System </span>
                        <span class="" style="font-weight:800">25% less ENERGY </span>than our competitor 
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-03.jpg?v=1729501946" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    <div class="col-md-7 margin-top-15">
                    <div class="padding-x margin-top-80">
                        <h3 class="industry-system margin-top-15 margin-0 margin-top-120">ENERGY EFFICIENT HEATING <span class="black-system display-block">SYSTEM <span class="black-system tradmark-symbol-1">™</span>
                        </span>
                        </h3>
                        <p class="designer-content ">While our competitors' saunas may cost as much as $1000 per month, our saunas boast our proprietary Extreme Energy-Efficient Heating System™. This system uses only 25% of the power compared to competitors, potentially reducing your electric bill to between $50 and $250 and ensuring significant savings. In the first year alone, you could save thousands of dollars by choosing our saunas.</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="full-part margin-top-15 margin0">
            <div class="container mobile-space">
                <div class="middle-content">
                    <div class="row commercialspa-row flex-reverce">
                        <div class="col-md-7">
                            <div class="padding-x margin-top-70">
                                <h3 class="industry-system margin-top-80">ULTRA FULL SPECTRUM HEATERS<span class="tradmark-symbol-1">™</span><span class="black-system display-block">THAT HEATS UP 2X FASTER - <span class="display-block">PAIN RELIEF</span> </span></h3>
                                <p class="designer-content ">Many full-spectrum saunas release waves at one end of the
                                    spectrum, limiting their healing benefits. However, our Ultra Full Spectrum heaters
                                    offer one of the widest ranges of wavelengths seen in commercial saunas, designed for
                                    deeper skin penetration. This feature also conveniently allows the sauna to heat up 2x
                                    faster than standard models.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h3 class="industry-system-b padding-top-20">Medical Saunas's<span class="color-blue display-block "> <span style="font-weight:800">ULTRA</span>
                                    Full Spectrum<span class="tradmark-symbol-2">™</span></span> <span class="color-blue" style="font-weight:800">2X
                                    STRONGER </span>than Competitors</h3>

                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-13.png?v=1729502000" alt="#" class="custome-made-cover customised-img padding-2">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-part margin-top-15">
            <div class="container mobile-space">
                <div class="middle-content infra-tech">
                <div class="row flex-reverce">
                    <div class="col-md-5">
                    <h3 class="industry-system-b margin-top-120 ">
                        <span class="display-block">Medical Saunas's</span>
                        <span style="color:red;font-weight:800;"> Hot/ <span class="color-blue">Cold therapy</span>
                        </span> System <span class="black-system tradmark-symbol-2">™</span>
                        <span></span>
                        <span class="display-block" style="font-size:14px">Proprietary technology</span>
                    </h3>
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-14.png?v=1729502179" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    <div class="col-md-7">
                    <div class="padding-x margin-top-120">
                        <h3 class="industry-system hotcold">HOT/COLD <span class="black-system">CLEANSING SYSTEM <span class="black-system tradmark-symbol-1">™</span>
                        </span>
                        </h3>
                        <p class="designer-content ">In many saunas, slow heating systems hinder the recommended warm up and cool down rounds essential for hot/cold therapy's health benefits. Medical Sauna™ addresses this with our potent Rapid Internal Heating System™, enablingeffective hot/cold therapy for enhanced muscle relaxation and flexibility</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="full-part margin-top-15 margin0">
            <div class="container mobile-space">
                <div class="middle-content">
                    <div class="row commercialspa-row flex-customss">
                        <div class="col-md-7">
                            <div class="padding-x margin-top-70">
                                <h3 class="industry-system ">OXYGEN ION <span class="black-system">SANITATION
                                        SYSTEM<span class="black-system tradmark-symbol-1">™</span></span></h3>
                                <p class="designer-content ">Our Oxygen lon Sanitation System works tirelessly to
                                    clear away dust, bacteria, pollen, and other allergens to make the air you
                                    breathe pure and safe, so you can relax and enjoy your sauna experience without
                                    any worries
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h3 class="industry-system-b">
                                <span class="display-block">Medical Saunas's</span>
                                <span class="color-blue">Oxygen <span style="font-weight:800">CLEANSING</span> Ion
                                    System<span class="tradmark-symbol-2">™</span></span>
                                <span class="display-block" style="font-size:14px">Proprietary technology</span>
                            </h3>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-15.png?v=1729502232" alt="#" class="custome-made-cover customised-img padding-2 margin-top-10">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-part ">
            <div class="container mobile-space margin-top-15">
                <div class="middle-content infra-tech">
                    <div class="row flex-reverce">
                        <div class="col-md-5">
                            <h3 class="industry-system-b">
                                <span class="display-block">Medical Saunas's</span>
                                <span class="color-blue" style="font-weight:800">MOLECULAR Detox Routine<span class="tradmark-symbol-2">™</span></span>
                                <span class="display-block" style="font-size:14px">Proprietary technology</span>
                            </h3>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-16.png?v=1729502255" alt="#" class="custome-made-cover customised-img padding-2">
                        </div>
                        <div class="col-md-7">
                            <div class="padding-x margin-top-120">
                                <h3 class="industry-system margin-top-15 margin-0">DETOX <span class="black-system">ROUTINE</span>
                                </h3>
                                <p class="designer-content ">While other saunas claim to remove some toxins, our commericial
                                    line™ specializes in eliminating more harmful ones including heavy metals, phthalates,
                                    and other substances often found in daily life. Our Detox Routine enlarges skin pores to
                                    flush out these toxins to help you become healthier.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-part padding-top-20 margin0">
            <div class="container mobile-space">
                <div class="middle-content ">
                    <div class="row commercialspa-row custom-cleanflex">
                        <div class="col-md-7">
                            <div class="padding-x margin-top-80">
                                <h3 class="industry-system margin-top-15 margin-0">INSULATED CLEAN <span class="black-system display-block">AIRFLOW SYSTEM<span class="black-system tradmark-symbol-1">™</span></span></h3>
                                <p class="designer-content width-80">Poorly designed saunas often encounter unwanted
                                    temperature fluctuations, we've engineered a solution that works seamlessly with our
                                    advanced heating system maintaining your sauna at the perfect temperature with less
                                    effort while receiving the maximum performance</p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h3 class="industry-system-b">
                                <span class="display-block">Medical Saunas's</span>
                                <span class="color-blue">Insulated <span style="font-weight:800">Clean</span> Airflow
                                    System<span class="tradmark-symbol-2">™</span></span>
                                <span class="display-block" style="font-size:14px">Proprietary technology</span>
                            </h3>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-18.png?v=1729502312" alt="#" class="custome-made-cover customised-img padding-2">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="full-part ">
            <div class="container mobile-space">
                <div class="middle-content">
                <div class="row commercialspa-row infra-tech margin-top-15 margin-0 bluetooth-flex">
                    <div class="bluetooth-box" style="display: flex;">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-19.png?v=1729502328" alt="#" class="custome-made-cover customised-img padding-2 bluetooth-img">
                    <div class="padding-x margin-top-100">
                        <h3 class="industry-system bluethoot">BLUETOOTH <span class="black-system">FUNCTIONALITY</span>
                        </h3>
                        <p class="designer-content width-80 bluetooth-disk">Unlike other sauna companies that rely on outdated CDs and audio jacks, we've embraced innovation to enhance your sauna experience. Our saunas feature Bluetooth technology, allowing you to effortlessly control the ambiance with a full set of relaxing spa music. We believe in offering you complete control over your relaxation journey. ensuring a seamless and modern spa experience. </p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
        <section class="full-part padding-top-20 margin0">
            <div class="container mobile-space">
                <div class="middle-content ">
                    <div class="row commercialspa-row margin-top-15 margin-0 flex-dire-custom" >
                    <div class="col-md-7">
                        <div class="padding-x ">
                        <h3 class="industry-system">4D SURROUND <span class="black-system"> HEAT THERAPY <span class="black-system tradmark-symbol-1">™</span>
                            </span>
                        </h3>
                        <p class="designer-content">Many sauna companies lack surround heat in their saunas, as it involves developing a specialized motherboard that costs over $700,000 to engineer. However, at MedicalSaunas, we invested the time and resources to manufacture saunas with surround heat. Our saunas are equipped with multiple heating elements in the front, back, sides, and even under your legs, offering you a 4D Heat Therapy Experience unseen in other saunas.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h3 class="industry-system-b">
                        <span class="display-block color-blue">The World's First <span style="font-weight:800">4D Heat</span> Therapy Sstem <span class="tradmark-symbol-2">™</span>
                        </span>
                        <span class="display-block" style="font-size:14px">by Medical Saunas</span>
                        </h3>
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-20.png?v=1729502343" alt="#" class="custome-made-cover customised-img padding-2">
                    </div>
                    </div>
                </div>
             </div>
        </section>
        <!-- features 485 start -->
        <section class="container">
            <p class="product-feater-a">+ All the features of<span class="black-system com-feater"> Commercial Spa 485<span class="black-system tradmark-symbol-3">™</span></span>
            </p>
        </section>
        <section class="full-part nonono">
            <div class="container">
                <div class="row">
                    <div class="middle-content">
                        <div class="col-md-6 paddinglr-0">
                            <div class="panel-group" id="accordion-8">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#Twentyfour-f">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-18.png?v=1734782780" class="img-fluid featers-icons" alt="" width="8%"><span class="heading-acc">2x4
                                                Fortified Wood Framing
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="Twentyfour-f" class="panel-collapse collapse ">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New-images-23.png?v=1734957214" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                People maintain their home saunas, so 1x2 framing is adequate. However,
                                                commercial saunas require
                                                2x4 wood framing due to the heavy abuse and frequent usage they face from
                                                commercial users. We
                                                design our commercial saunas with 2x4 wood framing to withstand the heavy
                                                wear and tear of
                                                commercial environments. Every one of our commercial saunas is built to be
                                                practically
                                                indestructible.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel ">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseTwentyfive-f">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-19_8fa55816-46ef-43c2-8d8f-1a4ffe71a0af.png?v=1735191130" class="img-fluid panel-icon featers-icons" alt="" width="8%"><span class="heading-acc">
                                                10x Reinforced Commercial Grade Floors™
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon"></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyfive-f" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-25.png?v=1734957352" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                In commercial saunas the floor is the first thing to be damaged. Thats why
                                                instead of having wood
                                                every 10 inches, we reinforce the floors with heavy duty wood every 1 inch.
                                                This means we use 10
                                                times more wood than our competitors to avoid any issues.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#Twentyfour-fa">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-20_388f4678-71ff-446b-8289-654f323a8a6a.png?v=1735191602" class="img-fluid featers-icons" alt="" width="8%"><span class="heading-acc">Backed
                                                by 48 Doctors, Massage therapists, Physical <br>Therapist, &amp; Surgeon
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="Twentyfour-fa" class="panel-collapse collapse ">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-27.png?v=1734957452" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                Earning the trust and endorsement of doctors is challenging, especially
                                                considering the 8 to 12
                                                years they've dedicated to their education. As a result, many are selective
                                                about the brands they
                                                support. That's why, often when approached, they might decline unless
                                                they're truly passionate
                                                about and believe in your brand. We've spent over 30 years nurturing
                                                relationships with our
                                                doctors, aligning our goals to produce the most medically-endorsed saunas
                                                possible. This has
                                                earned the trust and support of 48 doctors for Medical Saunas. Our efforts
                                                mean you don't have to
                                                start from scratch. When you choose a Medical Spas, you inherit the trust of
                                                all the medical
                                                professionals backing us. And it's not just a claim — our product's name,
                                                "489", signifies the 48
                                                dedicated doctors with whom we've collaborated. This allows you to leverage
                                                the endorsements of
                                                the doctors listed on our website to promote your business, given that our
                                                saunas are featured in
                                                your facility.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel ">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseTwentyfive-fb">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-21_49243c0c-ca9c-4cae-a796-909766c7d7b8.png?v=1735191683" class="img-fluid panel-icon featers-icons" alt="" width="8%"><span class="heading-acc">
                                                Soaring Sauna Ceilings™
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyfive-fb" class="panel-collapse collapse">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-29.png?v=1734957527" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                Unlike the standard 77-inch tall saunas offered by our competitors, our
                                                commercial models stand
                                                out with a height of 86 inches. They comfortably accommodate people as tall
                                                as 6'8", which is the
                                                majority of the population.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#Twentyfour-fc">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-22_8b6ef903-adbd-45f6-abc4-1d1340321bb3.png?v=1735191762" class="img-fluid featers-icons" alt="" width="8%"><span class="heading-acc">Extra
                                                Long Ergonomic 31-Inch Tall Built-In Backrest
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="Twentyfour-fc" class="panel-collapse collapse ">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-31.png?v=1734957641" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                Going beyond the usual 12-inch sauna backrests, we decided on a spacious
                                                31-inch. Others may
                                                charge $500 for this feature, but we believe in providing a high level of
                                                comfort as a standard in
                                                our saunas.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel ">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseTwentyfive-fv">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-23_940c5fe0-ffdf-4d40-a7e7-c0367aff7958.png?v=1735191828" class="img-fluid panel-icon featers-icons" alt="" width="8%"><span class="heading-acc">
                                                31 Inch Chrome Easy Clean Handle with Washable Cover
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyfive-fv" class="panel-collapse collapse">
                                        <div class="">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-32.png?v=1734957750" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="panel-heading">
                                                Cleaning saunas can be challenging, but not with ours. Our commercial-grade
                                                handles are designed
                                                for easy maintenance and, measuring at 31 inches, they outsize the typical
                                                12-inch handles found
                                                in many saunas
                                            </p>
                                        </div>
                                    </div>
                                </div>
                          </div>
                        </div>
                        <div class="col-md-6 margin-bottom-15 paddinglr-0">
                            <div class="panel-group" id="accordion-10">
                                <div class="panel ">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentyfive-gf">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-24_c39dc437-35c0-47bb-b07a-e796fe50e054.png?v=1735191932" class="img-fluid panel-icon featers-icons" alt="" width="8%"><span class="heading-acc">
                                                Safety Auto Shut-Off Timer System
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyfive-gf" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="">
                                            <p class="panel-heading">
                                                Each of our saunas comes equipped with a timer that can be set for up to 90
                                                minutes. After this
                                                period, the sauna will automatically shut off unless the session is
                                                extended. The maximum duration
                                                for a single session is 90 minutes.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel  panel-border">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentysix-gd">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-25_b9685ae3-e640-4d2d-8d3c-c4c492c56199.png?v=1735192017" class="img-fluid panel-icon featers-icons" alt="" width="8%"><span class="heading-acc">
                                                3X Hemlock Walls™
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentysix-gd" class="panel-collapse collapse" style="height: 0px;">
                                        <div class="panel-heading">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-24.png?v=1734957882" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="acordian-disc">
                                                We want your sauna to be indestructible and to retain heat as effectively as
                                                possible. That's why,
                                                instead of using single hemlock wood like many of our competitors, we use it
                                                threefold. We
                                                construct all the walls with triple-layered wood, sealing your sauna and
                                                ensuring optimal heat
                                                retention, making it extremely hot, energy efficient and nearly
                                                indestructible.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel  panel-border">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentyseven-g">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-26_1ec61004-7c35-4d6b-982c-ec5a095abce1.png?v=1735192094" class="img-fluid panel-icon featers-icons" alt="" width="8%"> <span class="heading-acc">
                                                Inside &amp; Out Dual Control Panel
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9 commercai-spaarrow"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentyseven-g" class="panel-collapse collapse">
                                        <div class="panel-heading">
                                            <p class="acordian-disc">
                                                Our saunas are equipped with control panels both inside and outside. This
                                                allows you to easily
                                                adjust the temperature from either location.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel  panel-border">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentynin-gc">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-27_c0ec83f0-4355-4c88-8fd5-cc4e8cb6d6f2.png?v=1735192197" class="img-fluid panel-icon featers-icons" alt="" width="8%"> <span class="heading-acc">
                                                Clasp-Together Assembly
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9 commercai-spaarrow"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentynin-gc" class="panel-collapse collapse">
                                        <div class="panel-heading">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-26.png?v=1734958084" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="acordian-disc">
                                                A sauna is about relaxation and rejuvenation, not frustration. We upgraded
                                                our sauna construction
                                                with clasp together technology so you can have the most seamless of sauna
                                                assembly.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel  panel-border">
                                    <div class="panel-heading ">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentynin-gb">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-28.png?v=1734782780" class="img-fluid panel-icon featers-icons" alt="" width="8%"> <span class="heading-acc">
                                                Heat Resistant &amp; Tempered Glass Door
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9 commercai-spaarrow"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentynin-gb" class="panel-collapse collapse">
                                        <div class="panel-heading">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-28.png?v=1734958252" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="acordian-disc">
                                                Believe it or not, many saunas are not made with tempered glass doors, which
                                                is a safety hazard.
                                                If the glass breaks, it can hurt people. In order to make our saunas among
                                                the safest in the
                                                world, every glass used in our saunas is Heat Resistant &amp; Tempered. It's
                                                designed to withstand
                                                extreme temperatures, and if it were to break, it's safety glass that
                                                doesn't harm consumers. You
                                                can buy knowing you're getting one of the safest saunas ever built.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel  panel-border">
                                    <div class="panel-heading background-ddd">
                                        <h4 class="panel-title-a h4-panel collapsed" data-toggle="collapse" data-parent="#accordion-10" href="#collapseTwentynin-gba">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-29.png?v=1734782780" class="img-fluid panel-icon featers-icons" alt="" width="8%"> <span class="heading-acc">
                                                Heat Resistant Commercial Speakers™
                                            </span>
                                            <a class="flex-auto">
                                                <span class="glyphicon "></span>
                                                <i class="fa fa-angle-down  pull-right arrow-size9 commercai-spaarrow"></i>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwentynin-gba" class="panel-collapse collapse">
                                        <div class="panel-heading">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-489-New_images-30.png?v=1734958464" alt="" class="img-responsive mx-auto padding-2">
                                            <p class="acordian-disc">
                                                Many sauna companies use regular speakers inside their saunas, which is why
                                                the sound quality is
                                                poor and they break frequently. Our Heat Resistant Commercial Speakers™ are
                                                designed to handle the
                                                extreme temperatures of a sauna. Since they are commercial grade, you can
                                                use them for years
                                                without any issues, allowing you and your members to enjoy truly relaxing
                                                carefree spa music.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </div>
                </div>
         <!-- features 485 end -->
            
    </div>
</section>
    <section class="full-part padding-top-20">
                <a dataid="49380492214560"  href="javascript:void(0);" class="add_to_cart">
                    <picture>
                        <source media="(min-width:768px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-486-17_41dc993a-4fa7-4497-b255-c326c8b22c7c.png?v=1735193223">
                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-486-used-51.png?v=1735206308" alt="Spa-Commercial-489-used-48" class="img-responsive">
                    </picture>
                </a>
            </section>
            <section class="spa-benefit">
            <div class="container p-0">
                <div class="row">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Commercial-Medical-Spa-485-56_2c352632-9fbe-477b-a54c-6cca0ccdb1a3.png?v=1735193364" class="img-responsive" style="padding-top: 1%;" alt="">
                </div>
            </div>            
            </section>
    </section>

    <style>
       .flex-reverce {
         display:flex;
         flex-direction:row;
  }
   .industry-system.hotcold {
    margin-top:10px;
  }
      @media (max-width: 767px) {
        .flex-reverce {
             display: flex !important;
            flex-direction: column !important;
         }
          h3.industry-system.margin-top-80 {
             margin-top: 18px !important;
          }
      }
    </style>
<script>
  $(document).on('click', '.add_to_cart', function(event) {
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            // Redirect to the cart page after the item is successfully added
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
  
</script>
{% schema %}
  {
    "name": "commercial-pro-featu486",
    "settings": [
      
    ],
    "presets": [
      {
         "name": "commercial-pro-featu486"
      }
    ]
    
  }
{% endschema %}