<section class="middle-content">
        <div class="container">
            <h2 class="medical-doctor-spa-head">A Medical Doctor's Commercial Spa™</h2>
                    <!-- <img src="images/commercial-sauna-words.png" class="img-responsive mx-auto heading-img-web display-none" alt="new-design" >
                    <img src="images/Spa-Commercial-Homepage-mobile.png" class="img-responsive mx-auto heading-img-mobile display-md-none" alt="new-design" > -->
                    <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="img-center">

                            <figure>
                                <a href="/commercialspa485.php" style="text-align: -webkit-center;">
                                <picture>
                                    <source media="(min-width:769px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa5_febeaaa0-a5e6-4985-9132-c47dd7d6c30c.png?v=1733730991">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa5_febeaaa0-a5e6-4985-9132-c47dd7d6c30c.png?v=1733730991" class="img-responsive commercialspa5-img mx-auto" alt="Commercial Spa 485™" title="Medical-Commercial485">
                                </picture></a>

                                <figcaption class="traditional1_figcaption">
                                    
                                    <a href="/commercialspa485.php">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/learn-more.png?v=1733731075" alt="learn-more" class="img-responsive buy_now_img buy_now_img_width mx-auto"></a>

                                    <h3>

                                        <a href="/commercialspa485.php">Commercial Spa 485™</a>
                                    </h3>
                                    <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;"> $21,899 </div>
                                    </div>
                                        <mark style="background-color:#FF0; color:#f00;"> You Save: $11,350</mark> <br>
                                        <span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;"> $10,549</mark></span>
                                </figcaption>
                            </figure>
                        </div>

                    </div>


                    <div class="col-md-4">
                        <div class="img-left">

                            <figure>
                                <a href="/commercialspa486.php">
                                    <picture>
                                        <source media="(min-width:769px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa6_59e9a7c2-b050-4aa5-8605-532efccc5244.png?v=1733731174">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa6_59e9a7c2-b050-4aa5-8605-532efccc5244.png?v=1733731174" class="img-responsive commercialspa6-img" alt="Spa-Commercial-Homepage-16.png" title="Medical-Commercial486">
                                    </picture>
                                </a>

                                <figcaption class="traditional1_figcaption">
                                                                        <a href="/commercialspa486.php">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/learn-more.png?v=1733731075" alt="learn-more" class="img-responsive buy_now_img buy_now_img_width mx-auto"></a>
                                    <h3>
                                        <a href="/commercialspa486.php">Commercial Spa 486™</a>
                                    </h3>
                                    <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;"> $25,899 </div>
                                    </div>
                                    <mark style="background-color:#FF0; color:#f00;"> You Save: $13,350</mark> <br>
                                    <span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$12,549</mark></span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="img-left">


                            <figure>

                                <div class="main-commercialspa7-div">
                                    <a href="/commercialspa487.php">
                                    <picture>
                                    <source media="(min-width:769px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa0.png?v=1733735326">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa0.png?v=1733735326" class="img-responsive commercialspa7-img" alt="Spa-Commercial-Homepage-17.png" title="Medical-Commercial487">
                                </picture></a>
                                </div>


                                <figcaption class="traditional1_figcaption" style="margin-top: 0px;">
                                    
                                    <a href="/commercialspa487.php">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/learn-more.png?v=1733731075" alt="learn-more" class="img-responsive buy_now_img buy_now_img_width mx-auto center-line"></a>
                                    <h3 class="center-line">
                                        <a href="/commercialspa487.php">Commercial Spa 487™</a>
                                    </h3>
                                    <div style="color:gray;" class="center-line">Early Bird Special :
                                     <div style="text-decoration:line-through;display:inline;">$31,899 </div>
                                    </div>
                                    <mark style="background-color:#FF0; color:#f00;" class="mark-class"> You Save: $16,350</mark> <br>
                                    <span style="color:#f00;"> 
                                    <mark class="mark-class">$15,549</mark></span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    </div>
                </div>
            
<br>

            <div class="container margin-bottom">
                <div class="row bottom-img-container">

                    <div class="col-md-6">

                        <div class="img-left">
<br>
                            <figure>
                                <div class="main-commercialspa7-div">
                                <a href="/commercialspa488.php">
                                <picture>
                                    <source media="(min-width:769px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa8_c4902927-76d1-4ec5-ad53-a25da1b69f3e.png?v=1733731261">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa8_c4902927-76d1-4ec5-ad53-a25da1b69f3e.png?v=1733731261" class="img-responsive commercialspa8-img" alt="Spa-Commercial-Homepage-18.png" title="Medical-Commercial488">
                                </picture>
                                    </a>
                                </div>
                                <figcaption class="traditional1_figcaption">
                                                                        <a href="/commercialspa488.php">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/learn-more.png?v=1733731075" class="img-responsive buy_now_img buy_now_width mx-auto" alt="learn-more"></a>

                                        
                                    <h3>
                                        <a href="/commercialspa488.php">Commercial Spa 488™</a>
                                        <br>
                                    </h3>
                                    <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;"> $45,899 </div>
                                    </div>
                                    <mark style="background-color:#FF0; color:#f00; margin-left: 120px;"> You Save: $25,350</mark> <br>
                                    <span style="color:#f00; margin-left: 180px;"> <mark style="background-color:#BBEBFB; color:#f00;">$20,549</mark></span>
                                </figcaption>
                            </figure>
                        </div>

                    </div>


                    <div class="col-md-6">

                    <div class="img-left-2">

                        <figure>
                            <div class="main-commercialspa7-div">
                            <a href="/commercialspa489.php">
                            <picture>
                                <source media="(min-width:769px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/main-commercialspa9-Plusnew.png">
                                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/main-commercialspa9-Plusnew.png" class="img-responsive commercialspa9-img" alt="Spa-Commercial-Homepage-18.png" title="Medical-Commercial489">
                            </picture>
                            </a>

                            </div>
                            <figcaption class="traditional1_figcaption">
                                                                <a href="/commercialspa489.php">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/learn-more.png?v=1733731075" class="img-responsive buy_now_img buy_now_width mx-auto center-line1" alt="learn-more"></a>
                                <h3>
                                    <a href="/commercialspa489.php" class="plus489-a">Commercial Spa 489Plus™</a>
                                    <br>
                                </h3>
                                <div class="plus489-div">Early Bird Special : <div style="text-decoration:line-through;display:inline;"> $60,899 </div>
                                </div>
                                <mark class="plus489-mark"> You Save: $35,350</mark> <br>
                                <span style="color:#f00; "> <mark class="plus489-mark1">$25,549</mark></span>
                            </figcaption>
                        </figure>
                    </div>
                    


                    </div>

                    
                </div>
            </div>

            <div class="medicalsaunas_clearfix_1"></div>

            <div class="container">



                <div class="row">

                    <div class="col-md-12 text-center">


                        <!-- <img src="images/word4.png" class="img-responsive med_word4_img" alt=""> -->
                        <h3 class="yt-head">See what doctors &amp; technicians have to say about the Medical Saunas<sup class="tradmark-a" style="vertical-align: sub;">™</sup></h3>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/hZssVm8OQo4" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Dr. Damon Gangemi D.C. </strong>

                                25 Years of Practice
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/9Nv5aoLCU1w" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;"><strong style="display:block;">Tom Jackson -</strong>

                                Certified Contractor/Construction<br>50 Years of Experience

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4">

                        <figure>
                            <iframe src="https://www.youtube.com/embed/bhwe3l5q9Kk" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;"><strong style="display:block;">Rick Roland - </strong>

                                Certified Carpenter/Construction
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>


                <div class="row">

                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/jEG3rxl0PJM" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="font-size:14px; line-height:18px;">
                                <strong style="display:block;"><a href="https://www.medicalsaunas.com/ktaylor.php">Katie Taylor - Medical Sauna™ Customer</a></strong>

                                <a href="https://www.medicalsaunas.com/ktaylor.php">Extended Her
                                    Late Husband's Life by 12 Years <br> (Click Here to read the full story)</a>
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/OuPhQ0-pzMU" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;"><strong style="display:block;">Christine Bray - </strong>

                                Gym Enthusiast

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4">

                        <figure>
                            <iframe src="https://www.youtube.com/embed/ObtBzW3fFtA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;"><strong style="display:block;">Relieves Back Surgery Pain </strong>

                                Arthritis Pain, &amp; Tendonitis
                            </figcaption>
                        </figure>



                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>


                <div class="row">

                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/JbTlT0AKU5c" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;"><strong style="display:block;">Extremely Low EMF Medical Sauna™</strong>

                                PHD &amp; US Air Force </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/Y_-LYWuSItI" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;"><strong style="display:block;">Adam Gross - Senior IT Technician </strong>

                                Suffers from Chronic Asthma

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4">

                        <figure>
                            <iframe src="https://www.youtube.com/embed/CLpWwp82kIA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;"><strong style="display:block;">Joe Jackson - Senior Instructor </strong>

                                35 Years in Education
                            </figcaption>
                        </figure>



                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>

                <div class="medicalsaunas_clearfix"></div>
            </div>
        
    </section>
    <style>
    @media only screen and (max-width: 576px) {
    .yt-head {
        font-size: 18px !important;
    }
      .margin-bottom{
        margin-bottom:30px !important;
      }
       }
    </style>
    {% schema %}
  {
    "name": "commercial spa",
    "settings": [],
    "presets":[
      {
        "name": "commercial spa"
      }
    ]
  }
{% endschema %}