<style>
  @media only screen and (max-width: 749px) { 
    .shopify-section {
        margin-top: -7px;
    }
  }
</style>
<section>
      <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/newbackcontact.png?v=1743757565" class="section-contacts">
    </section>
    {% schema %}
  {
    "name": "contact us banner",
    "settings": [],
    "presets":[
      {
        "name": "contact us banner",
      }
    ]
  }
{% endschema %}