<section class="newbluebaar">
<div class="container-fluid">
<div class="row">
<div class="col-md-12 text-center">
<ul class="navigationlist">
<li class="bluebar_li">
<a href="#">
<div class="media">
  <div class="media-left">
      <img class="media-object" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Custom-homepage-Mobile+-+New-02.png" alt="medicalsauna's medical devices">
  </div>
  <div class="media-body">
    <h4 class="media-heading desktop_text">The only company
      that's<br> Recommended
      by<br> 48+ MDs.</h4>
      <h4 class="media-heading mobile_text">The only company
      that's<br> Recommended
      by 48+ MDs.</h4>
  </div>
</div>
</a>
</li>


<li class="bluebar_li"><div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Custom-homepage-Mobile+-+New-03.png" alt="medicalsauna's offers">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading desktop_text">More than
    <br>50%<br> OFF</h4>
    <h4 class="media-heading mobile_text">More than 50% OFF</h4>
  </div>
</div></li>

<li class="bluebar_li">

<a href="#">

<div class="media">
  <div class="media-left">
    
      <img class="media-object" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Custom-homepage-Mobile+-+New-04.png" alt="medicalsauna's offers 1">
  
  </div>
  <div class="media-body">
    <h4 class="media-heading desktop_text">Early Bird Special:<br>The earlier you buy,<br>the more you save.</h4>
    <h4 class="media-heading mobile_text">Early Bird Special:
    The earlier <br> you buy,
    the more you save.</h4>
  </div>
</div>
</a>

</li>


<li class="bluebar_li"><div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Custom-homepage-Mobile+-+New-05.png" alt="medicalsauna's open hourse">
    </a>
  </div>
  <div class="media-body">
     <h4 class="media-heading desktop_text">Open 18 Hours<br> a Day, <br>7 Days a Week.</h4>
     <h4 class="media-heading mobile_text">Open 18 Hours a Day, <br>7 Days a Week.</h4>
  </div>
</div></li>
  
<li class="bluebar_li"><div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Custom-homepage-Mobile+-+New-06.png" alt="medicalsauna's offering">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading desktop_text">Don't Wait, Call Now <br><strong style="color:#FF0;">(818) 805-0026</strong> <br>We're here to help.
    </h4>
    <h4 class="media-heading mobile_text">Don't Wait, Call Now <br><strong style="color:#FF0;">(818) 805-0026</strong> <br>We're here to help.
    </h4>
  </div>
</div></li>

</ul>
<div class="clearfix">
</div>
</div>
</div>
</div>
</section>
{% schema %}
  {
    "name": "contact us bar",
    "settings": [],
    "presets":[
      {
        "name":"contact us bar"
      }
    ]
  }
{% endschema %}