{% comment %} <div class="medical-banner-container w3_bg">
    <a href="/collections/medical-saunas">
      
    {% assign banner_from_collection = collections['medical-saunas'].metafields.custom.home_page_banner %}
    {% assign banner_from_collection_mobile = collections['medical-saunas'].metafields.custom.home_page_banner_mobile %}
      
        <img src="{{ banner_from_collection }}"
           alt="Snow" class="w-100 desktop-view" width="" height="" data-done="Loaded">
        <div class="mb-bannerimg w3_bg">
        <img src="{{ banner_from_collection_mobile }}"
          alt="Snow" class="w-100" width="" height="" data-done="Loaded">
       </div>
    </a>
    <div class="mcall-now w3_bg">
          Don't Wait. <a href="tel: (818) 805-0026" class="link-mcall">
          <span class="call-nowmd">Call Now! </span>
          <span style="color:#fff;text-decoration: none;">
         (818) 805-0026 </span></a>
    </div>
</div> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <style>
      h3.countlesscel-head {
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          color: #000;
          margin-top: 40px;
          margin-bottom: 40px;
          margin-left: -118px;
      }

    .owl-carousel .owl-item {
        margin-right: 9px !important;
    }

    .owl-carousel .item {
      text-align: center;
      padding: 10px;
      margin: 5px;
      cursor:pointer;
    }

    .owl-carousel .item img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .owl-carousel .item h4 {
        margin: 10px 0 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .owl-carousel .item p {
        margin: 0;
        font-size: 14px;
        color: #000;
        text-align: center;
    }

    .progress-bar-wrapper {
      height: 5px;
      background: #ddd;
      margin-top: 15px;
      border-radius: 5px;
      overflow: hidden;
    }

    .progress-bar {
      height: inherit;
      background: black;
      width: 20%; /* Initial 20% */
      transition: width 0.3s ease;
    }
    .progress-bar {
        position: absolute;
        background-color: #3b3b3b !important;
    }
    #coutn-less .item p{
      margin: 0;
      font-size: 14px;
      color: #000;
      text-align: center;
      display: flex;
      width: 100%;
      justify-content: center;
    }
     #coutn-less .owl-nav {
        display: flex;
        justify-content: space-between;
        position: relative;
        /* top: -230px; */
        font-size: 65px;
        margin-bottom: -90px;
    }
    #coutn-less button.owl-prev {
        position: relative;
        left: -40px;
      top: -230px;
    }
    #coutn-less button.owl-next {
        position: relative;
        right: -40px;
      top: -230px;
    }

    /* Responsive tweak for item spacing */
    @media (max-width: 600px) {
      h3.countlesscel-head {
          font-size: 25px;
          margin-top: 30px;
          margin-bottom: 20px;
          margin-left: 0px;
      }
      .d-md-block{
        display:block;
      }
      .owl-carousel .item {
          padding: 0px;
      }
       .owl-carousel .item h4 {
        font-size: 14px;
      }
      .owl-carousel .item p {
        font-size: 13px;
      }
      #coutn-less .item p {
          font-size: 12px;
          line-height: 15px;
      }
      
    }
  </style>


<div class="medical-banner-container w3_bg">
  <h3 class="countlesscel-head">Countless Celebrities Sauna <span class="d-md-block">of Choice</span></h3>
  <div class="carousel-container">
    <div class="owl-carousel count-carousel " id="coutn-less">
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_01.png" alt="">
        <h4>DeMarcus Ware</h4>
        <p>NFL Linebacker</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_02.png" alt="">
        <h4>John Donahoe</h4>
        <p>Nike CEO, Chairman of Paypal</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_03.png" alt="">
        <h4>Meghan Trainor</h4>
        <p>Singer - Songwriter</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_04.png" alt="">
        <h4>Zane Gonzalez</h4>
        <p>NFL Kicker</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_05.png" alt="">
        <h4>Matthew Winkler</h4>
        <p>Editor-in-Chief, Bloomberg</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_06.png" alt="">
        <h4>Matthew Kammerer</h4>
        <p>Executive Chef, The Harbor INN</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_07.png" alt="">
        <h4>G. Turner Howard II</h4>
        <p>Tennis Player/Attorney</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_08.png" alt="">
        <h4>Matthew Maddox</h4>
        <p>CEO of Wynn Resorts</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_09.png" alt="">
        <h4>Logan Wilson</h4>
        <p>NFL Player</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_10.png" alt="">
        <h4>Alexander Wennberg</h4>
        <p>Swedish NHL Player</p>
      </div>
      <div class="item">
        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/site/indexcelb_11.png" alt="">
        <h4>Alex Morono</h4>
        <p>UFC Fighter</p>
      </div>
    </div>
  
    <div class="progress-bar-wrapper">
      <div class="progress-bar" id="progressBar"></div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
  $(document).ready(function(){
    var $carousel = $(".count-carousel");

    // Start with 20%
    $('#progressBar').css('width', '20%');

    // Progress steps after first 20%
    const steps = [30, 60, 100, 0, 20];

    $carousel.owlCarousel({
      stagePadding: 30,
      loop: true,
      autoplay:true,
      margin: 10,
      nav: true,
      dots: false,
      responsive:{
        0:{ items:2 },
        600:{ items:3 },
        800:{ items:3 },
        1000:{ items:6 }
      }
    });

    let progressIndex = 0;

    function updateProgress() {
      // Cycle through steps array
      $('#progressBar').css('width', steps[progressIndex] + '%');
      progressIndex = (progressIndex + 1) % steps.length;
    }

    $carousel.on('changed.owl.carousel', updateProgress);
  });
</script>


{% schema %}
  {
    "name": "countless180425",
    "settings": [
      {
        "type": "image_picker",
        "id": "deskimage",
        "label":"Desktop Image"
      },
      {
        "type": "text",
        "id": "head_name",
        "label":"celebs name"
      },
      {
        "type": "text",
        "id": "head_prop",
        "label":"celebs prop"
      }
    ],
    "presets":[
      {
        "name":"countless180425"
      }
    ]
  }
{% endschema %}