<div class="container glkhjgflkhkfd">
      <div class="row">
         <div class="col-md-12 paddinglr-0">
            <div class="middle-content">
               <h2 class="ourstory-head"><strong style="color:#000;">Let Us Tell You Our Story</strong></h2>
               <h3 class="ourstory-subhead"><strong><font color="0096d9">From the Beginning...</font></strong></h3>
               <p>
                  There are many saunas available on the market, but they lack one critical factor — they were  <strong>not designed by doctors</strong>. There are a lot of documented studies about how effective saunas are at relieving various medical conditions. For that reason, we were surprised to discover that virtually no company was manufacturing a true medical sauna backed by doctors. Although we were happy to wait for another company to develop the perfect sauna, after years of waiting, it became clear that was not going to happen. We grew tired of waiting. This is why we started developing our very own Medical Saunas™. 
               </p>
               <h3 class="ourstory-subhead"><strong><font color="0096d9">Our Development Process</font></strong></h3>
               <div class="row fdgfdsgddcddd">
                  <div class="col-md-6 paddinglr-0 pt-m0">
                     <p>Before we built our saunas we tried, tested, and heavily researched all the leading saunas on the market, and the results we found were frightening. Most of the saunas being sold today miss the whole point of being medical. A great sauna should help relieve pain, detoxify your blood, improve joint health, and reduce arthritic pain <strong>at a minimum</strong>.</p>
                     <p>Unfortunately, most saunas fail to meet this basic threshold. Even worse, some of the saunas we tested cause more harm than good.  We looked up each sauna's EMF ratings, and found that some of them had much higher emissions than they were rated for, which is deceptive.</p>
                     <p>If a company would lie about that, what else aren't they telling you? Because saunas are so popular, most saunas are made just to cash in on the sauna craze. They are poorly made with shoddy materials and provide practically no health benefits.</p>
                     <p>Making money is important for any company, but this is not a priority for us when we’re creating our sauna. The most important thing is helping the thousands of people that buy our saunas every year.</p>
                  </div>
                  <div class="col-md-6">
                     <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Untitled-2222_02ff4e9a-4a3d-4d21-8e8a-ea00fd71f827.jpg?v=1734782030" alt="medical saunas's factory" style="border-radius:20px; margin-top:15px;"> 
                  </div>
               </div>
               <div class="row fdgfdsdgddcddd">
                  <div class="col-md-12 paddinglr-0">
                     <p>84 million Americans suffer from cardiovascular problems*,  53 million Americans deal with arthritis**,  and 60 million Americans have problems sleeping every night†.  Our saunas are without equal and will not only make you feel good while you’re inside them, but have a lasting impact after you step out.  We’ve worked around the clock with some of the biggest doctors from Princeton, Yale, and Stanford to create and develop the ultimate line of saunas.  Together, it took us over 10 years to perfect the process.  Since the medical benefits of saunas were our sole priority throughout the design and engineering process, we felt that there was no better name for our company than Medical Saunas™. </p>
                  </div>
               </div>
               <p>We accept nothing less than perfection so we are in control of the product from start to finish; we don't allow any middlemen to compromise our vision. You can purchase our saunas directly from us with confidence, knowing that you're getting an unmatched product.</p>
               <p>Many of our competitors offer saunas that are poorly made or that are missing key heating features. Medical Saunas are made with top notch materials, our manufacturing practices are industrial grade, and our facilities are world class.  We spare no expense when making saunas that can help you <strong>heal</strong>.</p>
               <p>
                  It's our mission to help you improve your body, mind, and soul with our saunas. We are proud to finally unveil our sauna with truly  <strong>medical</strong> benefits -- A Medical Doctor's Sauna.
               </p>
               <p> <font size="2"><br>Medical Saunas™ is a division of Medical Breakthrough™.</font></p>
               <p class="dsfsddsas"> <font class="sdfddddd" size="1"> *https://www.hopkinsmedicine.org/healthlibrary/conditions/cardiovascular_diseases/cardiovascular_disease_statistics_85,P00243/<a href="https://www.hopkinsmedicine.org/healthlibrary/conditions/cardiovascular_diseases/cardiovascular_disease_statistics_85,P00243/"> </a><br> **https://www.cdc.gov/chronicdisease/resources/publications/aag/arthritis.htm<a href="https://www.cdc.gov/chronicdisease/resources/publications/aag/arthritis.htm"></a><br> †https://www.cdc.gov/features/dssleep/<a href="https://www.cdc.gov/features/dssleep/"></a></font></p>
            </div>
         </div>
      </div>
   </div>


   <style>


     h3.ourstory-subhead {
    justify-content: center;
    display: flex;
}

     .ourstory-subhead {
    font-size: 30px;
    text-align: center;
}


     img.image-00 {
    display: block;
    width: 100%;
    padding-top: 0px;
    background-size: cover;
    height: 500px;
}
     .glkhjgflkhkfd .middle-content p {
    font-family: Open Sans,sans-serif!important;
    color: #545454;
    cursor: default;
    font-size: 14px;
    line-height: 26px;
    margin: 5px 0;
    padding: 0;
    text-align: justify;
}
     .container.glkhjgflkhkfd {
    width: 1301px!important;
}
     .fdgfdsgddcddd img {
    width: 585px;
}
     .fdgfdsgddcddd p {
    margin-bottom: 6px!important;
}
     .fdgfdsgddcddd img {
    width: 585px;
    height: 348px;
    object-fit: cover;
}
  @media only screen and (max-width: 767px) {

       img.image-00 {
          display: none;
      }
    h3.ourstory-subhead {
        font-size: 28px;
        margin-bottom: 0;
  }
      .pt-m0{
         padding-top: 0px !important;
      }
    .middle-content p{
      color: #535353;
      line-height: 26px;
    }
    .container.glkhjgflkhkfd {
    width: 100%!important;
}
    .glkhjgflkhkfd .middle-content h2 {
    font-size: 28px;
    margin-bottom: -4px;
}
    .glkhjgflkhkfd h3.ourstory-subhead {
    font-size: 25px;
    margin-bottom: 0;
}
   
   .fdgfdsgddcddd img {
    width: 100%;
    height: auto!important;
    object-fit: cover;
    margin-top: 4px!important;
}
    font.sdfddddd {
    line-break: anywhere;
    line-height: 0px!important;
}
    p.dsfsddsas {
    margin-bottom: 13px!important;
}
  }  
     
     
   </style>

{% schema %}
  {
    "name": " custom our story",
    "settings": [

      
    ],
    "presets": [
      {
      "name":"custom our story"
      }
    ]
  }
{% endschema %}