<div class="container">
  <div class="Inner-main">
    <div class="col-md-12 col-sm-12 col-xs-12 p-0" style="padding-top:10px; margin:0px;">
      <div class="row sdefdsfdsfzzz">
        <div class="col-md-2 align-center">
          <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/snake.png?v=1726789515" class="img-responsive">
        </div>
        <div class="col-md-10 p-0">
          <h4 class="doctors_h4">
            <strong style="color: #000; text-align: center; line-height: 1.3; text-align: justify;"> List of Doctors, Chiropractors, Massage Therapists &amp; Pain Specialists that Use the Medical Saunas™!</strong>
          </h4>
        </div>
      </div>
      <div class="rdgfddfsgs">
      <div class="col-md-7 p-0">
        <div class="doctor">
          <p>Did you know that 120,000 people die every year as a direct result of stress? Even more horrifying is the fact that stress contributes to the deaths of nearly 2.8-million workers every year. These are very high numbers for a problem that can be prevented easily. In the United States, more than 800,000 people die from cardiovascular disease each year, the CDC states. That’s 1 in every 3 deaths, and about 160,000 of them occur in people under age 65. So, why are we not pushing hard enough for solutions? How can we help bring down these scary numbers? <br>
          </p>
          <p>Athletes are already familiar with the benefits of sweating, from cooling and detoxing the body to clearing the skin and preventing infection. However, a sauna can also offer a sweat session while reducing, rather than raising, inflammation. A medical study found that sauna use four to seven times per week reduces the risk of death from cardiovascular disease by as much as 58%. Also, Sauna heat helps widen blood vessels and improve circulation, which reduces blood pressure. </p>
        </div>
      </div>
      <div class="col-md-5">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sauna-dr-image.jpg?v=1728842845" alt="medicalsauna's doctors - 01" class="img-responsive chiropractic">
      </div>
        </div>
      <div class="col-md-12 p-0">
        <div class="doctor">
          <p>All of that seems like perfect reasons to get your very own sauna until you go shopping. A common problem is that most of the Saunas available on the market do little-to-nothing to help anyone medically. They don’t improve cardiovascular health or help in reducing stress because of poor manufacturing and sub-optimal features. What is the point of investing money in your well-being if all you get is fear and even more stress?</p>
          <p>We waited and waited, years to be exact, for Saunas that put health and wellness first for people that need them the most. Waiting did not work because there was zero progression on the matter. It felt like we were the only ones that emphasized the necessary benefits of Sauna use so, we decided to design our very own. We worked with as many Cardiologists, Chiropractors, Physical therapists, and pain specialists that would lend us their time. We wanted our Medical Saunas to help the millions of people suffering from chronic pains and extreme stress disorders. </p>
          <p>Everything we do is a reflection of how we want to help our customers live better lives, longer. Below are just a few doctors that use our Medical Saunas. </p>
        </div>
      </div>
      <div class="doctor dsefdsdddd">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/dr-sauna.jpg?v=1728841727" alt="medicalsauna's doctors" class="img-responsive">
      </div>
    </div>
  </div>
</div>



<style>


</style>



{% schema %}
  {
    "name": "Dr Page Content",
    "settings": [

    
    ],
    "presets": [
    {
        "name":"Dr Page Content"
    }
    ]
  }
{% endschema %}