<section class="ecpdesktop-show">
  <h3 class="countlesscel-head">Experience Clinically <span class="d-md-block">Proven Health Benefits </span></h3>
  <div class="container-fluid">
    <div class="epchealb-main">
       <div class="row">
          <div class="col-md-6">
            <div class="accordion-ecp">
              <div class="at-item at-itema">
                <div class="at-title active">
                  <h2><span class="ecp-head">01</span> Whole-Body Healing</h2>
                </div>
                <div class="at-tab" style="display: block;">
                  <p>
                    Our saunas are medically developed to relieve pain, enhance recovery, and support your long-term physical health.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Muscle and joint pain relief</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Cardiovascular support</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Post-workout recovery</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Improved circulation</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="at-item at-itemb">
                <div class="at-title">
                  <h2><span class="ecp-head">02</span> Detox & Immune Support</h2>
                </div>
                <div class="at-tab">
                 <p>
                    Each session helps your body eliminate toxins and strengthens immune response by stimulating white blood cell production.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Full-body detoxification</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Immune system activation</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>White blood cell production</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Internal cleansing</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="at-item at-itemc">
                <div class="at-title">
                  <h2><span class="ecp-head">03</span> Stress Relief & Sleep</h2>
                </div>
                <div class="at-tab">
                  <p>
                    By reducing cortisol levels and calming the nervous system, our saunas help you relax deeply and sleep more soundly.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Cortisol reduction</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Deep relaxation</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Insomnia relief</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Restorative sleep</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="at-item at-itemd">
                <div class="at-title">
                  <h2><span class="ecp-head">04</span> Weight Loss & Performance Boost</h2>
                </div>
                <div class="at-tab">
                  <p>
                    Our saunas integrate specialized heat technologies to promote weight loss, increase stamina, and elevate overall physical performance.
                  </p>
                  <ul class="list-unstyled">
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Calorie burning</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Increased stamina</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Heat tolerance</span>
                    </li>
                    <li>
                      <i class="fa fa-check-circle epc-pade8" aria-hidden="true"></i><span>Oxygen circulation</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
             <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/epchealthb_04.png?v=1745228691" alt="" class="epchealthb_img1">
             <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/epchealthb_03.png?v=1745228691" alt="" class="epchealthb_img2">
             <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/epchealthb_02.png?v=1745228691" alt="" class="epchealthb_img3">
             <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/epchealthb_01.png?v=1745228691" alt="" class="epchealthb_img4">
          </div>
        </div>
    </div>
   
  </div>
</section>


<style>
  .epchealthb_img2,.epchealthb_img3,.epchealthb_img4{
    width:100%;
  }
  .epchealb-main{
    width: 97%;
    margin: 20px auto;
  }
  .epchealb-main .row{
    display: flex;
    align-items: center;
  }
  .accordion {
      max-width: 1170px;
      margin: 40px auto 0;
    }
    
    .at-tab {
      display: none;
      padding: 15px 55px;
      border-top: none;
      color:#000;
    }
    .at-tab p{
      color:#000;
      font-size: 16px;
    }
    .at-title.active h2 {
        color: #000;
    }
    .at-title {
      cursor: pointer;
      position: relative;
      transition: background-color 0.3s ease;
    }
      span.ecp-head {
        font-size: 15px;
    }
    
    
    .at-title:hover {
      background-color: #e0e0e0;
    }
    .list-unstyled{
      list-style: none;
      line-height: 35px;
      font-size: 16px;
    }
    .epc-pade8{
      padding-right: 8px;
    }
    
    .at-title:after {
      content: "+";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10px;
      transition: all 0.3s ease;
      font-size: 24px;
      color: #757575;
    }
    
    .at-title.active:after {
      content: "-";
    }
    
    .at-item {
      border-radius: 5px;
      margin-bottom: 15px;
    }
    
    .at-title h2 {
      font-size: 30px;
      font-weight: 600;
      padding: 10px 15px;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 20px;
      color: #757575;
      
    }
    
    .accordion-header {
      text-align: center;
      background-color: #222222;
      color: white;
      padding: 20px 0;
    }
  .epchealthb_img1{
    width:100%;
  }
  .epchealthb_img2 {
      display: none;
  }
  .epchealthb_img3 {
      display: none;
  }
  .epchealthb_img4 {
      display: none;
  }
  
  @media (max-width: 600px) {
    .ecpdesktop-show {
        display: none;
    }
   }
  
</style>
<script>
  $(document).ready(function () {
      $(".at-title").click(function () {
        $(this)
          .toggleClass("active")
          .next(".at-tab")
          .slideToggle()
          .parent()
          .siblings()
          .find(".at-tab")
          .slideUp()
          .prev()
          .removeClass("active");
      });
    });
  $(document).ready(function () {
    $('.at-itema, .at-itemb, .at-itemc, .at-itemd').on('click', function () {
      const targetClass = $(this).attr('class').match(/at-item([a-d])/)[1];
      $('.epchealthb_img1, .epchealthb_img2, .epchealthb_img3, .epchealthb_img4').hide();
      $('.epchealthb_img' + (targetClass === 'a' ? '1' : targetClass === 'b' ? '2' : targetClass === 'c' ? '3' : '4')).show();
    });
  });


</script>
{% schema %}
{
  "name": "ecphealthbft180425",
  "settings": [],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "ecphealthbft180425",
    }
  ]
}
{% endschema %}
