<section class="faq-spa">
        
    <div class="acc-bg-blue">
        <div class="container">
            <div class="feature-h-text" data-toggle="collapse" data-target="#spa1-a1" aria-expanded="true">
                <h4 class="head-a1">FREQUENTLY ASKED<span class=""> QUESTIONS?</span> </h4>
                <i class="fa fa-angle-down head-arrow arrow-gray rotate180"></i>
            </div>
        </div>
    </div>
    <div class="container collapse in" id="spa1-a1">
        <div class="row">
            <div class="col-md-12 panel-group paddinglr-0" id="accordion-1">
                <div class="panel">
                    <div class="">
                        <h4 class="panel-title-aa h4-panel padding-top-0" data-toggle="collapse" data-parent="#accordion-1" href="#Twentyfour" style="text-align: start;margin-top:0;margin-bottom:0;">
                            <span class="heading-acc2">Why is it called 485, 486, 487, 488 and 489?
                            </span>
                            <a>
                                <span class="glyphicon "></span>
                                <i class="fa fa-angle-down  pull-right arrow-size9 rotate180"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="Twentyfour" class="panel-collapse collapse in ">
                        <div class="">
                            <p class="acordian-disc">
                                Because over 48 doctors work tirelessly on commercial saunas, we want to honor and remember their hard work in helping make these saunas provide as many medical benefits as possible .
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel  panel-border">
                    <div class="">
                        <h4 class="panel-title-aa h4-panel" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentyfive" style="text-align: start;margin-top:0;margin-bottom:0;">
                            <span class="heading-acc2">Why can't I use a residential sauna for commercial use?
                            </span>
                            <a>
                                <span class="glyphicon "></span>
                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwentyfive" class="panel-collapse collapse">
                        <div class="">
                            <p class="acordian-disc">
                                Owners usually take care of their saunas, but commercial members often do not. Therefore, we must make the sauna almost indestructible for commercial use. The commercial spa series is made so indestructible that it is made to be used 15 hours a day, 365 days a year, without any issues.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel  panel-border margin-bottom-15">
                    <div class="">
                        <h4 class="panel-title-aa h4-panel" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentysix" style="text-align: start;margin-top:0;margin-bottom:0;">
                            <span class="heading-acc2">Can I use the doctor's name for my business?
                            </span>
                            <a>
                                <span class="glyphicon "></span>
                                <i class="fa fa-angle-down  pull-right arrow-size9"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwentysix" class="panel-collapse collapse">
                        <div class="">
                            <p class="acordian-disc">
                                Yes, that's one of the benefits of purchasing a commercial sauna from Medical Saunas. Not only do you obtain a high-quality Commercial Spa, but you also receive the backing of over 48 professionals, including doctors, chiropractors, nurse practitioners, massage therapists, physical therapists, nutritionists, and surgeons. There's no need to spend 30 years building doctor endorsements for your business. Simply highlight that your establishment boasts a Commercial Medical Spa backed by over 48 medical professionals. You're permitted to use any of their full names to bolster your business, given that you have one of our saunas on your premises.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% schema %}
  {
    "name": "FAQ Commercial spa 489",
    "settings": [],
    "presets":[
      {
        "name": "FAQ Commercial spa 489"
      }
    ]
  }
{% endschema %}