<div class="dr footer-content-c hidden-xs" style="background-color:#1F5D8C;">
    <div class="container-fluid ">
    <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF; line-height:14px;padding-top:10px;">
                   <b>* The pictures and diagrams displayed on the website represent our saunas. However, the actual
                        model may differ. Please note that the design and construction may be subject to changes to
                        enhance the quality of the sauna. If you apply for financing, it is based on approved credit,
                        taxes and fees may apply.</b>
                   </p>
                <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF; line-height:14px;"><b>† All
                        photos, digital art, names, logos, and brands are property of their respective owners. All
                        photos,
                        digital art, company, product and service names used in this website are for informational
                      purposes
                        only. These images are digital enhanced artwork. Actual product may look different. Use of these
                        names, artwork, logos, photos and
                        brands does not imply any kind of endorsement.</b></p>
                <p style="font-family: 'Open Sans', sans-serif; font-size:10px; color:#FFF;line-height:14px;"><b>^ See
                        warranty card for full details</b></p>
            </div>
        </div>
    </div>
</div>

<style>
  .footer-content-c .col-md-12.col-sm-12.col-xs-12 {
    padding-right: 0!important;
}
</style>

{% schema %}
  {
    "name": "footer bar",
    "settings": [],
    "presets":[
      {
      "name": "footer bar"
      }
    ]
  }
{% endschema %}