<section style=" margin-bottom: 2rem;" class="review-headingz">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="unc white uuu" id="a"> <span class="blue-c ">Uncensored, Unedited, Unfiltered</span>
                    Customer
                    Reviews</h4>
                <p class="here white">To help you decide for yourself how good Frozen<span
                        class="tradmark-symbol-1">™</span> Cold Plunge is, we have listed REAL, UNCENSORED, UNEDITED
                    reviews, <br>
                    emails and comments from customers who have paid for and used Frozen.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li> -->
                    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                </ol>

                <!-- Wrapper for slides -->
                
                <div class="carousel-inner">
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Minnie A.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Dothan, AL</span>
                                    </p>
                                    <p class="  dolor ">
                                        I love the cover it really helps keep it clean when Im out of town.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Huxley I.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Great Falls, MT</span>
                                    </p>
                                    <p class="  dolor ">
                                        The sanitization and filtration system saves me from regular maintenance. Its a bit pricier, but its high-end features m                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="The sanitization and filtration system saves me from regular maintenance. Its a bit pricier, but its high-end features make it a worthwhile luxury." data-name="Huxley I." data-order="YES" data-rating="4" data-location="Great Falls, MT" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Katie K.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Tampa, FL</span>
                                    </p>
                                    <p class="  dolor ">
                                        As a taller than average guy I appreciate the option for extra comfort.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Eloise Z.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Johnson City, TN</span>
                                    </p>
                                    <p class="  dolor ">
                                        Use it both in winter and summer with how portable it is, was very unexpected.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item active">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Minnie A.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Dothan, AL</span>
                                    </p>
                                    <p class="  dolor ">
                                        I love the cover it really helps keep it clean when Im out of town.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Quinton R.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Yuma, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                         Unlike my last cold therapy tub the Frozen is space-saving and also stylish                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Ollie R</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Minneapolis, MN</span>
                                    </p>
                                    <p class="  dolor ">
                                        A s a person with limited mobility the extra steps were helpful for my caretaker                                                                             </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Gustavo B.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Goodyear, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                        I actually enjoy a drink while Im using the Frozen and the bar counter addition is so useful.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Yara Z.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Shreveport, LA</span>
                                    </p>
                                    <p class="  dolor ">
                                        Really refreshing especially in the summer.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Gustavo B.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Goodyear, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                        I actually enjoy a drink while Im using the Frozen and the bar counter addition is so useful.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Melissa M.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Atlanta, GA</span>
                                    </p>
                                    <p class="  dolor ">
                                        Superb for Recovery                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Danielle D.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Honolulu, HI</span>
                                    </p>
                                    <p class="  dolor ">
                                        I was worried with the extra size it would be hard to move around, but to be honest its not bad at all.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Quinton R.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Yuma, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                         Unlike my last cold therapy tub the Frozen is space-saving and also stylish                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Heather H.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">San Francisco, CA</span>
                                    </p>
                                    <p class="  dolor ">
                                        Frozen fits perfectly into my recovery routine,  reducing muscle soreness after my workouts.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Heather H.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">San Francisco, CA</span>
                                    </p>
                                    <p class="  dolor ">
                                        Frozen fits perfectly into my recovery routine,  reducing muscle soreness after my workouts.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Gryffin H.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Sheboygan, WI</span>
                                    </p>
                                    <p class="  dolor ">
                                        The fact that it fits larger athletes is great, only one I found that does.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                    </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
</section>
<style>
  .dolor {
    text-align:left !important;
  }
  .row.overall>div{
   text-align:left !important;
  }
</style>

{% schema %}
{
"name": "frozen5 review heading",
"settings": [],
"presets": [
{
"name": "frozen5 review heading"
}
]
}
{% endschema %}