<section style=" margin-bottom: 2rem;" class="review-headingz">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="unc white uuu" id="a"> <span class="blue-c ">Uncensored, Unedited, Unfiltered</span>
                    Customer
                    Reviews</h4>
                <p class="here white">To help you decide for yourself how good Frozen<span
                        class="tradmark-symbol-1">™</span> Cold Plunge is, we have listed REAL, UNCENSORED, UNEDITED
                    reviews, <br>
                    emails and comments from customers who have paid for and used Frozen.</p>
            </div>
        </div>
    </div>
</section>
<section>
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li> -->
                    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                </ol>

                <!-- Wrapper for slides -->
                
                <div class="carousel-inner">
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Antonio A.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Flagstaff, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                        I charge a small monthly fee from my clients for easy access to my Frozen and it really has brought in the xtra business                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="I charge a small monthly fee from my clients for easy access to my Frozen and it really has brought in the xtra business I needed. " data-name="Antonio A." data-order="YES" data-rating="5" data-location="Flagstaff, AZ" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Priya K.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Casper, WY</span>
                                    </p>
                                    <p class="  dolor ">
                                        I got two to start with and I just bought another! My clients pay a special extra fee for weekly access and they use it                                          ...
                                        <a class="white" data-toggle="modal" data-review_msg="I got two to start with and I just bought another! My clients pay a special extra fee for weekly access and they use it all the time." data-name="Priya K." data-order="YES" data-rating="5" data-location="Casper, WY" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Laura L.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Boston, MA</span>
                                    </p>
                                    <p class="  dolor ">
                                        The setup was easy, the instructions clear, and the whole gym has been benefitting since we bought this.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Theo M.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Bloomington, IN</span>
                                    </p>
                                    <p class="  dolor ">
                                        Been renovating my spa recently and its so convenient that I can move it as I need to and just plug to use.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Christina C.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Washington, D.C.</span>
                                    </p>
                                    <p class="  dolor ">
                                        Great performance on the actual tub. It got cold very quickly, it has kept the water sparkling clean.                                                                             </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Fabio R.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Chico, CA</span>
                                    </p>
                                    <p class="  dolor ">
                                        First thought it was a bit pricey but honestly the business has picked up so much                                                                             </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Usman R.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">San Jose, CA</span>
                                    </p>
                                    <p class="  dolor ">
                                        I just bought one for my third location and will probably get another for the summer opening of the new center.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Christina C.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Washington, D.C.</span>
                                    </p>
                                    <p class="  dolor ">
                                        Great performance on the actual tub. It got cold very quickly, it has kept the water sparkling clean.                                                                             </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Gillian O.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Lake Charles, LA</span>
                                    </p>
                                    <p class="  dolor ">
                                        I havent been sore in so long now its wild.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Sven J.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Mankato, MN</span>
                                    </p>
                                    <p class="  dolor ">
                                        A friend convinced me I should invest in this for my spa business after a rough couple of months after open. I can gladl                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="A friend convinced me I should invest in this for my spa business after a rough couple of months after open. I can gladly say that im back on track now." data-name="Sven J." data-order="YES" data-rating="4" data-location="Mankato, MN" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Harley Z.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Phenix City, AL</span>
                                    </p>
                                    <p class="  dolor ">
                                        I just bought my own salon and this was one of the first things I invested in.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Gillian O.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Lake Charles, LA</span>
                                    </p>
                                    <p class="  dolor ">
                                        I havent been sore in so long now its wild.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item active">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Femi O.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Provo, UT</span>
                                    </p>
                                    <p class="  dolor ">
                                        I am OBSESSED. I thought a cold tub would be too time consuming to manage at my small business but with the UV cleaning                                          ...
                                        <a class="white" data-toggle="modal" data-review_msg="I am OBSESSED. I thought a cold tub would be too time consuming to manage at my small business but with the UV cleaning I dont have to spend too much money on maintenance." data-name="Femi O." data-order="Yes" data-rating="5" data-location="Provo, UT" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Lillian J.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Montgomery, AL</span>
                                    </p>
                                    <p class="  dolor ">
                                        Buying my third for my summer intensive bootcamp, everyone loves it after our marathon.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Antonio A.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Flagstaff, AZ</span>
                                    </p>
                                    <p class="  dolor ">
                                        I charge a small monthly fee from my clients for easy access to my Frozen and it really has brought in the xtra business                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="I charge a small monthly fee from my clients for easy access to my Frozen and it really has brought in the xtra business I needed. " data-name="Antonio A." data-order="YES" data-rating="5" data-location="Flagstaff, AZ" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Paul K.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Prattville, AL</span>
                                    </p>
                                    <p class="  dolor ">
                                        I own a portable gym and this has been absolutely incredible for the business as other cold plunges were not actually po                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="I own a portable gym and this has been absolutely incredible for the business as other cold plunges were not actually portable." data-name="Paul K." data-order="Yes" data-rating="5" data-location="Prattville, AL" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                    </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</section>
<style>
  .dolor {
    text-align:left !important;
  }
  .row.overall>div{
   text-align:left !important;
  }
</style>

{% schema %}
{
"name": "frozen8 review heading",
"settings": [],
"presets": [
{
"name": "frozen8 review heading"
}
]
}
{% endschema %}