<section style=" margin-bottom: 2rem;" class="review-headingz">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="unc white uuu" id="a"> <span class="blue-c ">Uncensored, Unedited, Unfiltered</span>
                    Customer
                    Reviews</h4>
                <p class="here white">To help you decide for yourself how good Frozen<span
                        class="tradmark-symbol-1">™</span> Cold Plunge is, we have listed REAL, UNCENSORED, UNEDITED
                    reviews, <br>
                    emails and comments from customers who have paid for and used Frozen.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
        </ol>

        <!-- Wrapper for slides -->
        
        <div class="carousel-inner">
                                <div class="item next left">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Leah O.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Albany, NY</span>
                            </p>
                            <p class="  dolor ">
                                The quick cooling feature is impressive, making it easy to reach specific temperatures for the best recovery.  .                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Felicity F.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Yonkers, NY</span>
                            </p>
                            <p class="  dolor ">
                                Definitely suggest to anyone looking for a consistent pain relief remedy.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Sienna E.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Aurora, CO</span>
                            </p>
                            <p class="  dolor ">
                                My dad had a cold plunge that had bulk equipment on the outside, this one is very clean. Everything is in one piece all                                          ...
                                <a class="white" data-toggle="modal" data-review_msg="My dad had a cold plunge that had bulk equipment on the outside, this one is very clean. Everything is in one piece all together. Love the way it is designed. Very modern" data-name="Sienna E." data-order="Yes" data-rating="5" data-location="Aurora, CO" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">David D.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Tupelo, MS</span>
                            </p>
                            <p class="  dolor ">
                                I didnt think the steam generator would be a big impact, but it is very good.                                                                             </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Ethan E.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Biloxi, MS</span>
                            </p>
                            <p class="  dolor ">
                                I love the contemporary design of the whole set up, no bulkiness.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Henry H.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Las Vegas, NV</span>
                            </p>
                            <p class="  dolor ">
                                Was going to skip out on the accessories kit but decided to spoil myself, have no regrets.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Laura P.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Mesa, AZ</span>
                            </p>
                            <p class="  dolor ">
                                After a month's use, Frozen has been a game-changer for my morning routine, especially with alleviating my neck and shou                                         ...
                                <a class="white" data-toggle="modal" data-review_msg="After a month's use, Frozen has been a game-changer for my morning routine, especially with alleviating my neck and shoulder pain. " data-name="Laura P." data-order="Yes" data-rating="5" data-location="Mesa, AZ" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Harold H.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Glendale, AZ</span>
                            </p>
                            <p class="  dolor ">
                                Love that I can have keep my stuff next to me while Im using  Frozen, very useful.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Harold H.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Glendale, AZ</span>
                            </p>
                            <p class="  dolor ">
                                Love that I can have keep my stuff next to me while Im using  Frozen, very useful.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Henry H.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Las Vegas, NV</span>
                            </p>
                            <p class="  dolor ">
                                Was going to skip out on the accessories kit but decided to spoil myself, have no regrets.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Emily A.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Kalispell, MT</span>
                            </p>
                            <p class="  dolor ">
                                Very sleak and modern design.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Jeff. B</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Seattle, WA</span>
                            </p>
                            <p class="  dolor ">
                                I feel soo much better!                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item active left">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Benjamin B.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Utica, NY</span>
                            </p>
                            <p class="  dolor ">
                                Love the lemon grass.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Brian F.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Pittsburgh, PA</span>
                            </p>
                            <p class="  dolor ">
                                I was particularly impressed by the all-in-one pump system and rapid cooling system.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Marina F.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Reno, NV</span>
                            </p>
                            <p class="  dolor ">
                                Bought it for my husband after a minor sports injury a few months ago and can aready tell a huge difference in his pain                                          ...
                                <a class="white" data-toggle="modal" data-review_msg="Bought it for my husband after a minor sports injury a few months ago and can aready tell a huge difference in his pain level." data-name="Marina F." data-order="Yes" data-rating="5" data-location="Reno, NV" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Jenna G.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Long Beach, CA</span>
                            </p>
                            <p class="  dolor ">
                                The extra rapid cooling system is great for me as I am always on a tight schedule with my work. it cools super fast                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                            </div>
       <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</section>
<style>
  .dolor {
    text-align:left !important;
  }
  .row.overall>div{
   text-align:left !important;
  }
</style>

{% schema %}
{
"name": "frozen3 review heading",
"settings": [],
"presets": [
{
"name": "frozen3 review heading"
}
]
}
{% endschema %}