<section style=" margin-bottom: 2rem;" class="review-headingz">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="unc white uuu" id="a"> <span class="blue-c ">Uncensored, Unedited, Unfiltered</span>
                    Customer
                    Reviews</h4>
                <p class="here white">To help you decide for yourself how good Frozen<span
                        class="tradmark-symbol-1">™</span> Cold Plunge is, we have listed REAL, UNCENSORED, UNEDITED
                    reviews, <br>
                    emails and comments from customers who have paid for and used Frozen.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
<li data-target="#myCarousel" data-slide-to="1"></li> -->
            <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>

        <!-- Wrapper for slides -->
        
        <div class="carousel-inner">
                                <div class="item">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Ashley A.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Modesto, CA</span>
                            </p>
                            <p class="  dolor ">
                                It's helped significantly reduce my inflammation and even improved my sleep.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Amanda A.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Austin, TX</span>
                            </p>
                            <p class="  dolor ">
                                It actually is a must buy for others like myself who suffer from chronic injuries, I feel more active than I have in lon                                         ...
                                <a class="white" data-toggle="modal" data-review_msg="It actually is a must buy for others like myself who suffer from chronic injuries, I feel more active than I have in long time." data-name="Amanda A." data-order="Yes" data-rating="5" data-location="Austin, TX" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Hannah H.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Huntington Beach, CA</span>
                            </p>
                            <p class="  dolor ">
                                I've noticed a decrease in my anxiety levels since starting my cold therapy sessions.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Sarah S.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">San Francisco, CA</span>
                            </p>
                            <p class="  dolor ">
                                Using it every other day and can see progress in my pain management.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item active">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Poppy M</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Tuscon, AZ</span>
                            </p>
                            <p class="  dolor ">
                                I am a chronic insomniac and afteryears of trying to find something to help  keep me awake for my day I can say that thi                                         ...
                                <a class="white" data-toggle="modal" data-review_msg="I am a chronic insomniac and afteryears of trying to find something to help  keep me awake for my day I can say that this really has helped with my morning routine." data-name="Poppy M" data-order="YES" data-rating="5" data-location="Tuscon, AZ" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Ashley A.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Modesto, CA</span>
                            </p>
                            <p class="  dolor ">
                                It's helped significantly reduce my inflammation and even improved my sleep.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Poppy M</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Tuscon, AZ</span>
                            </p>
                            <p class="  dolor ">
                                I am a chronic insomniac and afteryears of trying to find something to help  keep me awake for my day I can say that thi                                         ...
                                <a class="white" data-toggle="modal" data-review_msg="I am a chronic insomniac and afteryears of trying to find something to help  keep me awake for my day I can say that this really has helped with my morning routine." data-name="Poppy M" data-order="Yes" data-rating="5" data-location="Tuscon, AZ" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Lina J.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Muncie, IN</span>
                            </p>
                            <p class="  dolor ">
                                Loving everything                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Samantha B.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Chicago, IL</span>
                            </p>
                            <p class="  dolor ">
                                No plumbing needed, no special electrical requirements, just plug it in and you're good to go. Amazing                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Lira M.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Bronxville, NY</span>
                            </p>
                            <p class="  dolor ">
                                Definitely suggest to anyone looking for a consistent pain relief remedy.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Charles A.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Houston ,TX</span>
                            </p>
                            <p class="  dolor ">
                                Good Product, Financing a Bonus                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Samantha B.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Chicago, IL</span>
                            </p>
                            <p class="  dolor ">
                                No plumbing needed, no special electrical requirements, just plug it in and you're good to go. Amazing                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
                                <div class="item">
                <div class="row  row-pr">
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">John J.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Fort Worth, TX</span>
                            </p>
                            <p class="  dolor ">
                                It has truly become part of my mental fitness regime. I have noticed a significant difference in my morning routine.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">YES</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Gabriel D.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Kalamazoo, MI</span>
                            </p>
                            <p class="  dolor ">
                                Felt like I could actually                                                                             </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Isabella I.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">Louisville, KT</span>
                            </p>
                            <p class="  dolor ">
                                Had a bit of an issue with getting the temperature correct but customer service was very patient and helpful thru the ca                                         ...
                                <a class="white" data-toggle="modal" data-review_msg="Had a bit of an issue with getting the temperature correct but customer service was very patient and helpful thru the call." data-name="Isabella I." data-order="Yes" data-rating="4" data-location="Louisville, KT" data-target="#popupReviewMsg">Read More</a>
                                                                    </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                                <div class="col-md-3 ">
                        <div class="card review-br ">
                            <p><span class="jenna">Sarah S.</span></p>
                            <p>
                                <u style="text-decoration: none;">
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star b-c"></i>
                                                                                <i class="fa fa-star-o b-c"></i>
                                                                            </u> <br>
                                <span class="spring">San Francisco, CA</span>
                            </p>
                            <p class="  dolor ">
                                Using it every other day and can see progress in my pain management.                                                                            </p>
                            <div class="row overall">
                                <div class="col-md-6">Overall Experience</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">WOW!</div>
                            </div>
                            <div class="row overall order-mt">
                                <div class="col-md-6"> Order Again?</div>
                                <div class="col-md-2"></div>
                                <div class="col-md-4">Yes</div>
                            </div>

                        </div>
                    </div>
                                            </div>
            </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left white size"><img
                src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right white size"><img
                src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</section>
<style>
  .dolor {
    text-align:left !important;
  }
  .row.overall>div{
   text-align:left !important;
  }
</style>
 

{% schema %}
{
"name": "frozen2 review heading",
"settings": [],
"presets": [
{
"name": "frozen2 review heading"
}
]
}
{% endschema %}