<section style=" margin-bottom: 2rem;" class="review-headingz">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="unc white uuu" id="a"> <span class="blue-c ">Uncensored, Unedited, Unfiltered</span>
                    Customer
                    Reviews</h4>
                <p class="here white">To help you decide for yourself how good Frozen<span
                        class="tradmark-symbol-1">™</span> Cold Plunge is, we have listed REAL, UNCENSORED, UNEDITED
                    reviews, <br>
                    emails and comments from customers who have paid for and used Frozen.</p>
            </div>
        </div>
    </div>
</section>
<section>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li> -->
                    <!-- <li data-target="#myCarousel" data-slide-to="2"></li> -->
                </ol>

                <!-- Wrapper for slides -->
                
                <div class="carousel-inner">
                                        <div class="item active">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Yasmin Y.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Hilo, HI</span>
                                    </p>
                                    <p class="  dolor ">
                                        The added accessories are a nice touch as well, making the whole experience enjoyable and convenient.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Xavier X.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Ann Arbor, MI</span>
                                    </p>
                                    <p class="  dolor ">
                                        Great space and the extra steam feature was def worth it                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Benjamin B.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Green Bay, WI</span>
                                    </p>
                                    <p class="  dolor ">
                                        Easy installation was a major plus, and the rapid cooling feature is impressive.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Lucia G.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Columbus, OH</span>
                                    </p>
                                    <p class="  dolor ">
                                        Its nice to finally find a cold plunge that accomadates tall people like me.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Nicole N.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Denver, CO</span>
                                    </p>
                                    <p class="  dolor ">
                                        being able to upgrade with the 500 lb step has actually made it comfortable to use it regularly.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Stephanie S.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Spokane, WA</span>
                                    </p>
                                    <p class="  dolor ">
                                        With all the additions I didnt think I would be able to fit it how I wanted but the installation team was very helpful.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Ursula U.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Scranton, PA</span>
                                    </p>
                                    <p class="  dolor ">
                                        The added amenities like the bench and essential oils net are really unique.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Max P.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Indianapolis, IN</span>
                                    </p>
                                    <p class="  dolor ">
                                        The different scents remind me going to the spa in my hometown.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Nicole N.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star-o b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Denver, CO</span>
                                    </p>
                                    <p class="  dolor ">
                                        being able to upgrade with the 500 lb step has actually made it comfortable to use it regularly.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Carlos V.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Bellingham, WA</span>
                                    </p>
                                    <p class="  dolor ">
                                        I feel like I get to experience a spa treatment but just at my house! Love the lemongrass scent.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Carrie B.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Charlotte, NC</span>
                                    </p>
                                    <p class="  dolor ">
                                        The Eucalyptus and orange scents are my favorite!!                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Yasmin Y.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Hilo, HI</span>
                                    </p>
                                    <p class="  dolor ">
                                        The added accessories are a nice touch as well, making the whole experience enjoyable and convenient.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                        <div class="item">
                        <div class="row  row-pr">
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Samantha S.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Tacoma, WA</span>
                                    </p>
                                    <p class="  dolor ">
                                        This is AMAZING!!!!!                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Stephanie S.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Spokane, WA</span>
                                    </p>
                                    <p class="  dolor ">
                                        With all the additions I didnt think I would be able to fit it how I wanted but the installation team was very helpful.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Jennifer J.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Chapel Hill, NC</span>
                                    </p>
                                    <p class="  dolor ">
                                        Accidently broke the pump something my first time using it but the team sent out someone to fix it very quickly. Impress                                         ...
                                        <a class="white" data-toggle="modal" data-review_msg="Accidently broke the pump something my first time using it but the team sent out someone to fix it very quickly. Impressed with their effiency." data-name="Jennifer J." data-order="YES" data-rating="5" data-location="Chapel Hill, NC" data-target="#popupReviewMsg">Read More</a>
                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">YES</div>
                                    </div>

                                </div>
                            </div>
                                                        <div class="col-md-3 ">
                                <div class="card review-br ">
                                    <p><span class="jenna">Max P.</span></p>
                                    <p>
                                        <u style="text-decoration: none;">
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                        <i class="fa fa-star b-c"></i>
                                                                                    </u> <br>
                                        <span class="spring">Indianapolis, IN</span>
                                    </p>
                                    <p class="  dolor ">
                                        The different scents remind me going to the spa in my hometown.                                                                            </p>
                                    <div class="row overall">
                                        <div class="col-md-6">Overall Experience</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">WOW!</div>
                                    </div>
                                    <div class="row overall order-mt">
                                        <div class="col-md-6"> Order Again?</div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-4">Yes</div>
                                    </div>

                                </div>
                            </div>
                                                    </div>
                    </div>
                                    </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-left fa fa-angle-left white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width: 48px;">
                <span class="glyphicon glyphicon-chevron-right fa fa-angle-right white size"><img
                        src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/left-chevron-svgrepo-com_3.svg?v=1735816023"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>
</section>
<style>
  .dolor {
    text-align:left !important;
  }
  .row.overall>div{
   text-align:left !important;
  }
</style>

{% schema %}
{
"name": "frozen6 review heading",
"settings": [],
"presets": [
{
"name": "frozen6 review heading"
}
]
}
{% endschema %}