<section class="full-part w3_bg yut" style="background-color:#f6f6f6">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
          <div class="feature-h-text w3_bg desktop-none" data-toggle="collapse" data-target="#medical-acc14">
            <h4 class=" head-a1 removebr">ZERO <br><span> COMPROMISES</span>
            </h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="medical-acc14" class="w3_bg collapse in {{ section.settings.addclass }}" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX">
        <div class="container w3_bg">
          <div class="middle-content w3_bg">
            <div class="row w3_bg uhynnbui">
               <div class="col-md-6 padding-0 w3_bg mobile-order2">
                <img width="550" height="500" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/nature-picture-03.png?v=1743666046" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/nature-picture-03.png?v=1743666046" alt="Medical Saunasâ¢: American-made, physician-endorsed saunas for optimal health." class="zero-compimg" html="" data-done="Loaded">
              </div>
              <div class="col-md-6 padding-0 w3_bg">
                <!-- <h2 class="font-style hidden-xs" style="color:#0382CF; text-align:left;font-weight:bold;margin-left:0px;">ZERO<span style="color:#000"> COMPROMISES </span></h2> -->
                <p class="font-style_color zero-component"> Medical Saunas™ are designed, developed, and hand assembled in the USA, and we ship them directly from our Los Angeles factory. We work with medical doctors, cardiologists, and pain specialists who have the same desire we do—to deliver great health to all of our customers.</p>
                <p> We accept nothing less than perfection so we are in control of the product from start to finish; we don't allow any middlemen to compromise our vision. You can purchase our saunas directly from us with confidence, knowing that you're getting an unmatched product. </p>
              </div>
             
            </div>
          </div>
        </div>
        <br>
        <section class="full-part w3_bg">
          <div class="container w3_bg">
            <div class="row w3_bg uhyklui">
              
             
              <div class="col-md-6 padding-0 w3_bg mobile-order2" id="text-column-5">
                <h5 class="font-style natural-minihead order">Rapid Internal Heating System™</h5>
                <p class="font-style_color">An important feature that you should look for in a sauna is its heating capability. Most saunas, as shown on the left, only heat part of your body and can take nearly an hour just to heat up your sauna. This means you end up with less time actually spent inside the sauna, resulting in less healing and relaxation for you, not to mention increased energy bills, which means more money out of your pocket for less. That’s why we made the Medical Saunas™ with our Rapid Internal Heating System™. We are the first and only sauna to have it. The average sauna takes 90 minutes to 2 hours to pre-heat, but Medical Saunas™ can be fully heated in as little as 40 minutes. It outperforms the competitors and reaches the perfect temperature in a time that no other sauna can compete with. This powerful heating system allows you to be in your sauna immediately when you need it most.</p>
                <!-- <h5 class="nature_padding_row">Benefits of the Rapid Internal Heating System™</h5><p class="font-style_color">Another advantage to the creation of our Rapid Internal Heating System™ is that it </p> -->
              </div>
               <div class="col-md-6 padding-0 w3_bg" id="image-column-5">
                <img width="550" height="447" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/picture-022-new_fd916b5d-e94b-4a86-8033-d716970cf38a.png?v=1743666090" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/picture-022-new_fd916b5d-e94b-4a86-8033-d716970cf38a.png?v=1743666090" alt="Medical Saunas' comparison: Rapid internal heat system." style="border-radius:20px;" html="" data-done="Loaded">
              </div>
            </div>
            <div class="row w3_bg uhyioui">
              <div class="col-md-12 padding-0 w3_bg">
                <div style="margin-top:9px;" class="w3_bg">
                  <h5 class="nature_padding_row natural-minihead-a">Benefits of the Rapid Internal Heating System™</h5>
                  <p class="font-style_color binfiit-a"> Another advantage to the creation of our Rapid Internal Heating System™ is that it can increase your endurance and strengthen your immune system. While other saunas may take 10 - 15 minutes to work up a sweat, when you step into our sauna, you will begin to sweat almost immediately. A rapidly heating sauna simulates the effect of working out because it increases your internal body temperature at a similar rate. Not only does this increase your heat tolerance, which leads to improved athletic performance, it also stimulates your immune system, which can make it better at fighting off infections and disease. </p>
                </div>
              </div>
            </div>
            <div class="row w3_bg uhyyuui">
              <div class="col-md-12 padding-0 w3_bg">
                <p class="font-style_color">By using our sauna regularly, you will be actively improving your ability to withstand greater heat. This will give you a better performance in the gym, on the trail, or in the field. A common complaint among sauna users is that they want a quick recovery for their bodies by using a sauna, but many other saunas can’t provide this with their current heating systems. The Rapid Internal Heating System™ meets the needs of an average sauna user or an intense athlete. The system heats the Medical Sauna™ and your body up so fast that blood flows more quickly to your tired and strained muscles. This helps them recover faster and relax much quicker. Our perfectly engineered heating system will put your body at ease and you will feel completely renewed.</p>
              </div>
            </div>
          </div>
        </section>
        <section class="full-part w3_bg">
          <div class="container w3_bg">
            <div class="row w3_bg fungous">
              <div class="col-md-6 padding-0 w3_bg">
                <h5 class="font-style natural-minihead-b">Hot/Cold Cleansing System™</h5>
                <p class="font-style_color">Most heating systems in other saunas are too slow to heat up, making the benefits of warm up and cool down rounds that are recommended by so many sauna users and experts nearly impossible to achieve. Hot/Cold therapy has many health benefits, such as relaxing muscles and improving flexibility. The Medical Sauna™ has been designed to capitalize on this therapy method with our extremely powerful and efficient heating technology. The Rapid Internal Heating System™ is the most effective system that can achieve hot/cold therapy and allow you to reap the benefits and start improving your health.</p>
                <h5 class="nature_padding_row natural-minihead-c">The Detox Routine™</h5>
                <p class="font-style_color">While most saunas say they can remove some toxins from your body, they miss some of the more dangerous ones to your health. Regular use of a Medical Sauna™ can remove bad toxins and impurities from your body. Many of these toxins are found in substances we use or are exposed to every day, such as BPA (found in many household plastic items), toxic heavy metals, phthalates (found in most fast foods), and nicotine. Medical Saunas™ are the industry leaders in removing toxins from your body. By following The Detox Routine™, regular use of a Medical Sauna™ will repeatedly enlarge the pores on your skin and flush out the harmful toxins inside your body, leaving you feeling energized and purified. </p>
              </div>
              <div class="col-md-6 padding-0 w3_bg">
                <img width="650" height="630" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/Nature-Detox-9.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/Nature-Detox-9.jpg" alt="Medical Saunas' Detox Routine: Remove harmful toxins and impurities for a purified body." class="medical-detox" html="" data-done="Loaded">
              </div>
            </div>
            <div class="row w3_bg uhfgtyui ">
              <div class="row padding-0 w3_bg d-lg-flex align-items-center">
                
                <div class="col-md-6 text-center w3_bg" id="image-column-6" style="padding-top: 0px;">
                  <img width="570" height="786" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/3d-heat-therapy-9.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/3d-heat-therapy-9.png" alt="Medical Saunaâ¢ 3D Heat Therapyâ¢ - advanced heat therapy for sore muscles, pain relief, and rejuvenation." class="img-responsive hidden-xs" html="" data-done="Loaded">
                </div>
                <div style="" id="text-column-6" class="col-md-6 w3_bg">
                  <h5 class="font-style natural-minihead-d">Insulated Airflow System™</h5>
                  <p class="font-style_color insulated-airflow">For too long, sauna users have experienced unwanted temperature fluctuations in poorly designed saunas, resulting in less healing and higher energy bills. The insulation of a sauna is just as important as the heating system because it allows the temperature inside to remain constant. We have developed a design that works with our heating system, and uses the temperature inside the sauna to keep your sauna at a constant temperature. This means you can keep your sauna at the right temperature with less effort, and receive the maximum health benefits from our Medical Sauna™.</p>
                  <h5 class="font-style natural-minihead-d">3D Heat Therapy™</h5>
                  <p class="font-style_color medical-2d">Medical Sauna™ is the first and only sauna on the market to offer 3D Heat Therapy™. Heat therapy has many benefits for your body including improving sore muscles, increasing range of motion, decreasing muscle spasms, and reducing pain. The 3D Heat Therapy™ works by penetrating deep into the body's tissue and cells as temperature rises, which leads to therapeutic benefits all over your body. This improved version of heat therapy, found only in a Medical Sauna™, will rejuvenate your body from the inside out. </p>
                  <img width="570" height="786" data-class="LazyLoad" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/3d-heat-therapy-9.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/3d-heat-therapy-9.png" alt="Medical Saunaâ¢ 3D Heat Therapyâ¢ - advanced heat therapy for sore muscles, pain relief, and rejuvenation." class="img-responsive visible-xs d3-heattherpy" html="">
                  <h5 class="nature_padding_row font-style natural-minihead-d">Safe Cool Down System™</h5>
                  <p class="font-style_color" style="margin-bottom: 0px;">No other sauna on the market has engineered an airflow system that creates a safer and more efficient cool down stage after using your sauna. An important health practice to follow when using a sauna is allowing your body to cool down gradually after a session. Medical Sauna™ has aided your cool down stage, as its design allows hot air to escape slowly from the sauna. This cools down your body at the recommended pace, and prevents possible health complications from changing temperatures too quickly. As a very vital process for a sauna owner, we felt it was necessary to design a cool down system in our saunas that will keep you safe. </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="full-part w3_bg">
          <div class="container w3_bg">
            <div class="row w3_bg fungos">
              <div class="col-md-6 padding-0 w3_bg">
                <h5 class="nature_padding_row font-style natural-minihead-e">Skin Rejuvenation/Cleansing System™</h5>
                <p class="font-style_color">Only Medical Sauna’s™ heating technology can cover every square inch of your body and leave your skin feeling soft, fresh, and new. This is because of the Natural Red Ceder wood used in the Medical Sauna Series™ and our powerful heating system. These two features remove dead skin cells from your body, allowing your pores to open wider, which results in increased blood circulation near the surface of your body, healing your skin. After just one session in a Medical Saunas™ your skin will feel younger and refreshed. </p>
                <p class="font-style_color">Medical Saunas™ are more than just relaxation tools because they were designed to help heal your body. Because of all the doctors that came together to help design and engineer the Medical Sauna™ and their 100+ years of combined experience, there are lots of medical benefits you can receive by using it daily.</p>
              </div>
              <div class="col-md-6 padding-0 w3_bg">
                <img width="3000" height="1874" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/Nature-V5-5-1-9.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/naturesaunasg3/Nature-V5-5-1-9.jpg" alt="Medical Sauna Skin Rejuvenation/Cleansing Systemâ¢: Red Cedar wood and powerful heating technology provide full body coverage, removing dead skin cells and increasing blood circulation for younger, refreshed skin." class="img-responsive skin-bootom10" html="" data-done="Loaded">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
  <style>

    @media (min-width: 1024px) {
      .d-lg-flex{
        display:flex;
      } 
      .align-items-center{
            align-items: center;
      }
    }
      @media (max-width: 600px) {
        .mobile-order2{
          order:2;
        }
      }
  </style>
{% schema %}
  {
    "name": "full-section-nature-g3",
    "settings": [

 {
        "type": "text",
        "id":"addclass",
        "label":"Add class"
      }, {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
      
    ],
    "presets":[
      {
        "name": "full-section-nature-g3" 
      }
    ]
  }
{% endschema %}
