<section class="middle-content frozen_cold_plunge ">
        <div class="container">
            <div class="row n-gutters" style="text-align: justify;">
                <div class="col-md-1"></div>
                <div class="col-md-10 ">
                    <div class="text_content">


                        <h4 class="p-c frozen-heading" style="text-align: center;">
                            <strong class="ourstory">Our Story <span class="block-mobile"> <span class="hide-mobile"> -</span> Frozen, the world's first
                                <b class="frozen-p-strong-b"> Medical</b> Cold Plunge.</span> </strong>

                        </h4>


                        <p class="p-c">

                            We noticed a problem: most cold plunges were designed by people without medical degrees. We
                            believed there was a better approach. With Medical Saunas' team of 48 doctors and engineers,
                            we collaborated to develop the ultimate medical cold plunge – one that would optimize and
                            unlock the true medical potential of cold water therapy.
                        </p>
                        <p class="p-c">
                            When we started Frozen™, our engineers aimed to do more than just develop another plunge. We
                            wanted to make the best plunge for our friends and family, ensuring it would be safe for
                            them to use. We dove headfirst into researching every cold plunge in existence. We read
                            every negative review, scrutinized every comment, and examined all the issues to ensure our
                            friends, family, and customers wouldn't encounter the same problems.

                        </p>

                        <p class="p-c">
                            With a substantial investment from Medical Sauna, we began by buying and testing over 53
                            different cold plunges in the US. And we didn't stop there. Our relentless pursuit of
                            perfection and our goal to develop the world's best medical cold plunge motivated us to seek
                            more investment to buy and import over 112 cold plunges from all over the world, filling our
                            testing facility to the brim. Due to the varying electrical requirements across the globe,
                            we had to construct different electrical stations to test each country's plunge.
                        </p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>



    </section>
{% schema %}
  {
    "name": "frozen heading content",
    "settings": [],
    "presets":[{
      "name": "frozen heading content"
    }]
  }
{% endschema %}