  <style>

    .her-main{
      width:90%;
      margin:auto;
    height: auto;
    }
    .her-submain {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
    }
    .her-head{
      font-size: 40px;
      font-weight: bold;
      color: #000;
      margin-top: 40px;
      margin-bottom: 25px;
    }

    .main-video {
      flex: 2;
      position: relative;
      height: auto;
    }

    .main-video video {
      width: 67%;
      height: auto;
      border-radius: 8px;
      object-fit: cover;
    }

    .main-play-button {
      position: absolute;
      top: 39%;
      left: 35%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      color: white;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 50%;
      width: 60px;
      height: 60px;
      text-align: center;
      line-height: 60px;
      cursor: pointer;
      z-index: 10;
    }

    .main-caption {
      margin-top: 10px;
      font-size: 20px;
      width: 60%;
      display:none;
    }

    .expert-info {
      font-weight: bold;
      margin-top: 5px;
      display:none;
    }

    .side-videos {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 28px;
      width: 33%;
      margin-right: auto;
      position: absolute;
      right: 0;

    }

    .video-thumb {
      display: flex;
      cursor: pointer;
      gap: 88px;
      align-items: stretch;
      position: relative;
      height: 130px;
    }

    .thumb-wrapper {
      position: relative;
      width: 100px;
      height: 70px;
    }

    .thumb-wrapper video {
      width: 175px;
      height: 130px;
      border-radius: 5px;
      object-fit: cover;
    }

    .play-button {
      position: absolute;
      top: 100%;
      left: 90%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }

    .side-videos p {
      font-size: 14px;
      text-align: left;
      width: 55%;
      margin: 0;
      position: relative;
      top: 17%;
    }
    
  @media (min-width: 1600px) {
    .main-video video {
        height: auto;
    }
    .her-main {
        width: 90%;
        margin: auto;
        padding-bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    .her-main{
      height: auto;
    }
    .her-head {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .her-submain{
        display: block;
    }
      .main-video video {
        width: 100%;
        height: 220px;
        border-radius: 8px;
        object-fit: cover;
      }
    .main-caption {
      display:block;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
      width:100%;
    }
    .expert-info {
        display:block;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 12px;
        font-size: 12px;
    }
    .side-videos {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      position: relative;
      top: 0px;
      margin-bottom: 15px;
    }
    .side-videos p {
        font-size: 12px;
        text-align: left;
        width: 100%;
        margin: 0;
        position: relative;
        top: 8%;
        line-height: 20px;
        font-weight: 600;
    }
    .play-button {
        top: 92%;
        left: 85%;
    }
    .main-play-button{
        top: 37%;
        left: 50%;
    }

  }
  </style>
  <section class="her-main">
    <div class="her-expert">
      <h3 class="her-head">Hear from the Experts</h3>
    </div>
     <div class="her-submain">
    <div class="main-video">
      <video id="mainPlayer" poster="" controls>
        <source src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Dr.+Damon+Gangemi+D.C.+-+25+Years+as+a+Chiropractic+Doctor.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="main-play-button" id="mainPlayBtn">▶</div>
      <div class="main-caption" id="mainCaption">“This technology met and exceeded my expectations on what it can do for me and my patient.”</div>
      <div class="expert-info" id="mainExpert">Dr. Damon Gangemi, Chiropractic Doctor</div>
    </div>

    <div class="side-videos">
      <div class="video-thumb" onclick="playVideo('https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Dr.+Damon+Gangemi+D.C.+-+25+Years+as+a+Chiropractic+Doctor.mp4', 'This technology met and exceeded my expectations on what it can do for me and my patient.', 'Dr. Damon Gangemi, Chiropractic Doctor')">
        <div class="thumb-wrapper">
          <video src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Dr.+Damon+Gangemi+D.C.+-+25+Years+as+a+Chiropractic+Doctor.mp4" muted ></video>
          <div class="play-button">▶</div>
        </div>
        <p>“This technology met and exceeded my expectations on what it can do for me and my patient.”</p>
      </div>

      <div class="video-thumb" onclick="playVideo('https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Infrared+Sauna+Review+-+Christine+Bray+-+Gym+Enthusiast.mp4', 'Ever since I used the sauna, I started to sleep very well.', '')">
        <div class="thumb-wrapper">
          <video src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Infrared+Sauna+Review+-+Christine+Bray+-+Gym+Enthusiast.mp4" muted></video>
          <div class="play-button">▶</div>
        </div>
        <p>“Ever since I used the sauna, I started to sleep very well.”</p>
      </div>

      <div class="video-thumb" onclick="playVideo('https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Dr.+Damon+Gangemi+D.C.+-+25+Years+as+a+Chiropractic+Doctor.mp4', 'It has given me opportunity to roll back when I started dealing with arthritis.', '')">
        <div class="thumb-wrapper">
          <video src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/Dr.+Damon+Gangemi+D.C.+-+25+Years+as+a+Chiropractic+Doctor.mp4" muted></video>
          <div class="play-button">▶</div>
        </div>
        <p>“It has given me opportunity to roll back when I started dealing with arthritis.”</p>
      </div>
    </div>
  </div>
  </section>
 
  <script>
    const mainPlayer = document.getElementById('mainPlayer');
    const mainPlayBtn = document.getElementById('mainPlayBtn');

    mainPlayBtn.addEventListener('click', () => {
      mainPlayer.play();
      mainPlayBtn.style.display = 'none';
    });

    mainPlayer.addEventListener('pause', () => {
      mainPlayBtn.style.display = 'block';
    });

    mainPlayer.addEventListener('play', () => {
      mainPlayBtn.style.display = 'none';
    });

    function playVideo(src, caption, expert) {
      const mainCaption = document.getElementById('mainCaption');
      const mainExpert = document.getElementById('mainExpert');

      mainPlayer.src = src;
      mainPlayer.load();
      mainPlayer.currentTime = 0;
      mainPlayer.play();

      mainCaption.textContent = `${caption}`;
      mainExpert.textContent = expert;
      mainPlayBtn.style.display = 'none';
    }
  </script>
{% schema %}
{
  "name": "hearfexpert180425",
  "settings": [],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "hearfexpert180425",
    }
  ]
}
{% endschema %}