<div class="ms-mainthumb w3_bg">
        <div class="row ms-thumb w3_bg">
            <div class="ms-thumb-a w3_bg">
                <a href="/collections/medical-saunas" class="">
                    <span>
                        Medical <span class="saunas">Saunas</span>
                    </span>
                </a>
            </div>
            <div class="ms-thumb-b w3_bg">
                <a href="/collections/traditional-saunas" class="">
                    <span>
                        Traditional <span class="saunas">Saunas</span>
                    </span>
                </a>
            </div>
            <div class="ms-thumb-c w3_bg">
                <a href="/collections/naturesaunas" class="">
                    <span>
                        Outdoor <span class="saunas">Saunas</span>
                    </span>
                </a>
            </div>
            <div class="ms-thumb-d w3_bg">
                <a href="/collections/commercialspas" class="">
                    <span>
                        Commercial <span class="saunas">Saunas</span>
                    </span>
                </a>
            </div>
            <div class="ms-thumb-e w3_bg">
                <a href="/products/customsauna" class="">
                    <span>
                        Custom <span class="saunas">Saunas</span>
                    </span>
                </a>
            </div>
            <div class="ms-thumb-f w3_bg">
                <a href="/collections/cold-plunge" class="">
                    <span>
                        Cold <span class="saunas">Plunge</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
    {% schema %}
  {
    "name": "home categories",
    "settings": [],
    "presets": [
      {
        "name":"home categories"
      }
    ]
  }
{% endschema %}