<section class="full-part w3_bg" style="background-color:#FFFFFF" id="{{ section.id }}">
    <div class="w3_bg ">
      <div class="acc-bg-blue w3_bg ">
        <div class="container w3_bg">
          <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#medical-acc3">
            <h4 class="head-a1 removebr">THE INDUSTRY'S FIRST<br><span> HOT YOGA SAUNA FOR YOUR <br>HOME</span> </h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="medical-acc3" class="collapse in container w3_bg">
        <div class="row w3_bg">
          <div class="col-md-12 w3_bg padding-0">
            <div class="middle-content w3_bg">
              <div class="row w3_bg reflex-4">
                <div class="col-md-6 padding-0 w3_bg">
                  <p>The hot yoga movement has exploded across the country, and now you can enjoy all the benefits of a hot yoga studio in the comfort of your own home. In an effort to improve your sauna experience, we created a sauna that is more than just an everyday sweat room. We’ve increased the dimensions of our traditional saunas and included removable benches. Now with the extra inches you can spread out a yoga mat and stretch your body into your favorite yoga poses, all while enjoying the infrared heating technology that our saunas are known for. Feel the burn and sweat your way to nirvana.</p>
                  <p>Hot Yoga is the perfect way to detoxify through sweating, boost your blood circulation, and stretch your muscles and joints. Doing yoga in a Medical Sauna in the morning can help you get ready for your day, and using it in the evenings after work can relax you before bed. With just a few Medical Sauna sessions you’ll start to feel and look better in no time. If you haven't tried it yet, you have to try it.
                  </p>
                </div>
                <div class="col-md-6 text-center w3_bg">
                  <img width="504" height="529" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/hotyoga1_bf2f35bb-bafd-4e98-a71d-9e3fe93a0c3c.png?v=1743666955" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/hotyoga1_bf2f35bb-bafd-4e98-a71d-9e3fe93a0c3c.png?v=1743666955" alt="medical sauna hot yoga logo" html="" data-done="Loaded" class="mb-2-c">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% schema %}
  {
    "name": "hot_yoga_g3",
    "settings": [],
    "presets":[
      {
        "name": "hot_yoga_g3"
      }
    ]
  }
{% endschema %}