<section>
        <div class="container">

            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    <div class="row">

                        <div class="col-md-8">
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/pagedesign-03_c8bbc42b-668a-407e-b696-2f0e73d5d5c8.png?v=1734958043" class="img-fluid" alt="Frozen the world's first Medical Cold Plunge.">
                            <!-- <img src="images/Frozenplungerwebsite-18.png" alt=""> -->
                        </div>

                        <div class="col-md-4">

                            <p class="pagedesign-p">"We acquired so many plunges to test that we barely had room to walk
                                around."</p>

                            <p class="lewisbonfield">~Lewis Bonfield</p>

                            <p class="engineer">&nbsp;Engineer @ Medical Saunas
                            </p>
                        </div>
                    </div>
              
                    <br>
                    <p class="p-c after">
                        After extensive studying, testing, and analyzing numerous forums, we compiled a list of features
                        for the perfect cold plunge. We prioritized practical additions, such as a timer to track how
                        long you've been in the plunge without relying on a phone, which could fall into the water. We
                        also sought numerous comforts that we needed every time we used the plunge, including water and
                        weather-resistant spaces for robes, towels, phones, and watches. We aimed to add as many
                        features as possible while staying true to our mission of optimizing its medical benefits.
                    </p>

                    <p class="p-c">
                        Frozen™ didn't achieve success overnight.
                    </p>


                    <p class="p-c">
                        Although cold plunges have gained popularity in recent years, we refused to settle for just any
                        design. It took 2.5 years of 14-hour days, six days a week, and more than 23 prototypes before
                        we engineered a model that received the unanimous approval of all 48 medical professionals on
                        our team.
                    </p>
                    <p class="p-c">
                        We hope you love Frozen™ as much as we do.
                    </p>

                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "Frozen Image text",
    "settings": [],
    "presets":[{
      "name": "Frozen Image text"
    }]
  }
{% endschema %}