<section class="footer-above-part w3_bg hidden-xs">
        <div class="container w3_bg">
            <div class="footer-part footer_perfect_sauna w3_bg">
                <h2 style="color:#0382CF; text-align:center; font-weight: bold;">THE PERFECT SAUNA</h2>
            </div>
        </div>
        
        <div class="hidden-xs w3_bg">
    <center>
        
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-new-map.jpg?v=1734596726" alt="Saunas" class="image-clickable" usemap="#medicalsaunas"  data-done="Loaded">

        <map name="medicalsaunas">
            
            <area shape="rect" coords="30,110,150,340" class="" alt="Medical 3" cursor="pointer" href="/products/medical-3">
            <area shape="rect" coords="231,137,377,340" class="" alt="Medical 4" cursor="pointer" href="/products/medical-4">
            <area shape="rect" coords="432,120,626,340" class="" alt="Medical 5" cursor="pointer" href="/products/medical-5">
            <area shape="rect" coords="635,54,906,340" class="" alt="Medical 6" cursor="pointer" href="/products/medical-6">
            <area shape="rect" coords="946,11,1289,340" class="" alt="Medical 7" cursor="pointer" href="/products/medical-7plus">
          

           
            <area alt="Medical 3" class="medical3" title="Medical 3" dataid="49247571345696"  href="javascript:void(0);" coords="4,370,163,417" shape="rect">
            <area alt="Medical 4" class="medical3" title="Medical 4" dataid="49247681052960"  href="javascript:void(0);" coords="181,370,356,417" shape="rect">
            <area alt="Medical 5" class="medical3" title="Medical 5" dataid="49247690326304"  href="javascript:void(0);" coords="400,358,602,417" shape="rect">
            <area alt="Medical 6" class="medical3" title="Medical 6" dataid="49247695175968"  href="javascript:void(0);" coords="669,352,899,411" shape="rect">
            <area alt="Medical 7" class="medical3" title="Medical 7" dataid="49247702221088"  href="javascript:void(0);" coords="997,352,1228,409" shape="rect">
            
        </map>
        <center>
</center>
    </center>
        </div>
 <div class="visible-xs w3_bg">
    <div class="container spa-mobile-a w3_bg">
        <div class="div w3_bg">
            <a href="/products/medical-3" coords="4,370,163,417" shape="rect">
            <area alt="Medical 4" title="Medical 4" href="/products/medical-3">
                <img width="380" height="474" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-4x3.png?v=1743663868"  alt="" class="spa-product-1">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" href="/products/medical-3">
                    <img width="250" height="74" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-h.png?v=1743663904"  alt="" class="spa-product-1b">
                </a>
            </div>
        </div>

        <div class="div w3_bg">
            <a href="/products/medical-4">
                <img width="380" height="474" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-4x3.png?v=1743663868" alt="" class="spa-product-2" html="">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" href="/products/medical-4">
                    <img width="250" height="74" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-h.png?v=1743663904" alt="" class="spa-product-2b" html="">
                </a>
            </div>
        </div>

        <div class="div w3_bg">
            <a href="/products/medical-5">
                <img data-class="LazyLoad" src="https://www.medicalsaunas.com/W3speedster/assets/images" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m-s5-t.jpg" alt="" class="spa-product-3">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" href="/products/medical-5">
                    <img width="250" height="74" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-h.png?v=1743663904" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno_cfce43f0-1854-4abe-921f-bc2195f6c95b.png?v=1743663809" alt="" class="spa-product-3b" html="">
                </a>
            </div>
        </div>
    </div>
    <div class="container spa-mobile-a w3_bg">
        <div class="col-6 w3_bg">
            <div class="div w3_bg">
                <a href="/products/medical-6">
                    <img data-class="LazyLoad" src="https://www.medicalsaunas.com/W3speedster/assets/images" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical6-new/medical-sauna-6-small.jpg" alt="" class="spa-product-4">
                </a>
                <div class="w3_bg">
                    <a style="color:#fff;" href="/products/medical-6">
                        <img width="250" height="74" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-h.png?v=1743663904" data-src="https://www.medicalsaunas.com/images/buyno.png" alt="" class="spa-product-4b" html="">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 w3_bg">
            <div class="div w3_bg">
                <a href="/products/medical-7plus">
                    <img width="496" height="526" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-4x3.png?v=1743663868" data-src="https://www.medicalsaunas.com/images/medical-sauna-7-small.jpg" alt="" class="spa-product-5">
                </a>
                <div class="w3_bg">
                 <a style="color:#fff;" href="/products/medical-7plus">
                  <img width="250" height="74" data-class="LazyLoad" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/blank-h.png?v=1743663904" data-src="https://www.medicalsaunas.com/images/buyno.png" alt="" class="spa-product-5b" html="">
                 </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- mapping script ended here -->
</section>
 <div class="visible-xs w3_bg lower-gap_4 image_map_med3">
     <div class="container w3_bg">
            <div class="footer-part footer_perfect_sauna w3_bg">
                <h2 style="color:#0382CF; text-align:center; font-weight: bold;">THE PERFECT SAUNA</h2>
            </div>
        </div>
    <div class="container spa-mobile-a w3_bg">
        <div class="div w3_bg">
            <a href="/products/medical-3">
                <img width="380" height="474" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-3-smallnew.jpg?v=1735816978" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-3-smallnew.jpg?v=1735816978" alt="" class="spa-product-1" html="" data-done="Loaded">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" class="medical5" dataid="49247571345696">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-1b" html="" data-done="Loaded">
                </a>
            </div>
        </div>

        <div class="div w3_bg">
            <a href="/products/medical-4">
                <img width="380" height="474" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-4-small.jpg?v=1743664495" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-4-small.jpg?v=1743664495" alt="" class="spa-product-2" html="" data-done="Loaded">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" class="medical5" dataid="49247681052960">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-2b" html="" data-done="Loaded">
                </a>
            </div>
        </div>

        <div class="div w3_bg">
            <a href="/products/medical-5">
                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m-s5-t.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/m-s5-t.jpg" alt="" class="spa-product-3" data-done="Loaded">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" class="medical5" dataid="49247690326304">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-3b" html="" data-done="Loaded">
                </a>
            </div>
        </div>
    </div>
    <div class="container spa-mobile-a w3_bg">
        <div class="col-6 w3_bg">
            <div class="div w3_bg">
                <a href="/products/medical-6">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-6-small.jpg?v=1743664402" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medical-sauna-6-small.jpg?v=1743664402" alt="" class="spa-product-4" data-done="Loaded">
                </a>
                <div class="w3_bg">
                    <a style="color:#fff;" class="medical5" dataid="49247695175968">
                        <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-4b" html="" data-done="Loaded">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 w3_bg">
            <div class="div w3_bg">
                <a href="/products/medical-7plus">
                    <img width="496" height="526" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/fnew.jpg?v=1743664595" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/fnew.jpg?v=1743664595" alt="" class="spa-product-5" data-done="Loaded">
                </a>
                <div class="w3_bg">
                    <a style="color:#fff;" class="medical5" dataid="49247702221088">
                        <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-5b" html="" data-done="Loaded">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
 $(document).on('click', '.medical3', function(event) {
    // Prevent default behavior (in case it's a form submit or link click)
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            // Redirect to the cart page after the item is successfully added
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});

  $(document).on('click', '.medical5', function(event) {
    // Prevent default behavior (in case it's a form submit or link click)
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            // Redirect to the cart page after the item is successfully added
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
</script>




{% schema %}
  {
    "name": "Image Mapping Med3",
    "settings": [],
    "presets":[
      {
       "name": "Image Mapping Med3" 
      }
    ]
  }
{% endschema %}