<div class="hidden-xs w3_bg {{ section.settings.addclass }}" style="margin-top:{{ section.settings.mtop }}PX; margin-bottom:{{ section.settings.mbottom }}PX">
  <h2>{{ section.settings.heading}}</h2>
<center>
<img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/8-v2-new/naturalsaunasproductsgreen+(1).png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/8-v2-new/naturalsaunasproductsgreen+(1).png" alt="Saunas" class="image-clickable" usemap="#medicalsaunas" data-done="Loaded">


    <map name="medicalsaunas">
    <!-- image area strated here -->
      <area shape="rect" coords="29,164,147,366" class="" alt="naturalsauna 4" cursor="pointer" href="/products/nature-4-™">
      <area shape="rect" coords="168,97,361,399" class="" alt="naturalsauna 5" cursor="pointer" href="/products/nature-5-™">
      <area shape="rect" coords="400,86,572,350" class="" alt="naturalsauna 6" cursor="pointer" href="/products/nature-6-™">
      <area shape="rect" coords="610,79,908,397" class="" alt="naturalsauna 7" cursor="pointer" href="/products/nature-7-™">
      <area shape="rect" coords="917,2,1282,386" class="" alt="naturalsauna 8" cursor="pointer" href="/products/nature-8-™">
       <!-- image area closed here -->

<!-- code for buynow strated here -->
<area alt="naturalsauna 4" title="naturalsauna 4" class="naturalsauna4"  dataid="49375854657824" href="javascript:void();" coords="7,409,163,447" shape="rect">
  <area alt="naturalsauna 5" title="naturalsauna 5" class="naturalsauna4"  dataid="49376448872736" href="javascript:void();"coords="188,415,354,452" shape="rect">
  <area alt="naturalsauna 6" title="naturalsauna 6" class="naturalsauna4"  dataid="49376450085152" href="javascript:void();" coords="381,411,586,463" shape="rect">
  <area alt="naturalsauna 7" title="naturalsauna 7" class="naturalsauna4"  dataid="49376450937120" href="javascript:void();" coords="642,409,874,477" shape="rect">
  <area alt="naturalsauna 8" title="naturalsauna 8" class="naturalsauna4"  dataid="49376451789088" href="javascript:void();" coords="926,416,1092,481" shape="rect">
 
<!-- code for buynow closed here -->
    </map>
    </center>
</div>





<script>
$(document).on('click', '.naturalsauna4', function(event) {
    // Prevent default behavior (in case it's a form submit or link click)
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            // Redirect to the cart page after the item is successfully added
            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
</script>









{% schema %}
  {
    "name": "image maping",
    "settings": [
      {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        }, 
{
          "type": "text",
          "id": "addclass",
          "label": "Addclass"
        },  {
          "type": "text",
          "id": "mtop",
          "label": "Margin top (PX)"
        },
      {
          "type": "text",
          "id": "mbottom",
          "label": "Margin Bottom (PX)"
        }
      
    ],
    "presets":[
      {
       "name": "image maping" 
      }
    ]
  }
{% endschema %}