<section id="{{ section.id }}" class="{{ section.settings.addclass }} fly">
  <section class="custom-sauna-section nbn">
    <div class="text-content">
      <h2>Ready to Build Your<br>Custom Sauna?</h2>
      <p>Discuss your needs, space, and style with a specialist<br>and start designing your one-of-a-kind sauna.</p>
      
        <p class="shopnow-buttonm"><a href="#shop" class="shopnow-button">TALK TO A SAUNA SPECIALIST</a></p> 
    </div>
    <div class="image-group">
       <img class="image-00 desktop-images-position" src="{{ section.settings.desktop-image | img_url:'master' }}" />
      <img class="image-05 mobile-images-position" src="{{ section.settings.mobile-image | img_url:'master' }}"   />
    </div>
  </section>

  <style>
    * {
      box-sizing: border-box;
    }

    .nbn {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .custom-sauna-section {
      display: flex;
      flex-wrap: wrap;
      padding: 40px 20px;
          justify-content: space-evenly;
      align-items: center;
      gap: 30px;
    }

    .text-content {
      flex: 1 1 300px;
      max-width: 400px;
    }

    .text-content h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .text-content p {
      font-size: 14px;
      color: #555;
      margin-bottom: 20px;
    }

    .text-content button {
      padding: 12px 20px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .image-group {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
    }

    .image-group img {
    border-radius: 12px;
    width: fit-content;
    object-fit: cover;
}

    .shopnow-buttonm {
    background-color: #016fac;
    color: #fff !important;
    font-size: 20px;
    width: fit-content;
    padding: 6px 12px 6px 12px;
    border-radius: 6px;
    font-weight: bold;
}

    @media (max-width: 768px) {
      .custom-sauna-section {
        flex-direction: column;
        align-items: flex-start;
      }

      .image-group img {
        width: 100%;
        max-width: 300px;
        height: auto;
      }

      .image-group {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  </style>


{% schema %}
{
  "name": "image-2-5-2025",
  "settings": [
     {
          "type": "text",
          "id": "addclass",
          "label": "Addclass"
        },

     {
          "type": "image_picker",
          "id": "mobile-image",
          "label": "mobile-image"
        },
    {
          "type": "image_picker",
          "id": "desktop-image",
          "label": "desktop-image"
        },
  ],
 
  "presets": [
    {
      "name": "image-2-5-2025",
      "category": "Custom"
    }
  ]
}
{% endschema %}
