<div class="">

    <div class="hidden-xs">
<center>
   <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Medical-Spa-used-70new.png?v=1734949185" alt="Saunas" class="image-clickable" usemap="#medicalsaunas">
    <map name="medicalsaunas">
      <!-- image area strated here -->
      <area shape="rect" coords="70,100,195,330" class="/products/commercial-spa-485" alt="commercialspa485" cursor="pointer" href="/products/commercial-spa-485">
      <area shape="rect" coords="231,80,430,330" class="/products/commercial-spa-486" alt="commercialspa486" cursor="pointer" href="/products/commercial-spa-486">
      <area shape="rect" coords="460,50,725,330" class="/products/commercial-spa-487" alt="commercialspa487" cursor="pointer" href="/products/commercial-spa-487">
      <area shape="rect" coords="760,40,1110,330" class="/products/commercial-spa-488" alt="commercialspa488" cursor="pointer" href="/products/commercial-spa-488">
      <area shape="rect" coords="1145,30,1545,330" class="/products/commercial-spa-489plus" alt="commercialspa489" cursor="pointer" href="/products/commercial-spa-489plus">
       <!-- image area closed here -->

  <!-- code for buynow strated here -->
  <area alt="commercialspa485" title="commercialspa485" class="commercialspa485"  dataid="49380262871328" href="javascript:void();" coords="55,355,218,400" shape="rect">
  <area alt="commercialspa486" title="commercialspa486" class="commercialspa485"  dataid="49380492214560" href="javascript:void();" coords="240,355,408,405" shape="rect">
  <area alt="commercialspa487" title="commercialspa487" class="commercialspa485"  dataid="49380492837152" href="javascript:void();" coords="470,355,680,410" shape="rect">
  <area alt="commercialspa488" title="commercialspa488" class="commercialspa485"  dataid="49380493197600" href="javascript:void();" coords="790,345,1030,420" shape="rect">
  <area alt="commercialspa489" title="commercialspa489" class="commercialspa485"  dataid="49380497228064" href="javascript:void();" coords="1180,345,1430,420" shape="rect">
  <!-- code for buynow closed here -->
    </map>
    <center>
</center></center></div>

<div class="container spa-mobile-a">
        <div class="div">
            <a href="/products/commercial-spa-485">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-15.png?v=1734950272" alt="" class="spa-product-1">
            </a>
            <div>
                <a style="color:#fff;" class="commercialspa485"  dataid="49380262871328" href="javascript:void();">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-1b">
                </a>
            </div>
        </div>
        
        <div class="div">
            <a href="/products/commercial-spa-486">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-16.png?v=1734950273" alt="" class="spa-product-2">
            </a>
            <div>
                <a style="color:#fff;" class="commercialspa485"  dataid="49380492214560" href="javascript:void();">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-2b">
                </a>
            </div>
        </div>
        
        <div class="div">
            <a href="/products/commercial-spa-487">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-17.png?v=1734950274" alt="" class="spa-product-3">
            </a>
            <div>
                <a style="color:#fff;" class="commercialspa485"  dataid="49380492837152" href="javascript:void();">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-3b">
                </a>
            </div>
        </div>
    </div>             
    <div class="container spa-mobile-a">
        <div class="col-6">
            <div class="div">
                <a href="/products/commercial-spa-488">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Spa-Commercial-Homepage-18.png?v=1734950551" alt="" class="spa-product-4">
                </a>
                <div>
                <a style="color:#fff;" class="commercialspa485"  dataid="49380493197600" href="javascript:void();">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-4b">
                </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="div">
                <a href="/products/commercial-spa-489plus">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/main-commercialspa9-Plus.png?v=1734950551" alt="" class="spa-product-5">
                </a>
                <div>
                <a style="color:#fff;" class="commercialspa485"  dataid="49380497228064" href="javascript:void();">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-5b">
                </a>
                </div>
            </div>
        </div>
    </div>  

</div>


<style>
  @media only screen and (max-width: 768px) {
    .hidden-xs .spa-product-3b {
      width: 60%;
      margin: auto;
      display: flex;
    }
 
    .hidden-xs .spa-product-2b {
        width: 70%;
        margin: auto;
        display: flex;
    }
    .hidden-xs .spa-product-5b {
        width: 65%;
        margin: auto;
        display: flex;
    }

     .hidden-xs .spa-product-4b {
        width: 60%;
        margin: auto;
        display: flex;
    }
    .spa-product-1 {
    width: 100%!important;
}
    .spa-product-2 {
    width: 100%!important;
}
    .spa-product-3 {
    width: 100%!important;
}
    .spa-product-5{
      width:100%!important
    }
  }
</style>


<script>
// $(document).on('click','.commercialspa485',function(){ 
//     var ID = $(this).attr("dataid");
//         $.ajax({
//             type: 'POST',
//             url: '/cart/add.js',
//             data: {
//               quantity: 1,
//                id: ID
//              },
//               dataType: 'json', 
//              success: function (data) { 
             
//               console.log(data.quantity);
             
//              } 
//      });
// }) 
  $(document).on('click', '.commercialspa485', function(event) {
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
  
</script>


{% schema %}
  {
    "name": "image-maping-commercial",
    "settings": [
      
    ],
    "presets": [
      {
         "name": "image-maping-commercial"
      }
    ]
  }
{% endschema %}