<section class="page-404 container text-center">
  <h1 class="heading-font">404</h1>
  <p>The page you're looking for doesn't exist.</p>
  <a href="{{ routes.root_url }}" class="btn btn-primary">Back to homepage</a>
</section>
{% schema %}
{ "name": "404 page", "settings": [] }
{% endschema %}
