<section class="">
  <div class="medicalclient owl-carousel" id="owl-carousel">
    {% for block in section.blocks %}
      <div class="item">
        <img src="{{ block.settings.icon | image_url }}" alt="Icon" class="feature-icon" />
      </div>
    {% endfor %}
  </div>
</section>


<style>
  .medicalclient .owl-stage {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 40px;
      margin-bottom: 60px;
      left: 45%;
  }
   .medicalclient .owl-item{
     width: 150px !important;
   }

  
  @media (max-width: 600px) {
   .medicalclient{
       margin-top: 30px;
      margin-bottom: 50px;
   }
  }
</style>

<script>
 
    $('#owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: true,
        margin: 15,
        dots: false,
        nav: false,
        autoplay:true,
         responsive:{
          0:{ items:2 },
          600:{ items:2 },
          800:{ items:2 },
          1000:{ items:8 }
        }
    })
</script>

{% schema %}
{
  "name": "medicalclient180425",
  "settings": [],
  "blocks": [
    {
      "type": "icon",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "medicalclient",
      "category": "Custom",
      "blocks": [
        {
          "type": "icon",
        }
      ]
    }
  ]
}
{% endschema %}
