<div class="visible-xs w3_bg" style="padding-bottom:15px;" >
    <div class="container spa-mobile-a w3_bg">
        <div class="div w3_bg">
            <a href="nature4g3">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-05.png?v=1743666512" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-05.png?v=1743666512" alt="" class="spa-product-1" html="" data-done="Loaded">
            </a>
            <div class="w3_bg">
                <a style="color:#fff;" class="naturalsauna4"  dataid="50072481562912" href="javascript:void();">
                    <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-1b" html="" data-done="Loaded">
                </a>
            </div>
        </div>
          
          <div class="div w3_bg">
              <a href="nature5g3">
                  <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-06.png?v=1743666589" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-06.png?v=1743666589" alt="" class="spa-product-2" html="" data-done="Loaded">
              </a>
              <div class="w3_bg">
                  <a style="color:#fff;" class="naturalsauna4"  dataid="50078402380064" href="javascript:void();">
                  <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-2b" html="" data-done="Loaded">
                  </a>
              </div>
          </div>
          
          <div class="div w3_bg">
              <a href="nature6g3">
                  <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-07_5ec28d2a-b23b-419c-8470-40fc0ca7e69b.png?v=1743666624" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-07_5ec28d2a-b23b-419c-8470-40fc0ca7e69b.png?v=1743666624" alt="" class="spa-product-3" html="" data-done="Loaded">
              </a>
              <div class="w3_bg">
                  <a style="color:#fff;" class="naturalsauna4"  dataid="50078422106400" href="javascript:void();">
                      <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-3b" html="" data-done="Loaded">
                  </a>
              </div>
          </div>
    </div>
    <div class="container spa-mobile-a w3_bg">
          <div class="col-6 w3_bg">
              <div class="div w3_bg">
                  <a href="nature7g3">
                      <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-08_73e10d3c-8b1d-4680-8a05-ed6a94bb7299.png?v=1743666662" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-08_73e10d3c-8b1d-4680-8a05-ed6a94bb7299.png?v=1743666662" alt="" class="spa-product-4" html="" data-done="Loaded">
                  </a>
                  <div class="w3_bg">
                  <a style="color:#fff;" class="naturalsauna4"  dataid="50078437212448" href="javascript:void();">
                      <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-4b" html="" data-done="Loaded">
                  </a>
                  </div>
              </div>
          </div>
          <div class="col-6 w3_bg">
              <div class="div w3_bg">
                  <a href="nature-8g3-plus™">
                      <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-09_2040ec1d-002d-4c0c-a067-cf617788d046.png?v=1743666698" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-09_2040ec1d-002d-4c0c-a067-cf617788d046.png?v=1743666698" alt="" class="spa-product-5" html="" data-done="Loaded">
                  </a>
                  <div class="w3_bg">
                  <a style="color:#fff;" class="naturalsauna4"  dataid="50078634836256" href="javascript:void();">
                      <img width="250" height="74" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-5b" html="" data-done="Loaded">
                  </a>
                  </div>
              </div>
          </div>
      </div>
  </div>




<script>
$(document).on('click','.naturalsauna4',function(){ 
    var ID = $(this).attr("dataid");
        $.ajax({
            type: 'POST',
            url: '/cart/add.js',
            data: {
              quantity: 1,
               id: ID
             },
              dataType: 'json', 
             success: function (data) { 
             
              console.log(data.quantity);
             
             } 
     });
}) 
  
</script>






  
{% schema %}
  {
    "name": "mobile view g3",
    "settings": [],
    "presets": [
      {
        "name": "mobile view g3"
      }
    ]
  }
{% endschema %}