<section class="full-part w3_bg" style="background-color:#FFFFFF">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
          <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#medical-acc4">
            <h4 class=" head-a1 removebr">A HOT YOGA SAUNA ROOM<br><span> FOR ALL STRETCHES</span> </h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="medical-acc4" class="collapse in w3_bg">
        <div class="container w3_bg">
          <div class="row w3_bg">
            <div class="col-md-12 w3_bg padding-0">
              <div class="middle-content w3_bg">
                <div class="row w3_bg">
                  
                  <div class="col-md-6 text-center w3_bg" id="image-column">
                    <img width="826" height="646" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/stretch.png?v=1728571384" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/stretch.png?v=1728571384" alt="medical sauna hot yoga for all stretches" class="natural-strech mb-2-c" html="" data-done="Loaded">
                  </div><div class="col-md-6 padding-0 w3_bg" id="text-column">
                    <!-- <h2 class="font-style hidden-xs" style="color:#0382CF; text-align:left; font-weight:bold;padding-top:1px;margin-top:1px;">A HOT YOGA SAUNA ROOM<span style="color:#000"> FOR ALL STRETCHES</span></h2> -->
                    <p>In order for you to do yoga stretches inside of a sauna, you need a lot of room. Many saunas just don't have the space inside. They also don't have removable benches. Medical Saunas built the Medical 6 Sauna to give you the freedom of enjoying hot yoga in a spacious, stress-free environment.</p>
                    <p>Yoga poses like the Half Moon, Eagle, and Standing Bow can be especially beneficial when done in a hot sauna. The hot temperatures of the Full Spectrum Medical Sauna can improve your circulation, while loosening your muscles and joints for a better range of motion.
                    </p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

{% schema %}
  {
    "name": "Nature 4 stretches",
    "settings": [],
    "presets":[
      {
        "name": "Nature 4 stretches"
      }
    ]
  }
{% endschema %}