<section class="full-part w3_bg {{ section.settings.addclass }}" style="">
    <div class="w3_bg">
      <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
          <div class="feature-h-text w3_bg desktop-none" data-toggle="collapse" data-target="#medical-acc5" aria-expanded="true">
            <h4 class=" head-a1 removebr">THE MEDICAL SAUNA<br><span> STORY</span> </h4>
            <i class="fa fa-angle-up head-arrow arrow-gray"></i>
          </div>
        </div>
      </div>
      <div id="medical-acc5" class="w3_bg collapse in" aria-expanded="true" style="">
        <div class="container w3_bg">
          <div class="row w3_bg">
            <div class="col-md-12 w3_bg padding-0">
              <div class="middle-content w3_bg">
                <!-- <h2 style="color:#0382CF; text-align:left;" class="font-style hidden-xs"><strong>THE MEDICAL SAUNA <span style="color:#000"> STORY</span></strong></h2> -->
                <p class="para-text">Although there are many saunas out there, most are made by people who never went to medical school. After putting many of these saunas to the test, we realized that most saunas on the market did very little to help your health. Because saunas can have powerful medical benefits, we decided to become the very first company to work with doctors to truly unleash their full medical potential. </p>
                <p class="para-text">To create the ultimate medical sauna, we worked with many medical doctors, pain specialists, and cardiologists. We spent years researching health benefits of saunas, and added as many medical components as we could find. After 10 years of research and development, we were able to create a sauna with enough medical components that can help you relieve pain, improve cardiovascular health, strengthen your immune system, and detox your body. Because we focused solely on helping your body heal, we decided to call the finished line the Medical Sauna Series™.</p>
              </div>
            </div>
          </div>
          <center>
            <img width="900" height="800" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sketch-nature4-ns.jpg?v=1728571487https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sketch-nature4-ns.jpg?v=1728571487https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sketch-nature4-ns.jpg?v=1728571487https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sketch-nature4-ns.jpg?v=1728571487" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sketch-nature4-ns.jpg?v=1728571487" alt="medical sauna nature8 design sketch from david maret" html="" data-done="Loaded">
          </center>
        </div>

      </div>
    </div>
  </section>
{% schema %}
  {
    "name": "Sauna story nat4",
    "settings": [
      {
          "type": "text",
          "id": "addclass",
          "label": "Addclass"
        }
    ],
    "presets":[
      {
       "name": "Sauna story nat4"        
      }
    ]
  }
{% endschema %}