<section class="obssaunas-main obsmain-mobile">
  <h3 class="obsaunas-head">Our Bestselling Saunas <span class="d-md-block">& Cold Plunges</span></h3>
    <ul class="nav nav-tabs obsaunas-tabs" role="tablist" id="myTab">
      <li class="active"><a class="link_obsa " href="#previousIssuee" role="tab" data-toggle="tab"><img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tab_icona.png?v=1745240366" alt="" class="tab_icona"><span> Saunas</span></a></li>
      <li class=""><a class="link_obsb" href="#currentIssuee" role="tab" data-toggle="tab"><img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tab_iconb.png?v=1745240366" alt="" class="tab_icona"><span>Cold Plunges</span></a></li>
      <!-- <li><a href="#nextIssue" role="tab" data-toggle="tab">Next issue</a></li> -->
    </ul>
    
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane .nav-tabs>li>a active" id="previousIssuee">
      	 <div class="">
           <div class="obsaunasmobi">
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 44%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Product_Image.png?v=1745242677" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">472 Reviews</a></div>
                    </div>
                    <div class="subtitlee">MEDICAL SAUNA</div>
                    <div class="title">Medical 4™</div>
                    <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                    <div class="price">
                      <del>$11,999</del><span>$6,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 40%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0101.png?v=1745297830" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">564 Reviews</a></div>
                    </div>
                    <div class="subtitlee">MEDICAL SAUNA</div>
                    <div class="title">Medical 6™</div>
                    <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                    <div class="price">
                      <del>$21,999</del><span>$12,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 40%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image.png?v=1745298278" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">1,224 Reviews</a></div>
                    </div>
                    <div class="subtitlee">OUTDOOR SAUNA</div>
                    <div class="title">Nature 8Plus™</div>
                    <div class="subtitlee">World’s First Outdoor Hybrid Sauna</div>
                    <div class="price">
                      <del>$35,999</del><span>$20,410</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 40%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                    </div>
                    <div class="subtitlee">TRADITIONAL SAUNA</div>
                    <div class="title">Traditional 5™</div>
                    <div class="subtitlee">First-ever Commercial Medical Spa</div>
                    <div class="price">
                      <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 40%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                    </div>
                    <div class="subtitlee">TRADITIONAL SAUNA</div>
                    <div class="title">Traditional 5™</div>
                    <div class="subtitlee">First-ever Commercial Medical Spa</div>
                    <div class="price">
                      <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
              <div class="col-md6">
               <div class="product-card">
                  <div class="save-tag">SAVE 40%</div>
                  <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                  <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                 <div class="product-dsc">
                    <div class="rating">
                      <div class="stars">★★★★★</div>
                      <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                    </div>
                    <div class="subtitlee">TRADITIONAL SAUNA</div>
                    <div class="title">Traditional 5™</div>
                    <div class="subtitlee">First-ever Commercial Medical Spa</div>
                    <div class="price">
                      <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                    </div>
                   </div>
                </div>
                    <a class="shop-btn" href="#">SHOP NOW</a>
              </div>
           </div>
          </div>
      </div>
      <div class="tab-pane " id="currentIssuee">
          <div class="obsaunasmobi">
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Product_Image.png?v=1745242677" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">472 Reviews</a></div>
                      </div>
                      <div class="subtitlee">MEDICAL SAUNA</div>
                      <div class="title">Medical 4™</div>
                      <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                      <div class="price">
                        <del>$11,999</del><span>$6,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0101.png?v=1745297830" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">564 Reviews</a></div>
                      </div>
                      <div class="subtitlee">MEDICAL SAUNA</div>
                      <div class="title">Medical 6™</div>
                      <div class="subtitlee">Ultra Full Spectrum Red Light Heaters</div>
                      <div class="price">
                        <del>$21,999</del><span>$12,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image.png?v=1745298278" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">1,224 Reviews</a></div>
                      </div>
                      <div class="subtitlee">OUTDOOR SAUNA</div>
                      <div class="title">Nature 8Plus™</div>
                      <div class="subtitlee">World’s First Outdoor Hybrid Sauna</div>
                      <div class="price">
                        <del>$35,999</del><span>$20,410</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                      </div>
                      <div class="subtitlee">TRADITIONAL SAUNA</div>
                      <div class="title">Traditional 5™</div>
                      <div class="subtitlee">First-ever Commercial Medical Spa</div>
                      <div class="price">
                        <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                      </div>
                      <div class="subtitlee">TRADITIONAL SAUNA</div>
                      <div class="title">Traditional 5™</div>
                      <div class="subtitlee">First-ever Commercial Medical Spa</div>
                      <div class="price">
                        <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
                <div class="">
                 <div class="product-card">
                    <div class="save-tag">SAVE 40%</div>
                    <img class="product-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/image-0102.png?v=1745297830" alt="Medical Sauna">
                    <img id="productplay-image" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Play_Button.png?v=1745297384" alt="Medical Sauna" style="">
                   <div class="product-dsc">
                      <div class="rating">
                        <div class="stars">★★★★★</div>
                        <div class="ratings-disc">5.0 Based on <a href="#" class="p-ratings">400 Reviews</a></div>
                      </div>
                      <div class="subtitlee">TRADITIONAL SAUNA</div>
                      <div class="title">Traditional 5™</div>
                      <div class="subtitlee">First-ever Commercial Medical Spa</div>
                      <div class="price">
                        <del>$14,999</del><span>$8,400</span><span class="early-bird"><img class="desscount-image" src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/shopify/flowbite_sale.png" alt="Medical Sauna" style="width: 20px;"> Early Bird Price</span>
                      </div>
                     </div>
                  </div>
                      <a class="shop-btn" href="#">SHOP NOW</a>
                </div>
            </div>
      </div>
     
    </div>

</section>


<style>
  .obssaunas-main{
    width: 90%;
    margin: 20px auto;
  }

  .nav-tabs>li>.link_obsa{
    border-bottom: 1px solid #ccc !important;
  }
  .nav-tabs>li>.link_obsa:hover,.nav-tabs>li>.link_obsb:hover,.nav-tabs>li>.link_obsa,.nav-tabs>li>.link_obsb {
    background-color: #fff !important;
    color: #000 !important;
    border-bottom: 1px solid #ccc;
  }
  .nav-tabs>li.active>.link_obsa,.nav-tabs>li.active>.link_obsb{
    background-color: #ccc;
    
  }
    .link_obsb {
        padding: 24px 30px !important;
    }
  .nav-tabs{
    background-color: none !important;
  }
  .obsaunas-tabs .nav-tabs{
    border-bottom: none important;
    background-color: none important;
  }
  .obsaunasmobi{
      display: grid;
      grid-template-columns: auto auto ;
      gap: 10px;
  }
  .product-card {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
      width: 90%;
      margin:auto;
      overflow: hidden;
      position: relative;
      text-align: center;
    }
  .product-dsc {
    text-align: left;
    padding-left: 10px;
    color: #000 !important;
  }

    .save-tag {
      background: #c4ff00;
      color: #000;
      font-weight: 600;
      padding: 6px 16px;
      position: absolute;
      top: 10px;
      right: 0px;
      border-radius: 20px 0 0 20px;
      font-size: 14px;
    }

    .product-image {
      width: 100%;
      height: auto;
    }

    .rating {
      display: flex;
      align-s: baseline;
      margin: 12px 0;
      font-size: 16px;
    }
  .p-ratings{
    color: #000;
    text-decoration: underline;
  }

    .stars {
      color: #0070f3;
      margin-right: 6px;
      font-size:20px;
    }

    .title {
      font-size: 40px;
      font-weight: 700;
      margin: 4px 0;
    }

    .subtitlee {
      margin: 12px 0;
      font-size: 20px;
      display: flex;
      gap: 5px;
    }

    .price {
      margin: 12px 0 30px;
      font-size: 20px;
      display: flex;
      align-s: anchor-center;
      gap: 10px;
    }

    .price del {
      color: #888;
      /* margin-right: 8px; */
    }

    .early-bird {
      background: #fcdcdc;
      color: #000;
      padding: 6px 10px;
      border-radius: 20px;
      font-size: 14px;
      display: flex;
      gap: 5px;
      align-s: anchor-center;
    }
    .desscount-image{
      width: 15px;
      height: 16px;
      display: flex;
    }
    .shop-btn {
      display: block;
      background: #007bff;
      color: #fff;
      padding: 14px 0;
      text-decoration: none;
      font-weight: 600;
      font-size: 16px;
      border-radius: 0 0 5px 5px;
      width: 90%;
      margin: auto;
      text-align: center;
    }
  #tabs-carousela .owl- {
      margin-right: 15px !important;
  }
  #tabs-carousela .owl-carousel .owl- {
    width: 340px !important;
  }
    .tab-content {
        margin-top: 25px;
    }
  #productplay-image{
   width: 45px;position: absolute;right: 0;top: 50%; 
  }
  .progress-bar-wrappers {
        margin-top: 45px;
    }
  .obsmain-mobile{
    display:none;
  }
  @media (max-width: 600px) {
  .obsmain-mobile{
    display:block;
  }
  .product-card,.shop-btn{
    width:100% !important;
  }
    .obssaunas-main,{
      width:100% !important;
    }
      .obsaunas-head{
      font-size: 25px !important;
      font-weight: bold;
      color: #000;
      margin-top: 40px;
      margin-bottom: 40px;
      padding-bottom: 20px;
    }
    .price del{
      margin-right: 6px;
      font-size: 15px;
    }
    ul#myTab {
        display: flex;
    }
    .nav-tabs>li>.link_obsa {
        padding: 8px 35px;
        font-size: 16px;
    }
    .link_obsb {
        padding: 8px 35px !important;
    }
    img.tab_icona {
        width: 40px;
    }
    .product-dsc {
        padding-left: 5px;
    }
    #tabs-carousela . {
        margin: 0;
    }
    .rating {
      font-size: 9px;
      margin: 12px 0 5px;
    }
    .subtitlee {
      margin: 0;
      font-size: 12px;
    }
    .stars {
        font-size: 10px;
    }
    .title {
        font-size: 20px;
    }
    .price{
      display: block;
      margin: 12px 0 15px;
    }
    .early-bird {
        font-size: 12px;
        display: flex;
        gap: 5px;
        width: fit-content;
        margin-top: 5px;
    }
    #productplay-image {
        width: 25px;
        top: 37%;
    }
   }
  
</style>


{% schema %}
{
  "name": "obsaunas-mcoldp180425",
  "settings": [],
  "blocks": [
   
  ],
  "presets": [
    {
      "name": "obsaunas-mcoldp180425",
    }
  ]
}
{% endschema %}
