<section class="middle-content nature-catg">
        <div class="container">
            <div class="row">
                <div class="middle-content">
                    <div class="row">
                        <div class="col-md-3 text-center m-mt-15">
                            <a href="infrared.php" class="saunas_safe">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/snake_9c686204-15c3-4fb5-b240-470ec08bdfab.png?v=1733576301" class="img-responsive in-block margin-auto mt-30 m-ml--160 ml-m" alt="medical devices">
                                <span class="in-block absolute"><span class="ft-21">How Safe Are</span><br>
                                    <span class="ft-30">Medical Saunas™?</span></span>
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <!-- <img src="images/new-design.png" class="img-responsive" alt="new-design">-->
                            <h4 class="fordoblearrow arrows_h4">
                                Call <span class="span_h4">
                                    <!-- (818)805-0026 -->
                                    (818) 862-3596                                </span> to talk<br>
                                to a Medical Sauna specialist
                            </h4>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/anoithernewimage_ce8dd7ab-194b-479e-8ce7-a67f8f01905a.png?v=1733576482" class="img-responsive desktop" alt="why get a regular sauna's when you can get a medical suana's - 01 ">
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/img-saunas-logo.png?v=1733576481" class="img-responsive mobile saunas_logo_img" alt="why get a regular sauna's when you can get a medical suana's - 02" style="display:none;">
                        </div>
                        <div class="col-md-3 text-center desktop">
                            <a href="https://medicalsaunas.com/saunasaveslives.php">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/fdnybadge_7f1162db-c341-4db3-af1d-be5ddfe387f6.png?v=1733576379" class="img-responsive" alt="Medical Saunas Saving New York Firefighters" style="margin-left:auto; margin-right:auto; margin-top:30px;"></a>

                            <a href="https://medicalsaunas.com/saunasaveslives.php" style="color:#309cff; font-size:14px; font-weight:bold;">
                                CLICK HERE to See How
                                <br>Medical Saunas Saved Over
                                <br>700 New York Firefighters
                            </a>
                        </div>
                    </div>
                    <!-- <br> -->
                </div>
            </div>
        </div>
        
        <div class="container trad-offerb">
            <div class="row">
                <div class="col-md-10 trad-offerb" style="float:none; margin-left:auto; margin-right:auto;">
                                        <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/nature-desktop/earlybirdspecials1.jpg" style="margin-left:auto; margin-right:auto;" class="img-responsive desktop" alt="new-design">
                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/nature-mobile/m-earlybirdspecial1.jpg" style="margin-left:auto; margin-right:auto;display:none;" class="img-responsive mobile" alt="new-design">
                    <!-- <img src="images/medicaldoctorsauna.jpg" class="img-responsive" alt="new-design" style="margin-left:auto; margin-right:auto;min-height:0px !important;"> -->
                    <div class="medical-doctor-div desktop">
                        <h2 class="medical-doctor-head">A Medical Doctor's Sauna.</h2>
                        <h2 class="md-span-hed"><span class="md-span">Nature &amp; Traditional - <span class="md-red-span">FREE</span> Shipping in the Continental US,<span class="md-span-two">$1,550 Shipping in Alaska, Hawaii &amp; Canada
                            <!-- $1,250 Shipping in Alaska & Hawaii, $1,550 Shipping in Canada -->
                        </span></span>
                        </h2>
                        <h3 class="md-span-hed"><span class="md-span md-span-bottem lh-1">Medical Saunas<sup class="tm-span">TM</sup> - <span class="md-red-span">FREE</span> 
                        <!-- Shipping in the entire US & Canada during -->
                        Shipping in Continental US, Alaska, Hawaii &amp; Canada during
                         <span class="md-red-span">Sales Event.</span></span></h3>
                    </div>
                </div>

            </div>
        </div>
        <!--<h2><strong style="color:#000;">Call</strong> <strong style="color:#4080c5;">(818)805-0026</strong> <strong style="color:#000;">to talk to a sauna specialist today.</strong></h2>
            
            <p>It's our mission to help you enhance your mental and physical health with all the benefits that heat therapy has to offer by introducing the first ever sauna designed to improve blood flow, heal your muscles, and achieve absolute pain relief for a better nights sleep.</p>  -->
        <div>
            <div class="acc-bg-blue">
                <div class="container mobile-show">
                    <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#tradition-Home-acc1">
                        <h3 class="head-a1">A Medical Doctor's<span> Sauna</span> </h3>
                        <i class="fa fa-angle-up head-arrow arrow-gray"></i>
                    </div>
                </div>
            </div>
            <div id="tradition-Home-acc1" class="collapse in container w3_bg acc-contain-1">
                <div class="col-md-4">
                    <div class="img-left nature1_product">
                        <figure>
                            <!-- <img src="/images/saunas/naturesaunas/home/1.png" class="img-responsive"> -->
                            <picture>
                                <source media="(min-width: 650px)" srcset="/images/saunas/naturesaunas/home/1.png">
                                <source media="(max-width: 465px)" srcset="/images/nature4_mobile-b.png">
                            

                                <a href="/products/nature-4-™"><img src="https://www.medicalsaunas.com/images/main-nature4e.png" alt="medical naturesauna's 4"></a>
                            </picture>
                        </figure>
                        <figcaption class="traditional1_figcaption">
                                                        <center>
                                <a href="/products/nature-4-™"><img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medical naturesauna's 4 explore more" class="img-responsive buy_now_img buy_now_img_width"></a>
                            </center>
                            <h3><a href="/products/nature-4-™">Nature 4™</a></h3>
                            <font color="gray">Early Bird Special : <strike> $11,999 </strike> </font><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save: $6,460</mark> <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$5,539</mark></span>
                        </figcaption>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-left nature2_product">
                        <figure>
                            <!-- <a href="nature5.php"><img src="/images/saunas/naturesaunas/home/2.png" class="img-responsive"></a> -->
                            <a href="nature5-v2.php">
                                <picture>
                                    <source media="(min-width: 650px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_1.png?v=1733727826">
                                    <source media="(max-width: 465px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_1.png?v=1733727826">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_1.png?v=1733727826" alt="medical naturesauna's 5">
                                </picture>
                            </a>
                        </figure>

                        <figcaption class="traditional1_figcaption">
                                                        <center>
                                <a href="nature5-v2.php"><img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medical naturesauna's 5 explore more" class="img-responsive buy_now_img buy_now_img_width"></a>
                            </center>
                            <h3><a href="nature5-v2.php">Nature 5</a><a href="nature5hybrid.php">™</a></h3>
                            <font color="gray">Early Bird Special : <strike> $15,999 </strike> </font><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save: $8,460</mark> <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$7,539</mark></span>
                        </figcaption>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img-left">
                        <figure>
                            <!-- <a href="nature6.php"><img src="/images/saunas/naturesaunas/home/3.png" class="img-responsive"></a> -->
                            <a href="nature6-v2.php">
                                <picture>
                                    <source media="(min-width: 650px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3_84bfae49-8e07-4e50-863f-a5845e8ffa21.png?v=1733728272">
                                    <source media="(max-width: 465px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3_84bfae49-8e07-4e50-863f-a5845e8ffa21.png?v=1733728272">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3_84bfae49-8e07-4e50-863f-a5845e8ffa21.png?v=1733728272" alt="medical naturesauna's 6 ">
                                </picture>
                            </a>
                        </figure>
                        <figcaption class="traditional1_figcaption">
                                                        <center><a href="nature6-v2.php"><img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medical naturesauna's 6 explore more" class="img-responsive buy_now_img buy_now_img_width"></a> </center>
                            <h3><a href="nature6-v2.php">Nature 6</a><a href="nature6-flatroof.php">™</a></h3>
                            <font color="gray">Early Bird Special : <strike> $19,999 </strike> </font><br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save: $10,460</mark> <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$9,539</mark></span>
                        </figcaption>
                    </div>
                </div>
                <div class="row margin-mtop20">
                    <div class="col-md-12 mb-nat-8">
                        <div class="col-md-6">
                            <div class="img-left nature4_product">
                                <figure>
                                    <center>
                                        <!-- <a href="https://www.medicalsaunas.com/nature7.php">
                            <img src="/images/saunas/naturesaunas/home/4.png" class="img-responsive" style=" height:600px;"></a> -->
                                        <a href="nature7-v2.php">
                                            <picture>
                                                <source media="(min-width: 650px)" srcset="https://www.medicalsaunas.com/images/main-nature7b.png">
                                                <source media="(max-width: 465px)" srcset="https://www.medicalsaunas.com/images/main-nature7b.png">
                                                <img src="https://www.medicalsaunas.com/images/main-nature7b.png" alt="medical naturesauna's 7">
                                            </picture>
                                        </a> 
                                    </center>
                                </figure>
                                <figcaption class="traditional1_figcaption">
                                                                        <center><a href="nature7-v2.php"><img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medical naturesauna's 7 explore more" class="img-responsive buy_now_img buy_now_img_width nature_width78"></a> </center>
                                    <h3><a href="nature7-v2.php">Nature 7</a><a href="nature6hybrid.php">™</a></h3>
                                    <font color="gray">Early Bird Special : <strike> $27,999 </strike> </font><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save: $15,410</mark> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$12,589</mark></span>
                                </figcaption>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-left nature5_product">
                                <figure>
                                    <!-- <a href="https://www.medicalsaunas.com/nature8.php ">
                            <img src="/images/saunas/naturesaunas/home/5.png" width="517" class="img-responsive" style=" height:600px;"></a>  -->
                                    <a href="nature8-v2.php">
                                        <picture>
                                            <source media="(min-width: 650px)" srcset="https://www.medicalsaunas.com/images/main-nature8c.png" width="547">
                                            <source media="(max-width: 465px)" srcset="https://www.medicalsaunas.com/images/main-nature8c.png">
                                            <img src="https://www.medicalsaunas.com/images/main-nature8c.png" alt="medical naturesauna's 8plus">
                                        </picture>
                                    </a>
                                    

                                </figure>
                                <figcaption class="traditional1_figcaption">
                                                                        <center><a href="nature8-v2.php"><img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medical naturesauna's 8plus explore more" class="img-responsive buy_now_img buy_now_img_width nature_width78"></a> </center>
                                    <h3><a href="nature8-v2.php">Nature 8 Plus</a><a href="https://www.medicalsaunas.com/nature9.php">™</a></h3>
                                    <div>The most <span style="color: red;position: relative;left: 0;padding: 0;">medical</span> sauna ever built!</div>
                                    <font color="gray">Early Bird Special : <strike> $35,999 </strike> </font><br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save: $20,410</mark> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">$15,589</mark></span>
                                </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="acc-bg-blue">
                <div class="container">
                    <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#tradition-Home-acc2">
                        <h3 class="head-a1">See what doctors &amp; technicians have to say about the Medical
                            Saunas<sup>™</sup></h3>
                        <i class="fa fa-angle-up head-arrow arrow-gray"></i>
                    </div>
                </div>
            </div>
            <div id="tradition-Home-acc2" class="collapse in container w3_bg padding-0">
                <div class="row">
                    <div class="col-md-12 padding-0 text-center">
                        <!-- <img src="images/word4.png" class="img-responsive med_word4_img" alt="doctors and technicians say about the medical traditional sauna's"> -->
                        <!-- <h3 class="yt-head trad-yt-head">See what doctors & technicians have to say about the Medical
                            Saunas<sup>™</sup></h3> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/hZssVm8OQo4" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Dr. Damon Gangemi D.C. </strong>
                                25 Years of Practice
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/9Nv5aoLCU1w" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Tom Jackson -</strong>
                                Certified Contractor/Construction<br>50 Years of Experience
                            </figcaption>
                            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                        </figure>
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <iframe src="https://www.youtube.com/embed/bhwe3l5q9Kk" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Rick Roland - </strong>

                                Certified Carpenter/Construction
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/jEG3rxl0PJM" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="font-size:14px; line-height:18px;"><strong style="display:block;"><a style="font-weight:normal;" href="https://www.medicalsaunas.com/ktaylor.php">Katie Taylor - Medical Sauna™
                                        Customer </a></strong>
                                <a style="font-weight:normal;" href="https://www.medicalsaunas.com/ktaylor.php">Extended
                                    Her
                                    Late Husband's Life by 12 Years <br> (Click Here to read the full story) </a>
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/OuPhQ0-pzMU" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Christine Bray - </strong>
                                Gym Enthusiast
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <iframe src="https://www.youtube.com/embed/ObtBzW3fFtA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Relieves Back Surgery Pain </strong>
                                Arthritis Pain, &amp; Tendonitis
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/JbTlT0AKU5c" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Extremely Low EMF Medical Sauna™</strong>

                                PHD &amp; US Air Force
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/Y_-LYWuSItI" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Adam Gross - Senior IT Technician </strong>
                                Suffers from Chronic Asthma
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <iframe src="https://www.youtube.com/embed/CLpWwp82kIA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Joe Jackson - Senior Instructor </strong>

                                35 Years in Education
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% schema %}
  {
    "name": "outdoor product",
    "settings": [],
    "presets":[
      {
        "name":"outdoor product"
      }
    ]
  }
{% endschema %}