<section class="privacypolicy_banner"> 
</section>

{% schema %}
  {
    "name": "privacy policy banner",
    "settings": [],
    "presets":[
      {
        "name": "privacy policy banner"
      }
    ]
  }
{% endschema %}