<section class="middle-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="middle-content">
                    <h2 class="tfu-a1">Privacy Policy</h2>
                    <p>Medical Sauna will occasionally update its privacy statement to reflect company and customer feedback. When Medical Sauna posts changes to this statement, you will see the word "Updated" next to the Privacy Policy link on the Medical Sauna home page. Medical Sauna encourages you to periodically review this page to be informed of how we are protecting your information. If you have questions or concerns about policy changes, you should first contact Medical Sauna’s customer service department at <strong>support@medicalsaunas.com</strong> or <strong><!-- (818)805-0026 -->(818) 654-4756</strong></p>
                    <br>
                    <strong>How We Use The Information We Gather</strong>
                    <p>Medical Sauna may request personal information, including your name, shipping address, telephone number, e-mail address, billing address, credit card number, and expiration date. Medical Sauna collects this information in order to:</p>
                    <br>
                    <p><strong>Process an order<br>
                            Verify your identity for payment authorization<br>
                            Contact you regarding your order status<br>
                            Ship your order to you<br>
                            Send you news from Medical Saunas™ (if you request)<br>
                            Generate anonymous statistics<br>
                            Provide you with an excellent shopping experience
                        </strong></p>
                    <br>
                    <p>Once Medical Sauna gathers your name and address, this information will then be transferred to your credit card company, if applicable, for confirmation to complete your purchase. Your name and address will not be used for any other purpose than delivery of your order. Your name and address will not be sold to mailing-list firms. Although Medical Sauna may occasionally share statistics about our customers with important business partners, we do not disclose any identifying information about individual customers.</p>
                    <br>
                    <strong>Third Party Privacy Policies</strong>
                    <p>Medical Sauna gives you access to third party partners to provide you with certain services that are detailed below. Medical Sauna will provide that third party with your transaction information and then that third party will collect additional information that it needs to provide you with the requested service. Medical Sauna encourages you to review the privacy statements of Web sites you choose to link to from Medical Sauna so that you can understand how those Web sites collect, use, and share your information. Medical Sauna is not responsible for the privacy statements or content on Web sites outside of Medical Sauna’s web site.</p>
                    <br>
                    <strong>Tracking of Advertising Links, Action Tags, and Cookies</strong>
                    <p>Medical Sauna works with a third-party advertising company to collect information on advertisement performance and Web site usage. This company serves Medical Sauna ad banners on our behalf which use action tags and cookies to measure how many times users view and click on an ad and which specific pages of our Web site users visit (e.g. a registration or checkout page). To do so, this company may use information about your visits to the Medical Sauna web site and other web sites. Unless otherwise notified, our third-party advertising company does not use names, addresses, e-mail addresses, or telephone numbers and does not link any online actions or cookies to an identifiable person. The use of your cookies is subject to the privacy policy of our third-party advertising company.</p>
                    <br>
                    <strong>Site Usage Tracking and Analysis</strong>
                    <p>Medical Sauna uses a third party, to provide additional tracking and analysis of information and data collected from visitors to our Web site.</p>
                    <br>
                    <strong>Medical Sauna Communication</strong>
                    <p>Medical Sauna offers customers many ways to keep up to date with the latest product offerings and promotions. Below, we outline how we treat the information you provide us.</p>
                    <br>
                    <strong>Email Newsletters</strong>
                    <p>Medical Sauna offers customers the chance to opt-in to receive regular updates, news, and special offers via email. Customers may opt-out of receiving these newsletters at any time by clicking the unsubscribe button on the bottom of any email newsletter.</p>
                    <br>
                    <strong>Surveys</strong>
                    <p>Medical Sauna occasionally requests information from our users and customers via surveys. Participation in these surveys is completely voluntary, and all participants have a choice whether or not to disclose information. The requested information typically includes the customer's first name, as well as information relating to the customer's experience at Medical Sauna, or their opinions on products they have purchased. Survey information will be used internally to monitor or improve this site, and after attaining user permission, may be posted on the site to provide information about our products to other users. Users' personally identifiable information is not shared with third parties unless Medical Sauna gives prior notice and choice.</p>
                    <br>
                    <strong>Opt-Out Policy</strong>
                    <p>To opt out of receiving communications from Medical Sauna, just click the "unsubscribe" button at the bottom of any email newsletters. </p>
                    <br>
                    <strong>SMS Compliance Policy</strong>
                    <p>You agree to receive recurring automated promotional and personalized marketing text messages (e.g. cart reminders) from Medical Saunas. Consent is not a condition of any purchase. Reply HELP for help and STOP to cancel. Msg frequency varies. Msg and data rates may apply.</p>
                    <br>
                    <strong>Updating Personal Information</strong>
                    <p>If the personal information Medical Sauna has gathered from you changes or you no longer desire our service, we will gladly correct, update, or remove any personal data you have previously provided to us. To request a change or removal of your personal information, send an e-mail to sales@superearlybirds.com. You can also log into your account and make any changes. </p>
                    <br>
                    <strong>Security</strong>
                    <p>Medical Sauna is committed to protecting the privacy of your personal information. To protect the information you send from your computer to Medical Sauna e-commerce system, this information - including your credit card number, name, and address - is encrypted using Secure Sockets Layer (SSL) software. Internally, we use encryption and Web security technologies to protect the privacy of your personal data. Only parties responsible for processing your order have access to your credit card and bank information. Medical Sauna continuously reviews its policies and practices to ensure that all customer information remains secure.</p>
                    <br>
                    <strong>Use of Technology</strong>
                    <p>"Cookies" are small pieces of information that are stored by your browser on your computer hard drive. You must have cookies enabled in order for you to be able to perform many of the general functions on the Medical Sauna web site. With cookies enabled, the Medical Sauna web site will have the capacity to deliver you a more customized and complete shopping experience to track visits from our affiliates and partners and to enable the use of our shopping cart. Medical Sauna does not use cookies to store or collect any personal information such as names, addresses, or payment information. To learn how to enable cookies on your computer, visit the Web site that corresponds to the browser you use. </p>
                    <br>
                    <strong>IP Address</strong>
                    <p>Medical Sauna collects your IP address, which cannot be used to identify you personally, to help diagnose problems with its server, to administer and tune the operation of its site, and to log your browser type and referring URL information. Medical Sauna servers use each IP address to anonymously track the date and duration of each session within its site. Your IP address may also be used to help Medical Sauna collect statistical data or in gathering broad usage information. Certain parts of this information may be shared with Medical Sauna partners, but your IP address will not be distributed. </p>
                    <br>
                    <strong>Contacting Medical Sauna</strong>
                    <p>To provide the best customer service possible, Medical Sauna provides multiple methods for customers to ask questions and provide feedback. </p>
                    <br>
                    <strong>Contact Us</strong>
                    <p>Via the "Contact Us" link, Medical Sauna allows customers to e-mail sales@superearlybirds.com. This provides direct contact to a Medical Sauna customer rep, who reads each e-mail and tries to promptly answer your email. Medical Sauna may also file your comments to improve the site and program or review and discard the information. You may also send us your comments about the Medical Sauna web site or the shopping experience in general, as we always appreciate feedback. </p>
                    <br>
                    <strong>Fraudulent Charge Protection</strong>
                    <p>If a third party obtains your personal information from a purchase made with Medical Sauna and uses that information to perpetrate credit card fraud, you are protected. Under the Fair Credit Billing Act, your bank may hold you liable for up to $50 of fraudulent charges. If your bank holds you liable for any portion of the $50, Medical Sauna will cover up to the entire $50. Medical Sauna will cover this liability if the unauthorized use resulted through no fault of yours from purchases made on Medical Sauna secure server. In the event of unauthorized use of your credit card, you must notify your credit card company in accordance with its reporting rules and procedures. </p>
                    <br>
                    <strong>Legal Disclaimer</strong>
                    <p>The only time Medical Sauna will disclose personal information is when required to by law or with the good-faith belief that such action is necessary in order to conform to the law.</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "privacy policy content",
    "settings": [],
    "presets": [
      {
        "name": "privacy policy content"
      }
    ]
  }
{% endschema %}