<section class="table-break-x w3_bg">
    <div class="acc-bg-blue w3_bg">
        <div class="container w3_bg">
            <div class="feature-h-text collapsed w3_bg" data-toggle="collapse" data-target="#medical-acc2">
                <h4 class=" head-a1 removebr ">PRODUCT<br><span> SPECIFICATIONS</span> </h4>
                    <i class="fa fa-angle-up head-arrow arrow-gray"></i>
            </div>
        </div>
    </div>
    <div class="container table-container" id="medical-acc2" style="padding:0 !important;">
        <!-- <h3 class="custome-position-4">PRODUCT<span class="black-system-1"> SPECIFICATIONS</span></h3> -->
        <div class="Inner-main">
            <div class="col-md-12 col-sm-12 col-xs-12 mobile-inner" style="padding:0;">
                <div class="over-flow">
                    <table class="table-condensed med_table_width">
                        <!-- table-images strated here -->
                        <thead>
                            <tr>
                                <th class="fixed-cell-a "></th>
                                 <th class="prod-brk-th td-1cell">
                                        <a href="/products/nature-4-™">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner-images-0501.png?v=1742899042" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner-images-0501.png?v=1742899042" alt="Traditional-Sauna-4" style="padding:8px;" class="suanas-img-0a1" data-done="Loaded">
                                        </a>
                                    </th>
                                    <th class="prod-brk-th td-2cell">
                                        <a href="/products/nature-5-™">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner-images-0501.png?v=1742899042" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner-images-0501.png?v=1742899042" alt="medicalsaunas nature 5" class="suanas-img-0a2" data-done="Loaded">
                                        </a>
                                    </th>
                                    <th class="prod-brk-th td-3cell">
                                        <a href="/products/nature-6-™">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-07.png?v=1742899131" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-07.png?v=1742899131" alt="medicalsaunas nature 6" class="suanas-img-0a3" data-done="Loaded">
                                        </a>
                                    </th>
                                    <th class="prod-brk-th td-4cell">
                                        <a href="/products/nature-7-™">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-08.png?v=1742899231" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-08.png?v=1742899231" alt="medicalsaunas nature 7" class="suanas-img-0a4" data-done="Loaded">
                                        </a>
                                    </th>
                                    <th class="prod-brk-th td-5cell">
                                        <a href="/products/nature-8-™">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-09.png?v=1742899292" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/banner_20images-09.png?v=1742899292" alt="medicalsaunas nature 8plus" class="mbreakx suanas-img-0a5" data-done="Loaded">
                                        </a>
                                    </th>
                                <th class="prod-brk-th td-5cell">
                                    <a href="/products/nature-8plus-flatroof™">
                                        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/nature9-comparison_c54ebf2e-e91e-4e1b-a5ea-aac6a2e4e41f.jpg?v=1742899351" data-src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/nature9-comparison_c54ebf2e-e91e-4e1b-a5ea-aac6a2e4e41f.jpg?v=1742899351" alt="medicalsaunas nature 8plus flat roof" class="mbreakx suanas-img-0a6" data-done="Loaded">
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <!-- table-images closed here -->
                        <!-- table row buy-now images strated here -->
                        <tbody>
                          
                          <tr>
                            <td data-label="" class="fixed-cell-a">
                                <div class="visible-xs button-container">
                                    <button class="btn btn-default-a hide-table-button" id="previous-table"><i class="fa fa-angle-down table-previous"></i>
                                    </button>
                                    <button class="btn btn-default-a" id="next-table"><i class="fa fa-angle-down table-next"></i>
                                    </button>
                                </div>
                            </td>

                            {% assign variable = 1 %}
                              {% assign variable23 = 1 %}
                               {% assign variable23sd = 1 %}
                              {% for block in section.blocks %}
                                
                                    {% assign productzxx = block.settings.prod %}
                                    <td class="prod-brk-td td-{{ variable }}cell" data-label="{{ productzxx.title }} ">
                                      {% render 'buy-buttons-spec', 
                                        productzxx: productzxx,
                                        variable23: variable23,
                                        variable23sd: variable23sd
                                      %}
                                    </td>
                              {% assign variable = variable | plus: 1 %} 
                              {% assign variable23 = variable23 | plus: 1 %} 
                              {% assign variable23sd = variable23sd | plus: 1 %} 
                              {% endfor %}
                        </tr>

                          
                        <!-- table row buy-now images closed here -->
                        <tr>
                          
                                <td class="table-a fixed-cell-a">Model: </td>
                                <td class="prod-brk-td td-1cell"><a href="/products/nature-4-™" class="table-a table-aa">Nature 4™ </a></td>
                                <td class="prod-brk-td td-2cell"><a href="/products/nature-5-™" class="table-a table-ab">Nature 5™ </a></td>
                                <td class="prod-brk-td td-3cell"><a href="/products/nature-6-™" class="table-a table-ac">Nature 6™ </a></td>
                                <td class="prod-brk-td td-4cell"><a href="/products/nature-7-™" class="table-a table-ad">Nature 7™</a></td>
                                <td class="prod-brk-td td-5cell"><a href="/products/nature-8" class="table-a table-af">Nature 8 Plus™ -Pitch Roofv5 </a></td>
                                <td class="prod-brk-td td-5cell"><a href="/products/nature-8plus-flatroof" class="table-a table-af">Nature 8 Plus™-Flat Roofv5</a></td>
                      
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Capacity</td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-01">1 person</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">2 people</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">3 people</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="side-left-04">3-4 people</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-05">4-6 people</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-06">4-6 people</span></td>
                        </tr>
                        <tr>
                            <td class="table-a fixed-cell-a"><strong>Ultra</strong> Full Spectrum Outdoor Heaters™ - <br>100X <strong>Stronger</strong></td>
                               <td class="prod-brk-td td-1cell"><a href="/products/nature-4-™" class="table-a table-aa">6</a></td>
                                <td class="prod-brk-td td-2cell"><a href="/products/nature-5-™" class="table-a table-ab">7</a></td>
                                <td class="prod-brk-td td-3cell"><a href="/products/nature-6-™" class="table-a table-ac">9</a></td>
                                <td class="prod-brk-td td-4cell"><a href="/products/nature-7-™" class="table-a table-ad">10</a></td>
                                <td class="prod-brk-td td-5cell"><a href="/products/nature-8-™" class="table-a table-af">11</a></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">100% Natural Canadian Wood</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">Natural <br>
                            Canadian Hemlock</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">Natural <br>
                            Canadian Hemlock</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">Natural <br>
                            Canadian 
                          Hemlock</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-04">Natural <br>
                            Canadian Cedar</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-05 side-left-05a">Inside &amp; Outside <span class="d-mblock"> Natural Red Cedar, <span class="d-mblock">we did not go cheap <span class="d-mblock">on anything!</span></span></span></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-06 side-left-05a">Inside &amp; Outside <span class="d-mblock"> Natural Red Cedar, <span class="d-mblock">we did not go cheap <span class="d-mblock">on anything!</span></span></span></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">The World's First 3D <strong>Sourround Heat </strong>Therapy Outdoor Medical Sauna</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Hot/Cold Cleansing System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Detox Routine™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Insulated Airflow System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Safe Cool Down System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Skin Rejuvenation/Cleansing System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Tempered Glass Door</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Simple Touch LED Control Panel™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Clasp-together Assembly</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Speaker System with Bluetooth/AUX/USB Connection</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">The Industry’s First Hot Yoga Sauna</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Rapid Internal Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Energy Efficient Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Radio Functionality</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Chromatic Therapy System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Omni-Directional Heating™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Extra-Thick Walls to Handle Rough Weather</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Roof Vent for Extra Comfort</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">The World's First Hybrid Outdoor Sauna, <br>
                            Dry &amp; Steam Sauna!</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell">&nbsp;</td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Deep Ergonimic Bench Seating for Extra Comfort</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Interior Reading Light System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Silent Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Audio Theater System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Executive Corner Unit Design</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Extra-Insulated Airflow System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Extra-Rapid Internal Heating System™</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e"><i class="fa fa-check"></i></span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f"><i class="fa fa-check"></i></span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Exterior  Dimensions <br>
                            without overhang (WDH)</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">36" x 33" x 78"</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">48″ x 44″ x 78″</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">60″ x 49″ x 78″</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">75″ x 54″ x 78″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">70" x 67″ x 92″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">Back: 70" x 67" x 80"<br>
                            Front: 70" x 67" x 87.8″</span></td>

                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Exterior Dimensions with Overhang (WDH)</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">40" x 36" x 97"</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">52″ x 48″ x 97"</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">63″ x 52″ x 97</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">78″ x 57″ x 97″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">77.3″ x 74.8″ x 92″</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">Back: 75.9" x 74.2" x 80"  <br>
                            Front: 75.9" x 74.2" x 87.8"</span></td>


                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Operating Voltage</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">120V/20amps</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">120V/2x20amps</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">120V/2x20amps</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">Single Phase<br>
                            220-240V/40amps</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">Single Phase <br>
                            220-240V/50amps</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">Single Phase <br>
                            220-240V/50amps</span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Watts</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">Spectrum 1800W</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">Spectrum 2300W</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">Spectrum 2750W</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">Spectrum 3300W/<br>Stove 6000 Watts</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">Spectrum 3500W/<br>Stove 8000 Watts</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">Spectrum 3500W/<br>Stove 8000 WattsSpectrum 3500W/<br>Stove 8000 Watts</span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Wire Type</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">One 120V Plug</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">Two 120V Plug</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">Two 120V Plug</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">Hardwired - 220V</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">Hardwired - 220V</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">Hardwired - 220V</span></td>
                        </tr>
                        <tr>
                            <td data-label="" class="fixed-cell-a title-td-specification">Model #</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">nature4g3p</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">nature5g3p</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">nature6g3p</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">nature7g4p</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">nature8g5p</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">nature8g5f</span></td>
                        </tr>
                        <tr class="first bg-line-gray">
                            <td data-label="" class="fixed-cell-b title-td-specification">Weight</td>
                            <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="check-point-a">683 lbs.</span></td>
                            <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="check-point-b">747 lbs.</span></td>
                            <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="check-point-c">831 lbs.</span></td>
                            <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="check-point-d">986 lbs.</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-e">1417 lbs.</span></td>
                            <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="check-point-f">1312 lbs.</span></td>
                        </tr>
                        <!-- table row buy-now images strated here -->
                        <tr>

                            <td data-label="" class="fixed-cell-a"></td>
                            
                            {% assign variable = 1 %}
                              {% assign variable23 = 1 %}
                               {% assign variable23sd = 1 %}
                              {% for block in section.blocks %}
                                
                                    {% assign productzxx = block.settings.prod %}
                                    <td class="prod-brk-td td-{{ variable }}cell" data-label="{{ productzxx.title }} ">
                                      {% render 'buy-buttons-spec', 
                                        productzxx: productzxx,
                                        variable23: variable23,
                                        variable23sd: variable23sd
                                      %}
                                    </td>
                              {% assign variable = variable | plus: 1 %} 
                              {% assign variable23 = variable23 | plus: 1 %} 
                              {% assign variable23sd = variable23sd | plus: 1 %} 
                              {% endfor %}



                        </tr>
                        <!-- table row buy-now images closed here -->
                    </tbody></table>
                </div>
                <br>
            </div>
        </div>
    </div>








  
       
    </section>

{% schema %}
  {
    "name": "product specific 8 flat",
    "settings": [],
     "blocks": [
         {
          "type":"product",
          "name":"Add product",
          "settings":[
            {
                "type":"product",
                "id":"prod",
                "label":"Select Product"
             },
            {
              "type": "image_picker",
              "id":"product_image",
              "label":"Product Image"
            }
             
          ]
       }
  ],
    "presets":[
      {
       "name": "product specific 8 flat" 
      }
    ]
  }
{% endschema %}