<section class="middle-content section-a w3_bg">
        <div class="container w3_bg">
            <div class="row w3_bg">
                <div class="col-md-12 top-m w3_bg">

                    <div class="middle-content w3_bg">

                        <!-- <h2>MEDICAL 4™</h2>-->

                        <div class="col-md-9 w3_bg">

                            <center>
                                <img width="500" height="100" src="https://www.medicalsaunas.com/images/Medical-3TM.png" data-src="https://www.medicalsaunas.com/images/Medical-3TM.png" alt="medicalsaunas 3 logo" class="img-responsive" html="" data-done="Loaded">
                            </center>
                            <!--
                	<div id="midlewraper"><div id="lft-content"> <div id="carousel-wrapper">-->

                            <div class="nature8_caroufredsel_wrapper w3_bg">
                                <div class="caroufredsel_wrapper w3_bg" style="text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 870px; height: 630px; margin: 0px; overflow: hidden;"><div id="carousel" class="nature8_imgs w3_bg" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 20010px; height: 630px;">

                                    <span id="09" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-01.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-01.png" alt="medical saunas3 - 00" data-done="Loaded"></span>
                                    <span id="01" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-00.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-00.png" alt="medical saunas3 - 01" data-done="Loaded"></span>
                                    <span id="02" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-02.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-02.png" alt="medical saunas3 - 02" data-done="Loaded"></span>
                                    <span id="03" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-03.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-03.png" alt="medical saunas3 - 03" data-done="Loaded"></span>
                                    <span id="04" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-04.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-04.png" alt="medical saunas3 - 04" data-done="Loaded"></span>
                                    <span id="05" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-05.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-05.png" alt="medical saunas3 - 05" data-done="Loaded"></span>
                                    <span id="06" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-06.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-06.png" alt="medical saunas3 - 06" data-done="Loaded"></span>
                                    <span id="07" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-07.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-07.png" alt="medical saunas3 - 07" data-done="Loaded"></span>
                                    <span id="08" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-10.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-10.png" alt="medical saunas3 - 10" data-done="Loaded"></span>
                                    <span id="11" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" alt="medical saunas3 - 09" data-done="Loaded"></span>
                                    <span id="12" style="width: 870px; height: 739.5px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" alt="medical saunas3 - 08" data-done="Loaded"></span>

                                </div></div>
                            </div>
                            <div id="thumbs-wrapper" class="w3_bg">
                                <div class="caroufredsel_wrapper w3_bg" style="text-align: start; float: none; position: relative; inset: 0px auto auto 0px; z-index: auto; width: 822px; height: 46px; margin: 0px; overflow: hidden;"><div id="thumbs" class="thumbs_nature_img w3_bg" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 3836px; height: 46px;">
                                    <a href="#09" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-01.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-01.png" alt="medical saunas3 - 00" data-done="Loaded"></a>
                                    <a href="#01" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-00.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-00.png" alt="medical saunas3 - 01" data-done="Loaded"></a>
                                    <a href="#02" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-02.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-02.png" alt="medical saunas3 - 02" data-done="Loaded"></a>
                                    <a href="#03" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-03.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-03.png" alt="medical saunas3 - 03" data-done="Loaded"></a>
                                    <a href="#04" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-04.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-04.png" alt="medical saunas3 - 04" data-done="Loaded"></a>
                                    <a href="#05" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-05.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-05.png" alt="medical saunas3 - 05" data-done="Loaded"></a>
                                    <a href="#06" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-06.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-06.png" alt="medical saunas3 - 06" data-done="Loaded"></a>
                                    <a href="#07" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-07.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-07.png" alt="medical saunas3 - 07" data-done="Loaded"></a>
                                    <a href="#08" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-08.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-08.png" alt="medical saunas3 - 08" data-done="Loaded"></a>
                                    <a href="#11" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-09.png" alt="medical saunas3 - 09" data-done="Loaded"></a>
                                    <a href="#12" style="width: 129px; height: 129px;"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-08.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/special-forces-at/Medical-3-V2-Slideshow-08.png" alt="medical saunas3 - 10" data-done="Loaded"></a>
                                </div></div>
                                <a id="prev" href="#" class="disabled" style="display: inline;"></a>
                                <a id="next" href="#" class="" style="display: inline;"></a>
                            </div>
                            <!--</div>-->
                            <!--</div> </div>-->
                            <div class="row padding_row hidden-xs w3_bg">
                                <h4 class="mobile_center prod_spec_h4 font-style">HANDCRAFTED FROM<span style="color:#000;"> SCRATCH</span> </h4>

                                <div class="col-md-4 w3_bg">
                                    <!-- <img src="images/saunas/m3/allnewm3/white/Cam_10.png"
                                        alt="medical saunas3 handcrafted -01" class="img-responsive handcrafted"> -->
                                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical-Sauna-02.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical-Sauna-02.png" alt="medical saunas3 handcrafted -01" class="img-responsive handcrafted" data-done="Loaded">
                                </div>

                                <div class="col-md-4 w3_bg">
                                    <!-- <img src="images/picturetwo2.png" alt="medical saunas3 handcrafted -02"
                                        class="img-responsive handcrafted"> -->
                                    <!-- <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical-Sauna-02.png" alt="medical saunas3 handcrafted -03" class="img-responsive handcrafted"> -->
                                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/8-v2-new/Traditional-v4-close-up-web-1+(2).png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/8-v2-new/Traditional-v4-close-up-web-1+(2).png" alt="medical saunas3 handcrafted -03" class="img-responsive handcrafted" data-done="Loaded">
                                </div>

                                <div class="col-md-4 w3_bg">
                                    <!-- <img src="images/picturethree3.png" alt="medical saunas3 handcrafted -03"
                                        class="img-responsive handcrafted"> -->
                                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical-Sauna-03.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical-Sauna-03.png" alt="medical saunas3 handcrafted -04" class="img-responsive handcrafted" data-done="Loaded">
                                </div>
                               
                            </div>
                            <br>
                        </div>


                        <div class="col-md-3 w3_bg">
                                                        <div class="nature-info w3_bg">
                                <div class="name-heading paddingmobile w3_bg">Medical 3<span class="tradmark-symbol"> ™</span>
                                <style>
    .slide-toggle {
        cursor: pointer;
        font-weight: 700;
        font-size: 13px;
    }
    .see-popup {
        position: fixed;
        margin: auto;
        z-index: 3;
        right: 0;
        top: 0;
        height: 100%;
        display: none; /* Initially hidden */
        overflow: hidden;
        background: rgb(41 41 41 / 0%);
    }
    .see-popup-inner {
        width: 400px;
        padding: 5px 10px 0;
        border: 1px solid #a29415;
    }
    .see-popupsub {
        float: inline-end;
        background: #fff;
        position: relative;
        z-index: 2;
    }
    .see-close {
        font-size: 25px;
        float: inline-end;
        cursor: pointer;
    }
    .head-popup {
        border-top: 1px solid #ccc;
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 16px;
        padding-top: 10px;
        font-weight: 700;
        line-height: 20px;
    }
    .head-popup-desc1 {
        font-size: 14px;
        margin-bottom:5px;
    }
    .head-popup-pay {
        font-size: 14px;
        font-weight: 700;
    }
    ul.head-popup-p {
        padding-left: 0px;
        font-size: 12x;
        margin-bottom: 10px;
        line-height: 18px;
        margin-top: 5px;
    }
    ul.head-popup-p li {
        list-style: none;
    }
    ul.head-popup-p li:nth-child(2) {
        margin-top: 10px;
    }
    ul.head-popup-p li:nth-child(3) {
        margin-top: 10px;
    }
    a.head-popup-link {
        color: #0000FF;
        margin: auto;
        display: flex;
        padding-bottom: 10px;
        font-size: 16px;
    }
    a.head-popup-link span {
        text-align: center;
        margin: auto;
        display: block;
        font-weight: bold;
    }
    span.head-popup-pay {
        font-size: 14px;
        font-weight: 700;
    }

    @media only screen and (max-width: 767px) {
        .see-popup-inner {
            width: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
        .see-popupsub {
            width: 100%;
        }
        .slide-toggle {
            display: flex;
        }
        .head-popup {
            font-size: 14px;
        }
        .head-popup-desc1 {
            font-size: 12px;
            line-height: 18px;
        }
        ul.head-popup-p {
            font-size: 12px;
            margin-bottom: 5px;
            line-height: 18px;
        }
        a.head-popup-link {
            font-size: 16px;
        }
    }
</style>
<div class="reviews-star-01 w3_bg">
    <a href="#reviews-views" class="reviews-color">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i> 
        <span class="reviews-name"> 369 Reviews </span>
    </a>
</div>
</div>
<div class="offer-info w3_bg">
    <div class="offer-info-a w3_bg">Retail: <span style="display:block">
            $7,999        </span></div>
    <div class="offer-info-a w3_bg">Discount:
        <span style="display:block;background-color: #FEFE00;">
            &nbsp;
            56% OFF
        </span>
    </div>
    <div class="offer-info-b w3_bg">You Save: <span style="display:block">
            $4,450        </span></div>
</div>
<div class="prod-price w3_bg">
    <div class="price_pro w3_bg">
        <span class="spa-price-main">
            $3,549        </span>
        <div class="product-title-img w3_bg"> <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/super.png?v=1733895750" alt="" class="offr-img">
        </div>
    </div>
    <div class="testing w3_bg">
        <div class="line w3_bg"> </div>
        <div class="font-bold text-base w3_bg">or</div>
        <div class="line w3_bg"> </div>
    </div>
    <div class="price_mon w3_bg">
        <div class="month_price w3_bg">
            <span class="month_price-a">
                $114<font size="-1"> /month</font>
            </span>
        </div>
        <div class="sugg_payment w3_bg">with 18 months. $1,500 down payment.<span class="slide-toggle">See How</span>
        </div>
        <div class="shw_hw w3_bg"><a href="tel:(818)649-2316"><span style="font-weight:bold;" class="sugg_payment">Call
                    (818) 649-2316 to see if
                    you qualify!</span></a>
        </div>
    </div>
</div>
<div class="buynow btn-group cart w3_bg">

    <a style="color:#fff;" href="https://www.medicalsaunas.com/orderdetails.php?id=27">
        <img width="423" height="106" src="https://www.medicalsaunas.com/images/medical_8_27_04/buy_now.png" data-src="https://www.medicalsaunas.com/images/medical_8_27_04/buy_now.png" alt="" class="buynow_img nature_buynow" html="" data-done="Loaded"></a>
</div>
<div class="product-price brk_padding_row w3_bg">
    <div class="gry-warp w3_bg" style="font-family: 'Montserrat', sans-serif;">
        <h5 style="text-align:center;color: #3f3f40 !important;">Price Increase In:</h5>
        <table width="250px" border="0">
            <tbody>
                <tr>
                    <td><img src="https://www.medicalsaunas.com/images/icon-timeclock-s.png" data-src="https://www.medicalsaunas.com/images/icon-timeclock-s.png" alt="medicalbreakthrough - timeclock" width="20" height="20" html="" data-done="Loaded"></td>
                    <td>
                        <strong>
                          <div id="countdowntop" style="color: #3f3f40;" class="w3_bg">
                            <span class="days"></span> 
                            <span class="hours"></span> 
                            <span class="minutes"></span>
                            <span class="seconds"></span> 
                          </div>
                        </strong>
                    </td>
                </tr>

                <tr>
                    <td><img src="https://www.medicalsaunas.com/images/greencheckbox-s.png" data-src="https://www.medicalsaunas.com/images/greencheckbox-s.png" alt="medicalbreakthrough - greencheckbox" width="20" height="20" html="" data-done="Loaded"></td>
                    <td>
                        <p style="font-size:14px; text-align:left; font-weight:bold; color: #000;font-family: 'Montserrat', sans-serif;">
                            Over
                            1000 Bought.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
<div class="new-box nutshell_box lineup w3_bg">
    <div class="mobile-price w3_bg">
        <div class="panel cust-pricesection w3_bg">
            <div class="feature-h-text medical-inblock w3_bg">
                <h3 class="panel-title-aa h4-panel  medical-nut" data-toggle="collapse" data-parent="#accordion-1" href="#Twentyfour-a">

                    <span class="heading-pc">In a Nutshell </span>
                    <a>
                        <span class="glyphicon "></span>
                        <i class="fa fa-angle-up  pull-right arrow-size9 arrow-gray arrow-gray-a"></i>
                    </a>
                </h3>
            </div>
            <div id="Twentyfour-a" class="panel-collapse collapse in w3_bg">
                <div class="w3_bg">
                <p class="acordian-disc">
                Doctor Based - The ONLY sauna designed by doctors. Made to improve blood flow, reduce headaches and migraines, heal your muscles, and achieve absolute pain relief for a better night's sleep.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-border cust-pricesection w3_bg">
            <div class="feature-h-text medical-inblock w3_bg">
                <h3 class="panel-title-aa h4-panel" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentyfive-a">

                    <span class="heading-pc">Fine Print 
                    </span>
                    <a>
                        <span class="glyphicon "></span>
                        <i class="fa fa-angle-up  pull-right arrow-size9 arrow-gray arrow-gray-a"></i>
                    </a>
                </h3>
            </div>


            <div id="collapseTwentyfive-a" class="panel-collapse collapse in w3_bg">
                <div class="w3_bg">
                    <p class="acordian-disc">
                    Limit 2 per customer: Limited quantities avaliable. Any orders greater than 2 will automatically be refunded.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-border cust-pricesectiona w3_bg">
            <div class="feature-h-text medical-inblock w3_bg">
                <h3 class="h4-panel panel-title-aa" data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwentysix-a">

                    <span class="heading-pc">Warranty
                    </span>
                    <a>
                        <span class="glyphicon "></span>
                        <i class="fa fa-angle-up  pull-right arrow-size9 arrow-gray arrow-gray-a"></i>
                    </a>
                </h3>
            </div>


            <div id="collapseTwentysix-a" class="panel-collapse collapse in w3_bg">
                <div class="w3_bg">
                    <div class="acordian-disc w3_bg">
                        <p class="nutshell_para text-start medical-firstwa">All of our saunas come with a 3 year warranty included FREE.</p>
                        <p class="nutshell_para">The price is heavily discounted for the month of
                        December. Purchase now while prices are still low. Every 2 weeks the price will increase
                            because our supplies are very limited.&nbsp; Enjoy the deals and call us at <!-- (818)805-0026 -->
                            (818) 649-2316 with any questions you may have.
                        </p>
                </div>
        </div>
    </div>
    </div>
    </div>
</div>

                        </div>

                    </div>
    </div></div></div></div></div></section>
   
    
{% schema %}
  {
    "name": "product slider med-3",
    "settings": [],
    "presets":[{
      "name": "product slider med-3"
    }]
  }
{% endschema %}