{% comment %} <div class="medical-banner-container w3_bg">
    <a href="/collections/medical-saunas">
      
    {% assign banner_from_collection = collections['medical-saunas'].metafields.custom.home_page_banner %}
    {% assign banner_from_collection_mobile = collections['medical-saunas'].metafields.custom.home_page_banner_mobile %}
      
        <img src="{{ banner_from_collection }}"
           alt="Snow" class="w-100 desktop-view" width="" height="" data-done="Loaded">
        <div class="mb-bannerimg w3_bg">
        <img src="{{ banner_from_collection_mobile }}"
          alt="Snow" class="w-100" width="" height="" data-done="Loaded">
       </div>
    </a>
    <div class="mcall-now w3_bg">
          Don't Wait. <a href="tel: (818) 805-0026" class="link-mcall">
          <span class="call-nowmd">Call Now! </span>
          <span style="color:#fff;text-decoration: none;">
         (818) 805-0026 </span></a>
    </div>
</div> {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

  <style>
      h3.countlesscel-head {
          text-align: center;
          font-size: 40px;
          font-weight: bold;
      }

    .owl-carousel .owl-item {
        margin-right: 9px !important;
    }

    .owl-carousel .item {
      text-align: center;
      padding: 10px;
      margin: 5px;
    }

    .owl-carousel .item img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .owl-carousel .item h4 {
        margin: 10px 0 5px;
        font-size: 20px;
        font-weight: 600;
    }

    .owl-carousel .item p {
        margin: 0;
        font-size: 14px;
        color: #000;
        text-align: center;
    }

    .progress-bar-wrapper {
      height: 5px;
      background: #ddd;
      margin-top: 15px;
      border-radius: 5px;
      overflow: hidden;
    }

    .progress-bar {
      height: inherit;
      background: black;
      width: 20%; /* Initial 20% */
      transition: width 0.3s ease;
    }
    .progress-bar {
        position: absolute;
        background-color: #3b3b3b !important;
    }

    /* Responsive tweak for item spacing */
    @media (max-width: 600px) {
      h3.countlesscel-head {
          font-size: 30px;
      }
      .d-md-block{
        display:block;
      }
      .owl-carousel .item {
          padding: 0px;
      }
       .owl-carousel .item h4 {
        font-size: 16px;
      }
      .owl-carousel .item p {
        font-size: 13px;
      }
      
      
    }
  </style>
<div class="medical-banner-container w3_bg">
  <h3 class="countlesscel-head">Countless Celebs Sauna <span class="d-md-block">of Choice</span></h3>
  <div class="carousel-container">
    <div class="owl-carousel owl-carousel-b">
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_01.png?v=1744958667" alt="">
        <h4>Matthew Maddox</h4>
        <p>CEO of Wynn Resorts</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_02.png?v=1744958667" alt="">
        <h4>Claire Thomas</h4>
        <p>Fitness Influencer</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_03.png?v=1744958667" alt="">
        <h4>Oliver Grant</h4>
        <p>Martial Artist</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_04.png?v=1744958667" alt="">
        <h4>Emily Johnson</h4>
        <p>Content Creator</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_05.png?v=1744958667" alt="">
        <h4>Meghan Trainor</h4>
        <p>Singer, Songwriter</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_06.png?v=1744958667" alt="">
        <h4>Joe Rogan</h4>
        <p>Podcaster, Commentator</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_01.png?v=1744958667" alt="">
        <h4>Meghan Trainor</h4>
        <p>Singer, Songwriter</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_02.png?v=1744958667" alt="">
        <h4>Joe Rogan</h4>
        <p>Podcaster, Commentator</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_03.png?v=1744958667" alt="">
        <h4>Meghan Trainor</h4>
        <p>Singer, Songwriter</p>
      </div>
      <div class="item">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/indexcel_04.png?v=1744958667" alt="">
        <h4>Joe Rogan</h4>
        <p>Podcaster, Commentator</p>
      </div>
    </div>
  
    <div class="progress-bar-wrapper">
      <div class="progress-bar" id="progressBar"></div>
    </div>
  </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
  $(document).ready(function(){
    var $carouselb = $(".owl-carousel-b");

    // Start with 20%
    $('#progressBar').css('width', '20%');

    // Progress steps after first 20%
    const steps = [30, 60, 100, 0, 20];

    $carouselb.owlCarousel({
      stagePadding: 20,
      loop: true,
      margin: 10,
      nav: false,
      dots: false,
      responsive:{
        0:{ items:2 },
        600:{ items:3 },
        800:{ items:3 },
        1000:{ items:1 }
      }
    });

    let progressIndex = 0;

    function updateProgress() {
      // Cycle through steps array
      $('#progressBar').css('width', steps[progressIndex] + '%');
      progressIndex = (progressIndex + 1) % steps.length;
    }

    $carouselb.on('changed.owl.carousel', updateProgress);
  });
</script>


{% schema %}
  {
    "name": "realrev180425",
    "settings": [
      {
        "type": "image_picker",
        "id": "deskimage",
        "label":"Desktop Image"
      },
      {
        "type": "text",
        "id": "head_name",
        "label":"celebs name"
      },
      {
        "type": "text",
        "id": "head_prop",
        "label":"celebs prop"
      }
    ],
    "presets":[
      {
        "name":"realrev180425"
      }
    ]
  }
{% endschema %}