<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<style>
      
		.from-submitdata {
			background-color: #fbfbfb;
			padding: 5%;
			height: 100vh;
			display: flex;
			align-items: center;
		}

		.form-container {
			background-color: #fff;
			padding: 20px;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			max-width: 40%;
			width: 100%;
			text-align: center;
			margin: auto;
		}

		.form-container img {
			width: 70%;
		}

		.fade {
			border-width: 0 0 1px;
			color: skyblue;
			border-image: linear-gradient(90deg, rgba(135, 206, 235, 0), #c5c5c5 50%, rgba(135, 206, 235, 0) 100%) 0 0 100%;
			border-style: solid;
			opacity: inherit;
			margin-top: 0;
		}

		.rate-our {
			font-weight: 600;
			margin: 0;
            text-align: center;
            color: #000;
            margin-top: 20px;
		}

		.stars {
			margin: 10px 0;
			display: flex;
			justify-content: center;
			gap: 10px;
		}

		.stars span {
			font-size: 50px;
			cursor: pointer;
			color: #D1D0CE;
		}

		.stars span:hover,
		.stars span.hover,
		.stars span.selected {
			color: #FBAF01;
		}

		.stars span:hover~span {
			color: #D1D0CE;
		}

		.next-btn {
			color: white;
			border: none;
			padding: 10px 20px;
			border-radius: 5px;
			cursor: pointer;
			width: 95%;
			background-image: linear-gradient(to right, #00BCD6, #1080C2);
			font-weight: bold;
			font-size: 16px;
		}

		.next-btn:hover {
			background-color: #0056b3;
		}

		.post-email {
			color: #999999;
			border: none;
			padding: 15px 20px;
			margin-bottom: 10px;
			border-radius: 5px;
			cursor: pointer;
			width: 95%;
			font-weight: bold;
			font-size: 16px;
			background-color: #E6E6E6;
		}

		@media only screen and (max-width: 768px) {
			.form-container {
				max-width: 100%;
			}
		}
	</style>
<script type="text/javascript"> var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"968807203242d7cb86b7584ce8598eb0281e747e565dc658c49b64b66402410fa4066d0cb0679d5353ec53f1436c5f79", values:{},ready:function(){}}; var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true; s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>"); </script>
		<section class="from-submitdata">
			<div class="form-container">
                  <form method="get" action="reviews-add" enctype="multipart/form-data"
				onsubmit="return validateFrmSubmitHandler()">
  
					<img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/Sauna-Review-04.png?v=1743759507" alt="Medical Breakthrough Logo" class="">
					<p class="rate-our">How would you rate our service?</p>
					<div class="stars">
						<span data-rating="1"><i class="icon-star"></i></span>
						<span data-rating="2"><i class="icon-star"></i></span>
						<span data-rating="3"><i class="icon-star"></i></span>
						<span data-rating="4"><i class="icon-star"></i></span>
						<span data-rating="5"><i class="icon-star"></i></span>
					</div>
					<input type="hidden" id="TCount" name="TCount" value="0"/>
					<input type="hidden" id="typeOfRequest" name="typeOfRequest" value=""/>
					<input id="email" class="post-email" type="email" name="email" placeholder="E-mail*">
					<div id="emailErr" style="color: red; float: inline-start; margin-left: 15px;"></div>
					<button type="submit" class="next-btn">Next</button>
                    
				</form>
			</div>
		</section>

		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const stars = document.querySelectorAll('.stars span');
				let rating = 0;
				stars.forEach(star => {
					star.addEventListener('click', () => {
						rating = star.getAttribute('data-rating');
						stars.forEach(s => s.classList.remove('selected'));
						star.classList.add('selected');
						for (let i = 0; i < rating; i++) {
							stars[i].classList.add('selected');
						};
						document.getElementById('TCount').value = rating;
					});
					star.addEventListener('mouseover', () => {
						const hoverRating = star.getAttribute('data-rating');
						stars.forEach(s => s.classList.remove('hover'));
						for (let i = 0; i < hoverRating; i++) {
							stars[i].classList.add('hover');
						}
					});
					star.addEventListener('mouseout', () => {
						stars.forEach(s => s.classList.remove('hover'));
					});
				});
			});
			function isValidEmail(email) {
				const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
				return emailRegex.test(email);
			}

			function validateFrmSubmitHandler() {
				var rating = $(".stars span.selected").length;		
				var email = $("#email").val();
				if (rating > 0) {
					if(rating > 3) {
						$("#typeOfRequest").val("klaviyo");
					}
					if(isValidEmail(email)) {
						$("#emailErr").html('');
					} else {
						$("#emailErr").html('Please enter vaild email address');
						return false;
					}
					$("#TCount").val(rating);
				} else {
					alert('Please select a rating between 1 and 5 stars');
					return false;
				}				
				return true;
			}
		</script>

{% schema %}
{
  "name": "reviews-post",
  "settings": [
    {
      "type": "image_picker",
      "label": "image_logo",
      "id": "image_logo"
    },
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "text",
      "label": "para",
      "id": "para_disc"
    },
     {
      "type": "text",
      "label": "Button",
      "id": "button"
    },
  ],
  "presets": [
    {
      "name": "reviews-post"
    }
  ]
}
{% endschema %}