<div class="medicalsaunas-banner w3_bg">
</div>
{% schema %}
  {
    "name": "sauna banner",
    "settings": [],
    "presets":[
      {
        "name":"sauna banner"
      }
    ]
  }
{% endschema %}