<section class="middle-content w3_bg">
        <div class="container w3_bg" style="padding:0 !important">
            <div class="row w3_bg">

                <div class="middle-content w3_bg">

                    <div class="row w3_bg">
                        <div class="col-md-3 text-center m-mt-15 w3_bg">

                            <a href="infrared.php" class="saunas_safe">
                                <img width="100" height="100" src="https://www.medicalsaunas.com/images/snake.png" data-src="https://www.medicalsaunas.com/images/snake.png" class="img-responsive in-block margin-auto mt-30 m-ml--160" alt="medical devices" html="" data-done="Loaded">
                                <span class="in-block absolute"><span class="ft-21">How Safe Are</span><br>
                                    <span class="ft-30">Medical Saunas™?</span></span>
                            </a>
                        </div>
                        <div class="col-md-6 text-center w3_bg">
                            <!-- <img src="images/new-design.png" class="img-responsive" alt="new-design">-->

                            <h4 class="fordoblearrow arrows_h4">
                                Call <span class="span_h4">
                                    <!-- (818)805-0026 -->
                                    (818) 214-8487                                </span> to talk<br>
                                to a Medical Sauna specialist


                            </h4>

                            <img width="767" height="136" src="https://www.medicalsaunas.com/images/anoithernewimage.png" data-src="https://www.medicalsaunas.com/images/anoithernewimage.png" class="img-responsive desktop" alt="why get a regular sauna's when you can get a medical suana's - 01 " html="" data-done="Loaded">
                            <img width="302" height="110" data-class="LazyLoad" src="https://www.medicalsaunas.com/W3speedster/assets/images/blank-h.png" data-src="https://www.medicalsaunas.com/images/img-saunas-logo.png" class="img-responsive mobile saunas_logo_img" alt="why get a regular sauna's when you can get a medical suana's - 02" style="display:none;" html="">

                        </div>





                        <div class="col-md-3 text-center desktop w3_bg">
                            <a href="https://medicalsaunas.com/saunasaveslives.php">
                                <img width="100" height="128" src="https://www.medicalsaunas.com/images/fdnybadge.png" data-src="https://www.medicalsaunas.com/images/fdnybadge.png" class="img-responsive" alt="Medical Saunas Saving New York Firefighters" style="margin-left:auto; margin-right:auto; margin-top:30px;" html="" data-done="Loaded"></a>

                            <a href="https://medicalsaunas.com/saunasaveslives.php" style="color:#309cff; font-size:14px; font-weight:bold;">
                                CLICK HERE to See How
                                <br>Medical Saunas Saved Over
                                <br>700 New York Firefighters
                            </a>

                        </div>

                    </div>
                    <!-- <br> -->


                    <div class="row w3_bg">

                        <div class="col-md-10 m-mt-25 padding-0 w3_bg" style="float:none; margin-left:auto; margin-right:auto;">
                            <br>
                            <span style="display:none">
                                2024-12-10 21:59:00                                2024-12-07 02:06:47                            </span>
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/desktop/earlybirdspecials3.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/desktop/earlybirdspecials3.jpg" class="img-responsive desktop mx-auto" alt="new-design" data-done="Loaded">
                            <img data-class="LazyLoad" src="https://www.medicalsaunas.com/W3speedster/assets/images" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/mobile/m-earlybirdspecial3.jpg" style="display:none;" class="img-responsive mobile mx-auto" alt="new-design">

                            <!-- <img src="images/medicaldoctorsauna.jpg" class="img-responsive mx-auto"
                                alt="medical doctor sauna's nature and traditional free shipping"> -->
                            <div class="medical-doctor-div w3_bg">
                                <h2 class="medical-doctor-head">A Medical Doctor's Sauna.</h2>
                                <h2 class="md-span-hed"><span class="md-span">Nature &amp; Traditional - <span class="md-red-span">FREE</span> Shipping in the Continental US,<span class="md-span-two">$1,550 Shipping in Alaska, Hawaii &amp; Canada
                                            <!-- $1,250 Shipping in Alaska & Hawaii, $1,550 Shipping in Canada -->
                                        </span></span>
                                </h2>
                                <h3 class="md-span-hed"><span class="md-span md-span-bottem lh-1">Medical Saunas<sup class="tm-span">TM</sup> - <span class="md-red-span">FREE</span> <!-- Shipping in the entire US & Canada during -->Shipping in Continental US, Alaska, Hawaii &amp; Canada during <span class="md-red-span">Sales Event.</span></span></h3>
                            </div>
                            <br>

                        </div>

                    </div>
                    <!--<h2><strong style="color:#000;">Call</strong> <strong style="color:#4080c5;">(818)805-0026</strong> <strong style="color:#000;">to talk to a sauna specialist today.</strong></h2>
            
            <p>It's our mission to help you enhance your mental and physical health with all the benefits that heat therapy has to offer by introducing the first ever sauna designed to improve blood flow, heal your muscles, and achieve absolute pain relief for a better nights sleep.</p>  -->


                    <!-- <div class="col-md-4">
                        <div class="img-left">

                            <figure>
                                <img src="images/m2a.png" class="img-responsive" alt="">

                                <figcaption>

                                    <img src="https://www.pulmonologist7.com/images/plum_soldout.png" class="img-responsive sold_out_img mx-auto" alt="">
                                    <div class="text">Medical 2™ <BR>
                                        <span style="color:gray;">$5,999</span><BR>

                                        <span style="color:red;">SOLD OUT</span>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div> -->


                    <div class="col-md-4 w3_bg">
                        <div class="img-left w3_bg">

                            <figure>
                                <a href="/products/medical-3™"><img width="380" height="474" src="https://www.medicalsaunas.com/images/Medical_3.jpg" data-src="https://www.medicalsaunas.com/images/Medical_3.jpg" class="img-responsive" alt="medicalsauna's 3" html="" data-done="Loaded"></a>


                                <figcaption class="traditional1_figcaption">
                                    
                                    <a href="medical3-v2a.php">
                                        <img width="473" height="139" src="https://www.medicalsaunas.com/images/learn-more.png" data-src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's 3 explore more" class="img-responsive buy_now_img buy_now_img_width mx-auto" html="" data-done="Loaded"></a>

                                    <h3><a href="medical3-v2a.php">Medical 3™</a></h3>
                                    <div style="color:gray;" class="w3_bg">Early Bird Special : <div style="text-decoration:line-through;display:inline;" class="w3_bg">
                                            $7,999                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark style="background-color:#FF0; color:#f00;"> You Save:
                                        $4,450                                    </mark> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                            $3,549                                        </mark></span>
                                </figcaption>
                            </figure>
                        </div>

                    </div>


                    <div class="col-md-4 w3_bg">
                        <div class="img-left w3_bg">

                            <figure>
                                <a href="medical4-v2a.php"><img width="380" height="474" src="https://www.medicalsaunas.com/images/Medical_4.jpg" data-src="https://www.medicalsaunas.com/images/Medical_4.jpg" class="img-responsive" alt="medicalsauna's 4" html="" data-done="Loaded"></a>

                                <figcaption class="traditional1_figcaption">
                                                                        <a href="medical4-v2a.php">
                                        <img width="473" height="139" src="https://www.medicalsaunas.com/images/learn-more.png" data-src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's 4 explore more" class="img-responsive buy_now_img buy_now_img_width mx-auto" html="" data-done="Loaded"></a>
                                    <h3><a href="medical4-v2a.php">Medical 4™</a></h3>
                                    <div style="color:gray;" class="w3_bg">Early Bird Special : <div style="text-decoration:line-through;display:inline;" class="w3_bg">
                                            $11,999                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save:
                                        $6,450                                    </mark> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                            $5,549                                        </mark></span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                    <div class="col-md-4 w3_bg">

                        <div class="img-left w3_bg">

                            <figure>

                                <a href="medical5-v2a.php">
                                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical_5new.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical_5new.jpg" class="img-responsive" alt="medicalsaunas 5" data-done="Loaded"></a>


                                <figcaption class="traditional1_figcaption">
                                    
                                    <a href="medical5-v2a.php">
                                        <img width="473" height="139" src="https://www.medicalsaunas.com/images/learn-more.png" data-src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's 5 explore more" class="img-responsive buy_now_img buy_now_img_width mx-auto" html="" data-done="Loaded"></a>
                                    <h3 style="padding-right:150px;"><a href="https://www.medicalsaunas.com/medical5-v2a.php">Medical 5™ </a></h3>
                                    <div style="color:gray;" class="w3_bg">Early Bird Special : <div style="text-decoration:line-through;display:inline;" class="w3_bg">
                                            $16,999                                        </div>
                                    </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark style="background-color:#FF0; color:#f00;"> You Save:
                                        $9,450                                    </mark> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                            $7,549                                        </mark></span>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row w3_bg">
                <div class="col-md-12 w3_bg">




                    <div class="col-md-6 w3_bg">

                        <div class="img-left w3_bg">

                            <figure>
                                <a href="medical6-v2a.php">
                                    <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical_6-new.jpg" data-src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Medical_6-new.jpg" class="img-responsive mx-auto" alt="medicalsauna's 6" data-done="Loaded">
                                    <!-- <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/medical6-new/Medical_6-new.jpg"
                                        class="img-responsive mx-auto" alt="medicalsauna's 6"> -->
                                </a>

                                <figcaption class="traditional1_figcaption">
                                                                        <a href="medical6-v2a.php">
                                        <img width="473" height="139" src="https://www.medicalsaunas.com/images/learn-more.png" data-src="https://www.medicalsaunas.com/images/learn-more.png" class="img-responsive buy_now_img buy_now_width mx-auto" alt="medicalsauna's 6 explore more" html="" data-done="Loaded"></a>
                                    <h3><a href="https://www.medicalsaunas.com/medical6-v2a.php ">Medical 6™</a><br>
                                    </h3>
                                    <div style="color:gray;" class="w3_bg">Early Bird Special : <div style="text-decoration:line-through;display:inline;" class="w3_bg">
                                            $21,999                                        </div>
                                    </div>
                                    <mark style="background-color:#FF0; color:#f00; margin-left: 120px;"> You Save:
                                        $12,450                                    </mark> <br>
                                    <span style="color:#f00; margin-left: 180px;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                            $9,549                                        </mark></span>
                                </figcaption>
                            </figure>
                        </div>


                    </div>
                    <div class="col-md-6 w3_bg">

                        <div class="img-left w3_bg">

                            <figure>
                                <a href="medical7plus-v2a.php">
                                    <img width="496" height="526" src="https://www.medicalsaunas.com/images/Medical_7.jpg" data-src="https://www.medicalsaunas.com/images/Medical_7.jpg" class="img-responsive  mx-auto" alt="medicalsauna's 7plus" html="" data-done="Loaded"></a>

                                <figcaption class="traditional1_figcaption">
                                                                        <a href="medical7plus-v2a.php">
                                        <img width="473" height="139" src="https://www.medicalsaunas.com/images/learn-more.png" data-src="https://www.medicalsaunas.com/images/learn-more.png" class="img-responsive buy_now_img buy_now_width mx-auto" alt="medicalsauna's 7plus explore more" html="" data-done="Loaded"></a>
                                    <h3><a href="medical7plus-v2a.php ">Medical 7 Plus™ </a></h3>
                                    The most <div style="color:red;display:inline;" class="w3_bg">medical</div> sauna ever built!<br>
                                    <div style="color:gray;" class="w3_bg">Early Bird Special : <div style="text-decoration:line-through;display:inline;" class="w3_bg">
                                            $27,999                                        </div>
                                    </div>
                                    <mark style="background-color:#FF0; color:#f00; margin-left: 120px;"> You Save:
                                        $15,450                                    </mark> <br>
                                    <span style="color:#f00; margin-left: 180px;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                            $12,549                                        </mark></span>
                                </figcaption>
                            </figure>
                        </div>


                    </div>

                </div>
            </div>

            <div class="medicalsaunas_clearfix_1 w3_bg"></div>

            <div class="container w3_bg">



                <div class="row w3_bg">

                    <div class="col-md-12 text-center w3_bg">
                        <h3 class="yt-head">See what doctors &amp; technicians have to say about the Medical
                            Saunas<sup>™</sup></h3>
                        <!-- <img src="images/word4.png" class="img-responsive med_word4_img"
                            alt="doctors and technicians say about the medical sauna's"> -->


                    </div>
                </div>






                <div class="row w3_bg">

                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/hZssVm8OQo4" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/hZssVm8OQo4/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/hZssVm8OQo4" data-done="Loaded"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Dr. Damon Gangemi D.C. </strong>

                                25 Years of Practice
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/9Nv5aoLCU1w" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/9Nv5aoLCU1w/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/9Nv5aoLCU1w" data-done="Loaded"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Tom Jackson -</strong>

                                Certified Contractor/Construction<br>50 Years of Experience

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4 w3_bg">

                        <figure>
                            <iframe src="https://www.youtube.com/embed/bhwe3l5q9Kk" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/bhwe3l5q9Kk/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/bhwe3l5q9Kk" data-done="Loaded"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Rick Roland - </strong>

                                Certified Carpenter/Construction
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>


                <div class="row w3_bg">

                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/jEG3rxl0PJM" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/jEG3rxl0PJM/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/jEG3rxl0PJM" data-done="Loaded"></iframe>


                            <figcaption class="figcaption_sauna" style="font-size:14px; line-height:18px;">
                                <strong style="display:block;"><a href="https://www.medicalsaunas.com/ktaylor.php">Katie
                                        Taylor - Medical Sauna™ Customer</a></strong>

                                <a href="https://www.medicalsaunas.com/ktaylor.php">Extended Her
                                    Late Husband's Life by 12 Years <br> (Click Here to read the full story)</a>
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/OuPhQ0-pzMU" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/OuPhQ0-pzMU/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/OuPhQ0-pzMU" data-done="Loaded"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Christine Bray - </strong>

                                Gym Enthusiast

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4 w3_bg">

                        <figure>
                            <iframe src="https://www.youtube.com/embed/ObtBzW3fFtA" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/ObtBzW3fFtA/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/ObtBzW3fFtA" data-done="Loaded"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Relieves Back Surgery Pain </strong>

                                Arthritis Pain, &amp; Tendonitis
                            </figcaption>
                        </figure>



                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>


                <div class="row w3_bg">

                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="about:blank" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/JbTlT0AKU5c/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/JbTlT0AKU5c" data-class="LazyLoad"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Extremely Low EMF Medical Sauna™</strong>

                                PHD &amp; US Air Force
                            </figcaption>

                        </figure>


                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4 w3_bg">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="about:blank" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/Y_-LYWuSItI/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/Y_-LYWuSItI" data-class="LazyLoad"></iframe>




                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Adam Gross - Senior IT Technician </strong>

                                Suffers from Chronic Asthma

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4 w3_bg">

                        <figure>
                            <iframe src="about:blank" allowfullscreen="" style="height:235px; width:100%;border:0;background-image:url(https://i.ytimg.com/vi/CLpWwp82kIA/sddefault.jpg)" html="" data-src="https://www.youtube.com/embed/CLpWwp82kIA" data-class="LazyLoad"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Joe Jackson - Senior Instructor </strong>

                                35 Years in Education
                            </figcaption>
                        </figure>



                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>




                </div>

                <div class="medicalsaunas_clearfix w3_bg"></div>
            </div>
        </div>
    </section>
{% schema %}
  {
    "name": "sauna section",
    "settings": [],
    "presets":[
      {
        "name":"sauna section"
      }
    ]
  }
{% endschema %}