<section class="hr-features">
    <div class="container">

      <div class="row p-0">
        <div class="col-md-12 ">
          <p class="patent">Patent Pending Number: US 29/894454</p>
          <p class="heat-r-feature">Heat Resistant Features</p>
          <br>
          <br>
          <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sft-j20-3.png?v=1741694979" alt="medicalsauna's heat-resistant">

        </div>
      </div>
    </div>

  </section>


{% schema %}
  {
    "name": "SFT Heat Resistant",
    "settings": [
      
    ],
    "presets":[
      {
         "name": "SFT Heat Resistant"
      }
    ]
  }
{% endschema %}