<section class="hr-features">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <span class="special-force-heading">SPECIAL</span>
          <span class="special-force-subheading">FORCES <span class="special-force-trademark">™</span></span>
          <div>
            <p class="sft-p2">Makes it significantly easier to enjoy your time in a sauna.</p>
            <p class="sft-p2">The longer you stay in a medical sauna, the more it benefits your health. It can be challenging to endure an hour in a sauna while your body heats up and burns fat, similar to running. However, with our Special Forces™ tablet, you can simply watch ESPN or a movie, and the hour will fly by while your entire body becomes healthier.</p>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
          <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sft-29.png?v=1741697368" alt="medicalsauna's heat-resistant socialmedia" srcset="">
        </div>
      </div>
    </div>

  </section>


{% schema %}
  {
    "name": "SFT Spacial Resistant",
    "settings": [
      
    ],
    "presets":[
      {
         "name": "SFT Spacial Resistant"
      }
    ]
  }
{% endschema %}