<section id="{{ section.id }}">
    <div class="container">
      <div class="forces-youtube-video"> <center> <iframe class="spacial-youtubev" allowfullscreen="" src="https://www.youtube.com/embed/FEUwlWA1uY0?modestbranding=1&amp;&amp;&amp;rel=0&amp;controls=1&amp;mute=0" frameborder="0"></iframe> </center> </div>
    </div>
  </section>

{% schema %}
  {
    "name": "SFT Video Section",
    "settings": [
      
    ],
    "presets":[
      {
         "name": "SFT Video Section"
      }
    ]
  }
{% endschema %}