<section class="hr-features">
  <div class="acc-bg-blue">
      <div class="container">
        <div class="feature-h-text collapsed" data-toggle="collapse" data-target="#tablet-forces-1">

          <h4 class="head-a1">Specifications</h4>
          <i class="fa fa-angle-up head-arrow arrow-gray"></i>
        </div>
      </div>
    </div>
    <div id="tablet-forces-1" class="collapse in container">
     <div class="container">

      <div class="row hr-features-specification" style="padding: 2%;">
        <!-- <span class="special-force-heading-1">Specifications</span> -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="hr-features-subspecification ul-padding">
            <li> <span class="spec-span">CPU:</span> UNISOC T618 Octa Core 2.0GHz</li>


            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span">Display:</span> 10.4 inch 1200x2000 FHD incell display with glass touch panel</li>
            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span">RAM:</span> 14GB (8G + 6G)</li>

            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span">ROM:</span> 256G <span>Support expand memory to 512GB via insert Micro SD card </span> </li>
            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span"> Camera:</span> Front 5.0MP + Rear 13.0MP</li>
            <li class="cpu-li">

              <p class="camera-p"></p>
            </li>
            <li> <span class="spec-span"> Battery:</span> 3.8V Lithium 8000mAh</li>
            <li class="cpu-li">
              <p class="camera-p"></p>
            </li>
            <li> <span class="spec-span">WiFi:</span> 802.11 b/g/n 2.4G+5G WiFi Dual Band</li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="hr-features-subspecification ul-padding">

            <li>
              <span class="spec-span">Network:</span> <br>
              4G LTE Phone Call function: 2G full bands
            </li>
            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span"> 3G:</span> B1, B5, B8</li>
            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span">4G:</span> B1, B3, B5,B7, B8,B20, B40, B41, B38 Bluetooth 5.0 </li>
            <li class="cpu-li">
              <p class="cpu-p"></p>
            </li>
            <li> <span class="spec-span">Speaker:</span> Four internal Box Speakers</li>
            <li class="cpu-li">

              <p class="speaker-p"></p>
            </li>
            <li> <span class="spec-span">OS: </span> Android</li>
            <li class="os-li">
              <p class="os-p"></p>
            </li>
            <li> <span class="spec-span">Port:</span> Ix Type C;lx Micro SD slot; 1x Micro SD card US adapter, Type C cable, Including TPU Cove</li>
          </ul>
        </div>
      </div>
    </div>
      </div>
    
    <div class="acc-bg-blue">
      <div class="container">
        <div class="feature-h-text collapsed" data-toggle="collapse" data-target="#tablet-forces-2">

          <h4 class="head-a1">FREQUENTLY ASKED QUESTIONS</h4>
          <i class="fa fa-angle-up head-arrow arrow-gray"></i>
        </div>
      </div>
    </div>
    <div id="tablet-forces-2" class="collapse in container">
    <div class="row">
        <div class="col-lg-12 hr-features-faq">
          <!-- <P class="hr-features-subfaq">FREQUENTLY ASKED QUESTIONS:</p> -->
          <p class="faq-p-text faq-p-text-1">
         
          </p><p class="faq-p-text">
          <b>Does this tablet have the complete Android Operating System? </b> 
          </p>
          <p class="faq-p-text">
           <b>Yes, </b>it operates on Android 11. Hence, you can use any applications, not just for movies. You can enjoy TikTok or any other Android apps.
          </p>
          <br>
          
            <p class="faq-p-text">
          <b>Can I use this with any sauna? </b> 
          </p>
          <p class="faq-p-text">This device is compatible with any sauna, not just Medical Saunas. It's a heat resistant Andriod Tablet. Think of it like an iPad - you can use it just about anywhere. Since it operates on Android, you can download any app available on the Google Play Store. Favorites like Hulu, Netflix, and other apps can be readily accessed. Before, many people can only stay in a sauna for 10 minutes and they want out because they get bored. With Special Forces, time will certainly fly by as you enjoy watching YouTube or ESPN. Getting healthier has never been easier.
          </p>
          
        </div>
        <div class="col-lg-12"></div>
    <div class="container-fluid">
  
      <div class="row  hr-features-faq-1">
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sft-31.png?v=1741754242" class="img-fluid" alt="medicalsauna's heat-resistant">
        <div class="hr-features-buybefore">
          <p class="hr-features-buybefore-1">
            BUY BEFORE
          </p>
          <p class="hr-features-buybefore-1">
            <span class="fheilight">Saint Patrick's Day</span>
          </p>
          <p class="hr-features-buybefore-1">
             SPECIAL
          </p>
          <p class="hr-features-buybefore-1">
            ENDS &amp; GET
          </p>
          <p class="hr-features-buybefore-1">
            A <span class="fheilight">FREE</span>
          </p>
          <p class="hr-features-buybefore-1">
            PROTECTIVE
          </p>
          <p class="hr-features-buybefore-1">
            COVER.
          </p>
          <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sft-30.png?v=1741754373" alt="medicalsauna's heat-resistant" class="fimage">



          
        </div>
     <div class="buynow-text">
        
          <a class="buynow-text-img sftintroducing"  dataid="49974493511968"  href="javascript:void(0);">
            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buy-now-m31.jpg?v=1741754278" alt="medicalsauna's heat-resistant">
          </a>

          </div>
      </div>
    </div>
    </div>

    <!-- sft-32.png -->

    <!-- sft-m31-buynow -->




  </div></section>

{% schema %}
  {
    "name": "SFT Specifications",
    "settings": [
      
    ],
    "presets":[
      {
         "name": "SFT Specifications"
      }
    ]
  }
{% endschema %}