<section id="{{ section.id }}">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md12 afraid-text">
          <span class="afraid">Afraid to bring your phone into a <span style="color:#cc311e"> hot</span> sauna?</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/img-buy-now.png?v=1741694622" alt="Saunas" class="image-clickable" usemap="#saunaperfect">
          <map name="saunaperfect">
            <area shape="rect" coords="352,581,755,691" href="#" alt="Medical 3" cursor="pointer">
          </map>
        </div>
        <div class="col-md-7 hr-hotsauna" style="margin-top: 4%;">
          <p class="sft-p">Worried about overheating and potential damage? Put those fears to rest.</p>
          <p class="sft-p">Welcome to the future of heat resistance - introducing the world's first
            high-temperature tolerant tablet, Special Forces™. This unique Android device

            is designed to withstand temperatures of up to 150 degrees without breaking a
            sweat.</p>

          <p class="sft-p">Now you can indulge in your favorite Netflix shows or keep up with the game,
            all while relaxing in your favorite sauna.
          </p>

          <p class="sft-p">
            Experience entertainment like never before, uncompromised by heat. Dive into
            the seamless fusion of technology and leisure with the world's first heat
            resistant tablet.

          </p>

        </div>
      </div>

    </div>

  </section>


{% schema %}
  {
    "name": "SFT Afraid Section",
    "settings": [
      
    ],
    "presets":[
      {
         "name": "SFT Afraid Section"
      }
    ]
  }
{% endschema %}