<section class="middle-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="middle-content">
          <h2>Sitemap</h2>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="sitemap">
              <ul>
                     {% for block in section.blocks %}
                      <li>
                        <a href="{{ block.settings.pagelink }}" target="_blank">{{ block.settings.link_text }}</a>
                      </li>
                    {% endfor %}
                <!-- <li><a href="/pages/medical-saunas">Medical Saunas™</a></li>
                <li><a href="/pages/traditional-saunas">Traditional Saunas™</a></li>
                <li><a href="/pages/nature-saunas">Outdoor Saunas</a></li>
                <li><a href="#">Commercial Saunas™</a></li>
                <li><a href="#">Custom Saunas™</a></li>
                <li><a href="/pages/nature-saunas">Cold Plunge</a></li>
                <li><a href="#">Ultra Full Spectrum™</a></li>
                <li><a href="#">Research</a></li>
                <li><a href="/pages/our-story">Our Story</a></li>
                <li><a href="/pages/reviews">Reviews</a></li>
                <li><a href="/pages/privacy-policy-1">Privacy Policy</a></li>
                <li><a href="/pages/terms">Terms &amp; Conditions</a></li>
                <li><a href="/pages/sitemap-1">Sitemap</a></li>
                <li><a href="/pages/contactus">Contact Us</a></li> -->
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="sizeofimage">
              <img
                alt=" sitemap-gallery"
                src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/sitemap-gallery_ba0f37bd-4e80-4f4e-b9e2-07d175466d9f.png?v=1733835212"
                class="img-responsive sitemap-gallery"
              >
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
    .sitemap-gallery {
      border-radius: 20px;
  }
  .sitemap ul {
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px 20px;
      width: 91%;
  }
  .sitemap li {
      width: 100%;
  }
      @media screen and (max-width: 750px) {
          .sitemap ul {
              display: block;
          }
      }
</style>
{% schema %}
{
  "name": "Sitemap Content",
  "settings": [],
  "blocks": [
    {
      "type": "pagelink",
      "name": "pagelink",
      "settings": [
        {
          "type": "url",
          "id": "pagelink",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Click here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sitemap Content"
    }
  ]
}
{% endschema %}
