<section class="reviews_banner"> 
</section>

{% schema %}
  {
    "name": "sitemap-image",
    "settings": [],
    "presets": [
      {
        "name": "sitemap-image"
      }
    ]
  }
{% endschema %}