<section class="newbluebaar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="navigationlist">
                    <li class="bluebar_li">
                        <a href="#">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/taxw.png?v=1733833191"
                                        alt="medicalsauna's medical devices">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading desktop_text">The only company
                                        that's<br> Recommended
                                        by<br> 26+ MDs.</h4>
                                    <h4 class="media-heading mobile_text">The only company
                                        that's<br> Recommended
                                        by 26+ MDs.</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="bluebar_li">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/wtw.png?v=1733833191" alt="medicalsauna's offers">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading desktop_text">More than
                                    <br>50%<br> OFF
                                </h4>
                                <h4 class="media-heading mobile_text">More than 50% OFF</h4>
                            </div>
                        </div>
                    </li>
                    <li class="bluebar_li">
                        <a href="#">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/clockw.png?v=1733833302" alt="medicalsauna's offers 1">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading desktop_text">Early Bird Special:<br>The earlier you
                                        buy,<br>the more you save.</h4>
                                    <h4 class="media-heading mobile_text">Early Bird Special:
                                        The earlier <br> you buy,
                                        the more you save.</h4>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="bluebar_li">
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/tagw.png?v=1733833302" alt="medicalsauna's open hourse">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading desktop_text">Open 18 Hours<br> a Day, <br>7 Days a Week.</h4>
                                <h4 class="media-heading mobile_text">Open 18 Hours a Day, <br>7 Days a Week.</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/likew.png?v=1733833302" alt="medicalsauna's offering">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading desktop_text">Don't Wait, Call Now <br><strong
                                        style="color:#FF0;">(818) 654-4756</strong> <br>We're here
                                    to help.
                                </h4>
                                <h4 class="media-heading mobile_text">Don't Wait, Call Now <br><strong
                                        style="color:#FF0;">(818) 654-4756</strong> <br>We're here
                                    to help.
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix">
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "sitemap banner",
    "settings": [],
    "presets":[
      {
         "name": "sitemap banner"
      }
    ]
  }
{% endschema %}