<section class="footer-above-part">
   <div class="container">
     <div class="footer-part" style="font-size: 35px; padding: 20px 0px; color: #0382CF; font-weight: bold;">
        <h2 style="color:#0382CF; text-align:center; font-weight: bold;">THE PERFECT SAUNA</h2>
     </div>
  </div>
<div class="text-center"> 
  <a href="https://shopify.medicalsaunas.com/collections/medicalsaunas-fulls1">
      <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/saunaperfect1.png?v=1736161837" alt="The perfect sauna"></a>
   </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="float:none; margin-left:auto; margin-right:auto; text-align:center;">
        
    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/fullspectrum-sold-out.png?v=1736161895" alt="">
      </div>
    </div>
  </div>
 </section>
  
{% schema %}
  {
    "name": "spectrum maping",
    "settings": [],
    "presets": [
      {
        "name": "spectrum maping"
      }
    ]
  }
{% endschema %}