<section class="middle-content">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
        <h4 class="mobile_center">PRODUCT <span style="color:#000">SPECIFICATIONS</span> </h4>
        <div style="overflow:auto;">
            <table class="table-condensed med_table_width">
                <thead>
                    <tr>
                        <th style="font-size:0px;">Model</th>
                      {% for block in section.blocks %}
                        <th class="prod-brk-th"><a href="{{ block.settings.row-now }}"><img src="{{ block.settings.row | img_url:'master' }}" style="min-height:168px;" alt="{{ product.title }}"></a></th>
                      {% endfor %}
                        <!-- <th class="prod-brk-th"><a href="https://www.medicalsaunas.com/medical6-fullspectrum.php"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/fullspectrum-new/table6.png" alt="Medical 6™"></a></th>
                        <th class="prod-brk-th"><a href="https://www.medicalsaunas.com/medical7-fullspectrum.php"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/fullspectrum-new/table7.png" style="max-height: 160px;margin-bottom: 3px;" alt="Medical 7™"></a></th>
                        <th class="prod-brk-th"><a href="https://www.medicalsaunas.com/medical8-fullspectrum.php"><img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/fullspectrum-new/table8.png" alt="Medical 8 Plus™"></a></th> -->
                    </tr>

                </thead>
                <tbody><tr class="gray">
                    <td>Model: </td>
                    <td class="prod-brk-td"><a href="/products/medical-5-spectrum">Medical 5™</a></td>
                    <td class="prod-brk-td"><a href="/products/medical-6-spectrum">Medical 6™</a></td>
                    <td class="prod-brk-td"><a href="/products/medical7-fullspectrum">Medical 7™</a></td>
                    <td class="prod-brk-td"><a href="/products/medical-8-fullspectrum">Medical 8 Plus™</a></td>
                </tr>
                <tr class="gray">
                    <td data-label="">Capacity</td>
                    <td class="prod-brk-td" data-label="Full Spectrum 5™">1 person</td>
                    <td data-label="Full Spectrum 6™" class="prod-brk-td">2 people</td>
                    <td data-label="Full Spectrum 7™" class="prod-brk-td">3 people</td>
                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">3-4 people</td>
                </tr>
                <tr>
                    <td data-label=""><strong>Ultra</strong> Full Spectrum Heaters™ - 100X <strong>Stronger</strong></td>
                    <td class="prod-brk-td" data-label="Full Spectrum 5™">8</td>
                    <td class="prod-brk-td" data-label="Full Spectrum 6™">9</td>
                    <td class="prod-brk-td" data-label="Full Spectrum 7™">10</td>
                    <td class="prod-brk-td" data-label="Full Spectrum 8 Plus™">13</td>
                </tr>
                <tr class="gray">
                    <td data-label="">True Red Light Therapy™ to naturally improve your skin</td>
                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>
                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>
                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>
                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>
                </tr>
                <tr>

                    <td data-label="">Hot/Cold Cleansing System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Detox Routine™</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Insulated Airflow System™</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">3D Heat Therapy™</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Safe Cool Down System™</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Skin Rejuvenation/Cleansing System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Natural Hemlock Wooden Construction</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Simple Touch Exterior LED Control Panel™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Clasp-together Assembly</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Roof Vent</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Tempered Glass Door</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Speaker System with AUX/MP3 Connection</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">The Industry’s First Hot Yoga Sauna</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Rapid Internal Heating System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Energy Efficient Heating System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Simple Touch LED Control Panels™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Radio Functionality</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Exterior Mood Lighting</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Chromatic Therapy System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Omni-Directional Heating™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 6™"><i class="fa fa-check"></i></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Deep Ergonimic Bench Seating for Extra Comfort</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Interior Reading Light System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Silent Heating System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td class="prod-brk-td" data-label="Full Spectrum 7™"><i class="fa fa-check"></i></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Audio Theater System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Extra-Energy Efficient: 15% Thicker Glass &amp; Wood Panels</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Executive Corner Unit Design</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Extra-Insulated Airflow System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr class="gray">

                    <td data-label="">Extra-Rapid Internal Heating System™</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™"></td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"></td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"><i class="fa fa-check"></i></td>

                </tr>

                <tr>

                    <td data-label="">Interior Dimensions</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™">(WDH): 35″ x 32″ x 72″</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td">(WDH): 43″ x 38″ x 72″</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td">(WDH): 58″ x 37″ x 72″</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">(WDH): 62″ x 62″ x 72″</td>

                </tr>

                <tr class="gray">

                    <td data-label="">Exterior Dimensions</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™">(WDH): 39″ x 36″ x 78"</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td"> (WDH): 47″ x 42″ x 78″</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td"> (WDH): 62″ x 42″ x 78″</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td"> (WDH): 66″ x 66″ x 78″</td>

                </tr>

                <tr>

                    <td data-label="">Operating Voltage</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™">120V/15amp</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td">120V/20amp</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td">120V/30amp</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">120V/30amp</td>

                </tr>

                <tr class="gray">

                    <td data-label="">Watts</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™">1800 Watts</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td">1800 Watts</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td">2850 Watts</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">3000 Watts</td>

                </tr>

                <tr>

                    <td data-label="">Plug Size</td>

                    <td class="prod-brk-td" data-label="Full Spectrum 5™">NEMA 5-15</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td">NEMA 5-15</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td">NEMA 5-15</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">NEMA 5-15</td>

                </tr>

                <tr class="gray">

                    <td data-label="">Weight</td>



                    <td class="prod-brk-td" data-label="Full Spectrum 5™">265 lbs.</td>

                    <td data-label="Full Spectrum 6™" class="prod-brk-td">355 lbs.</td>

                    <td data-label="Full Spectrum 7™" class="prod-brk-td">425 lbs.</td>

                    <td data-label="Full Spectrum 8 Plus™" class="prod-brk-td">595 lbs.</td>

                </tr>



            </tbody></table>

        </div>

    </div>
    </div>
      
  </div>

  
<style>
  
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
      border: 1px solid #ccc;
}

  
</style>


  
</section>
    {% schema %}
  {
    "name": "spectrum5 product specif",
    "settings": [],
    "blocks":[
      {
        "type": "table-row",
        "name":"table-row",
        "settings": [
          {
            "type": "image_picker",
            "id":"row",
            "label":"Add Row"
          },
          {
            "type": "url",
            "id":"row-now",
            "label":"Add url"
          }
        ]
      }
    ],
    "presets":[
      {
       "name": "spectrum5 product specif" 
      }
    ]
  }
{% endschema %}