<section class="call_saunas_specialist">
<div class="bottom-headers">
<div class="checkbox mystyle1">
<p>Call <!-- (818)805-0026 -->(818) 805-0026 to talk <span class="sauna_bottom_header">to a sauna specialist.</span></p>
  </div>
</div>
</section>

{% schema %}
  {
    "name": "term contact bar",
    "settings": [],
    "presets":[
      {
        "name": "term contact bar"
      }
    ]
  }
{% endschema %}