<div class="terms_banner">
</div>
  <style>
      .nav.navbar-nav a {
        padding-top: 0;
        text-align: center;
    }
    
    .nav.navbar-nav a:hover
    {
        background-color: #4080C5 !important;
        height: 20px !important;
    }
    
    .nav > li > a
    {
        padding:10px 15px;
    }
    
    .nav.navbar-nav a span:hover
    {
        color: #FFFF00;
    }
    .new{display:none;}
    .newbluebaar {
        background: #1f5c8c;
        /* padding: 5px 0px 0px 0px; */
        position: relative;
        top: -30px;
    }
    ul.navigationlist {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;
    }
    ul.navigationlist li.bluebar_li {
        border-right: 1px solid #7896b5;
        min-height: 56px;
    }
    .media:first-child {
        margin-top: 0;
    }
    .media-body {
        width: auto !important;
        text-align: center !important;
    }
    .media-heading {
        text-align: left !important;
        color: #fff;
    }
    .media-body, .media-left, .media-right {
        vertical-align:middle;
    }
    @media (min-width: 768px) {
    
        ul.navigationlist li {
        float: left !important;
        padding: 0px 15px;
    }
    .media {
        padding: 9px 0 0 0;
    }
    .media-heading {
        font-size: 14px;
    }
    .desktop_text {
      display:block;
    }
    .mobile_text {
      display:none;
    }
    }
    @media (max-width: 767px) {
    .desktop_text {
      display:none;
    }
    .mobile_text {
      display:block;
    }
    }
    @media (max-width: 480px) {
        .media-heading {
        font-size: 18px;
        margin-top: 5px;
        }
        ul.navigationlist li.bluebar_li {
            padding: 0px;
        width: 100%;
        border-bottom: 1px solid #7896b5;
        border-right: none;
    }
    .media-body, .media-left, .media-right {
        width:75px;
    }
    .media {
        padding: 4px 0 4px 0;
    }
    .media-object {
        width:45px;
    }
    }
    @media screen and (max-width: 767px){
        .newbluebaar {
            /* background: #1f5c8c;
            position: relative; */
            top: -26px !important;
        }
    ul.navigationlist li {
        padding: 0px 0 !important;
    }
    }
    </style>
 
    
    
    

{% schema %}
  {
    "name": "term banner",
    "settings": [],
    "presets":[
    {
       "name": "term banner"
    }
    ]
  }
{% endschema %}