<section class="doctors">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 paddinglr-0">
                <br>
                <div class="doctor">
                    <!--<p><strong>Recommended By : </strong></p>-->
                    <fieldset>
                        <legend> Medical Saunas™ Has Many Doctors Behind It, Here Are Just A Few:</legend>

                        <picture>
                            <source media="(min-width:768px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/dr_29bb6cce-36fa-4bdf-ba68-81b089160871.jpg?v=1733816418">
                            <source media="(max-width:767px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/medicalbreakthrough-m-doctors.jpg?v=1733816419">
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/dr_29bb6cce-36fa-4bdf-ba68-81b089160871.jpg?v=1733816418"
                                alt="" class="img-responsive">
                        </picture>
                   </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>
{% schema %}
  {
    "name": "term doctor",
    "settings": [],
    "presets": [
      {
        "name": "term doctor"
      }
    ]
  }
{% endschema %}