<section class="dr">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12 paddinglr-0">
            <fieldset>
                <div class="row">
                    <div class="col-md-12 paddinglr-0">
                        <p class="mterms-disec">From Oprah and Dr. Oz to Dr. Mercola and Dr. Irvin Sahni, every day more
                            and more doctors are seeing the benefits that saunas can provide for their patients. Getting
                            sauna therapy on a daily basis is proving to be more and more available as the technology
                            and innovations improve through companies like Medical Sauna™. We have put so much of our
                            valuable time and resources into making a Medical Sauna™ perfect for our customers and their
                            health. A Medical Sauna™ is a revolutionary breakthrough in sauna therapies and
                            technologies. It is the first sauna engineered to help improve blood flow, heal your
                            muscles, and achieve absolute pain relief for a better night’s sleep.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <iframe class="m-termvideo" src="https://www.youtube.com/embed/NunbmVSmx2A" frameborder="0"
                            allowfullscreen=""></iframe>
                        <p class="m-termyoutube">
                            Dr. Berg talks about saunas and using dry heat to improve your health.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <iframe class="m-termvideo" src="https://www.youtube.com/embed/Twz_VLg79wU" frameborder="0"
                            allowfullscreen=""></iframe>
                        <p class="m-termyoutube">
                            Dr. Joseph Mercola and Steve Benda Discuss Saunas
                        </p>
                    </div>
                    <div class="col-md-6">
                        <iframe class="m-termvideo" src="https://www.youtube.com/embed/pOlIQbXb-AY" frameborder="0"
                            allowfullscreen=""></iframe>
                        <p class="m-termyoutube">
                            Dr. Oz and Oprah in a Sauna
                        </p>
                    </div>
                    <div class="col-md-6">
                        <iframe class="m-termvideo" src="https://www.youtube.com/embed/sDAcl5NzOEk" frameborder="0"
                            allowfullscreen=""></iframe>
                        <p class="m-termyoutube">
                            The Health Benefits of Far Infrared Saunas for Cancer
                        </p>
                    </div>
                </div>
            </fieldset>
            <br>
        </div>
    </div>
</section>
<style>
  .m-termvideo {
    width: 575px;
    height: 315px;
}
  p.m-termyoutube {
    text-align: center;
    font-weight: 700;
    line-height: 20px;
}
  @media only screen and (max-width: 767px) {
    .m-termvideo {
        width: 100%;
        height: 200px;
    }
}
</style>
{% schema %}
  {
    "name": "term video",
    "settings": [],
    "presets": [
      {
         "name": "term video"
      }
    ]
  }
{% endschema %}