<div class="header-blue-strip offer-blue w3_bg">
        <div class="row w3_bg">
            <div class="col-lg-5 offer-h w3_bg">
                <span class="offer-texta">
                  50% OFF <span class="offer-textb"> 
 {% comment %}        
{% assign featured_collection = collections['frontpage'] %}
{% if featured_collection.metafields.custom.offer_text_homepage %}
    {{ featured_collection.metafields.custom.offer_text_homepage }}
{% endif %}
 {% endcomment %}                 
{% assign product_handle = 'commercial-spa-485' %}
{% assign product = all_products[product_handle] %}
{% if product.metafields.custom.offer_text %}
    {{ product.metafields.custom.offer_text }}
{% endif %}
  </span>
                  <span class="offer-textC">SALES EVENT! </span>
                  <span class="offer-textD">
                  </span>
                </span>
                 
                <div id="countdowntop" class="w3_bg">
                  <span class="text-d text-dd"><span>Price increase in </span></span>
                  <span class="text-d" id="days"></span><span class="text-d"> <small>d:</small> </span>
                  <span class="text-h" id="hours"></span> <span class="text-m"> <small>h:</small> </span>
                  <span class="text-m" id="minutes"></span> <span class="text-m"> <small>m:</small> </span>
                  <span class="text-s" id="seconds"></span> <span class="text-s"> <small>s</small> </span>

                </div>
            
            
            </div>
            <div class="col-lg-1 offer-earlybirdpluse desktop-view w3_bg">

            </div>
            <div class="col-lg-3 offer-earlybird desktop-view w3_bg">

            </div>
            <div class="col-lg-3 offer-earlybird-a w3_bg">

            </div>
            <div class="col-lg-3 w3_bg">
                <a href="tel:(818)616-6348" class="offer-call">
                    <div class="w3_bg">
                        <span class="offer-calla">Don't Wait. <span class="offer-callb">Call Now!</span></span>
                    </div>
                </a>
                <span class="offer-end">Double Special Ends: Tonight</span>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function() {
        var target_date = new Date("{{section.settings.undersd}}").getTime();
        var days, hours, minutes, seconds;
        var countdown = document.getElementById('countdown');
        setInterval(function() {
            document.getElementById('countdown').innerHTML = '';
            var current_date = new Date().getTime();
            var seconds_left = (target_date - current_date) / 1000;

            days = parseInt(seconds_left / 86400);
            seconds_left = seconds_left % 86400;

            hours = parseInt(seconds_left / 3600);
            seconds_left = seconds_left % 3600;

            minutes = parseInt(seconds_left / 60);
            seconds = parseInt(seconds_left % 60);

            if (minutes > 0) {

                var htmlContent = ' <span class="text-d text-dd"> <span>Price increase in </span> </span></span><span class="text-d">' + days + ' <span>d:</span></span><span class="text-h">' + hours +
                                                      ' <span>h:</span></span><span class="text-m">' + minutes +
                                                      ' <span>m:</span></span>  <span class="text-s">' + seconds + ' <span>s</span> </span></span>';
                document.getElementById('countdown').innerHTML = htmlContent;
            }
        }, 1000);
            });
    </script>

{% schema %}
  {
    "name": "timer annoncement",
    "settings": [
      {
      "type": "text",
      "id": "undersd",
      "label": "Date Select",
      "default": "2025-12-31 23:59:59",
      "info": "Enter the date in YYYY-MM-DD HH:MM:SS format."
    }
    ],
    "presets":[
      {
        "name":"timer-annoncement"
      }
    ]
  }
{% endschema %}