<div class="row w3_bg">

        <div class="col-md-10 m-mt-25 padding-0 w3_bg" style="float:none; margin-left:auto; margin-right:auto;">

        {% assign banner_from_collection = collections['naturesaunas'].metafields.custom.home_page_banner %}
        {% assign collections_page_banner = collections['naturesaunas'].metafields.custom.collections_page_banner %}

        {% assign banner_from_collection_mobile = collections['naturesaunas'].metafields.custom.home_page_banner_mobile %}
        {% assign collections_page_banner_mobile = collections['naturesaunas'].metafields.custom.collections_page_banner_mobile %}



          {% if template.name == 'index' and banner_from_collection != blank %}


          <img class="{{ image_class }}" src="{{ banner_from_collection }}" width="100%" height="860.0" sizes="100vw" fetchpriority="high"/>
            

          
           {% elsif template.name == 'collection' and collections_page_banner != blank %}


       {% assign today_date = "now" | date: "%Y-%m-%d %H:%M:%S" %}
       
        
           {% assign today_timestamp = today_date | date: "%s" %}
           {% assign timezone_offset_seconds = 0 | times: 3600 %}  {%- comment -%} Adjust for UTC-5 (DST) {%- endcomment -%}
           {% assign today_timestamp = today_timestamp | plus: timezone_offset_seconds %}
        

            {% assign increase_date = collections['medical-saunas'].metafields.custom.price_increase_date | date: "%Y-%m-%d 21:59:00" %}
            {% assign increase_timestamp = increase_date | date: "%s" %}


            {% assign time_difference = increase_timestamp | minus: today_timestamp %}
            {% assign remaining_days = time_difference | divided_by: 86400 %}
    
            
            {% if remaining_days < 0  %}
              {%- assign updated_image_filename = collections_page_banner -%}
            {% else %}
              {%- assign updated_image_filename = collections_page_banner | split:"earlybirdspecials" | first | append:'earlybirdspecials' | append:remaining_days | append: '.jpg' -%}
            {% endif %}

          
          <img 
            src="{{ updated_image_filename }}"
            class="img-responsive desktop mx-auto"
            id="custom-banner"
            height=""
            width=""
            alt="new-design" />
           
          {% if remaining_days < 0  %}
                {%- assign updated_image_filename_mobile = collections_page_banner_mobile -%}
              {% else %}
                {%- assign updated_image_filename_mobile = collections_page_banner_mobile | split:"earlybirdspecial" | first | append:'earlybirdspecial' | append:remaining_days | append: '.jpg' -%}
              {% endif %}
          
            <img 
            id="mobile_banner"
            src="{{ updated_image_filename_mobile }}"
            style="display:none;"
            class="img-responsive mobile mx-auto"
            height=""
            width=""
            alt="new-design">


           {% else %}


           {% endif %}
          <div class="medical-doctor-div desktop">
                        <h2 class="medical-doctor-head">A Medical Doctor's Sauna.</h2>
                        <h2 class="md-span-hed"><span class="md-span">Nature &amp; Traditional - <span class="md-red-span">FREE</span> Shipping in the Continental US,<span class="md-span-two">$1,550 Shipping in Alaska, Hawaii &amp; Canada
                            <!-- $1,250 Shipping in Alaska & Hawaii, $1,550 Shipping in Canada -->
                        </span></span>
                        </h2>
                        <h3 class="md-span-hed"><span class="md-span md-span-bottem lh-1">Medical Saunas<sup class="tm-span">TM</sup> - <span class="md-red-span">FREE</span> 
                        <!-- Shipping in the entire US & Canada during -->
                        Shipping in Continental US, Alaska, Hawaii &amp; Canada during
                         <span class="md-red-span">Sales Event.</span></span></h3>
                    </div>
            
     </div>
</div>

{% schema %}
  {
    "name": "Timer Banner Outdoor",
    "settings": [
      
    ],
  "presets": [
    {
      "name": "Timer Banner Outdoor"
    }
  ]
  }
{% endschema %}