<div class="row w3_bg">

        <div class="col-md-10 m-mt-25 padding-0 w3_bg" style="float:none; margin-left:auto; margin-right:auto;">

        {% assign banner_from_collection = collections['medical-saunas'].metafields.custom.home_page_banner %}
      
        {% assign collections_page_banner = collections['medical-saunas'].metafields.custom.collections_page_banner %}



          {% if template.name == 'index' and banner_from_collection != blank %}


          <img class="{{ image_class }}" src="{{ banner_from_collection }}" width="100%" height="860.0" sizes="100vw" fetchpriority="high"/>
            

          
           {% elsif template.name == 'collection' and collections_page_banner != blank %}


        {% assign today_date = "now" | date: "%Y-%m-%d %H:%M:%S" %}
       
        {%- comment -%}
          Adjust for Central Time (UTC-5 during DST, UTC-6 otherwise).
          For UTC-5 (DST), subtract 5 hours: 5 * 3600 seconds.
        {%- endcomment -%}
        
        {% assign today_timestamp = today_date | date: "%s" %}
        {% assign timezone_offset_seconds = -7 | times: 3600 %}  {%- comment -%} Adjust for UTC-5 (DST) {%- endcomment -%}
        {% assign today_timestamp = today_timestamp | plus: timezone_offset_seconds %}
        
        {%- comment -%}
          Get the metafield value and ensure it's formatted in UTC to match `today_date`.
        {%- endcomment -%}
          
        {% assign increase_date = collections['medical-saunas'].metafields.custom.price_increase_date | date: "%Y-%m-%d 00:00:00" %}
        {% assign increase_timestamp = increase_date | date: "%s" %}
        <div id="jquery-days"></div>
        <input type="hidden" id="remaining_dayss" name="banner-time" value="">
        
        {% assign time_difference = increase_timestamp | minus: today_timestamp %}
        {% assign remaining_days = time_difference | divided_by: 86400 | round %}

        
        {% if remaining_days < 0  %}
          {%- assign updated_image_filename = collections_page_banner -%}
        {% else %}
          {%- assign updated_image_filename = collections_page_banner | split:"earlybirdspecials" | first | append:'earlybirdspecials' | append:remaining_days | append: '.jpg' -%}
        {% endif %}

          
          <img 
            src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/nature-flat-desktop/earlybirdspecials0.jpg"
            class="img-responsive desktop mx-auto"
            id="custom-banner"
            height=""
            width=""
            alt="new-design" />
           
          
          
            <img 
            id="mobile_banner"
            src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/nature-flat-mobile/m-earlybirdspecial0.jpg"
            style="display:none;"
            class="img-responsive mobile mx-auto"
            height=""
            width=""
            alt="new-design">


           {% else %}


           {% endif %}
          
            <div class="medical-doctor-div w3_bg">
                <h2 class="medical-doctor-head">A Medical Doctor's Sauna.</h2>
            </div>
            <br>
     </div>
</div>


<script>
           //alert('jzhghsdgcvh');
         jQuery(document).ready(function($) {

      // Fetch price increase date from metafield
      var priceIncreaseDate = "{{ collections['medical-saunas'].metafields.custom.price_increase_date }}";

      //var priceIncreaseDate = "2024-11-08";
           
      // Adjust for user's local timezone
      var targetDate = new Date(priceIncreaseDate + 'T21:59').getTime(); // UTC time

           
      // Countdown function
      setInterval(function() {
        
        var currentDate = new Date().getTime();
        var secondsLeft = (targetDate - currentDate) / 1000;
        
        if (secondsLeft >= 0) {
          
            var days = Math.floor(secondsLeft / 86400);
            var hours = Math.floor((secondsLeft % 86400) / 3600);
            var minutes = Math.floor((secondsLeft % 3600) / 60);
            var seconds = Math.floor(secondsLeft % 60);
  
            console.log(days);
          
            $('#remaining_dayss').val(days);

            var image_b = $('#custom-banner').attr('src');
            var image_bm = $('#mobile_banner').attr('src');

            let res = image_b.replace(/0/g, days);
            let resm = image_bm.replace(/0/g, days);

            console.log(res);
            console.log(resm);
           
           //alert(images); 
           
            $('#custom-banner').attr("src", res); 
            $('#mobile_banner').attr("src", resm); 
          
            //$("#jquery-days").text(days < 10 ? '0' + days : days);
          
        } 
        else 
        {
          $("#countdown").html("The price has increased!");
          $("#price-increase").hide();
        }
        
      }, 1000);
           
    });
      </script>

{% schema %}
  {
    "name": "Timer Banner flatroof",
    "settings": [
      
    ],
  "presets": [
    {
      "name": "Timer Banner flatroof"
    }
  ]
  }
{% endschema %}