<section class="middle-content traditional-catg">
        <div class="container">
            <div class="row">

                <div class="middle-content">

                    <div class="row">
                        <div class="col-md-3 text-center m-mt-15">

                            <a href="#" class="saunas_safe">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/snake_9c686204-15c3-4fb5-b240-470ec08bdfab.png?v=1733576301" class="img-responsive in-block margin-auto mt-30 m-ml--160 ml-m" alt="medical devices">
                                <span class="in-block absolute"><span class="ft-21">How Safe Are</span><br>
                                    <span class="ft-30">Medical Saunas™?</span></span>
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <!-- <img src="images/new-design.png" class="img-responsive" alt="new-design">-->
                            <h4 class="fordoblearrow arrows_h4">
                                Call <span class="span_h4">
                                    <!-- (818)805-0026 -->
                                    (818) 351-7648                                </span> to talk<br>
                                to a Medical Sauna specialist
                            </h4>
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/anoithernewimage_ce8dd7ab-194b-479e-8ce7-a67f8f01905a.png?v=1733576482" class="img-responsive desktop" alt="why get a regular sauna's when you can get a medical suana's - 01 ">
                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/img-saunas-logo.png?v=1733576481" class="img-responsive mobile saunas_logo_img" alt="why get a regular sauna's when you can get a medical suana's - 02" style="display:none;">

                        </div>
                        <div class="col-md-3 text-center desktop">
                            <a href="https://medicalsaunas.com/saunasaveslives.php">
                                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/fdnybadge_7f1162db-c341-4db3-af1d-be5ddfe387f6.png?v=1733576379" class="img-responsive" alt="Medical Saunas Saving New York Firefighters" style="margin-left:auto; margin-right:auto; margin-top:30px;"></a>

                            <a href="https://medicalsaunas.com/saunasaveslives.php" style="color:#309cff; font-size:14px; font-weight:bold;">
                                CLICK HERE to See How
                                <br>Medical Saunas Saved Over
                                <br>700 New York Firefighters
                            </a>

                        </div>

                    </div>
                    <!-- <br> -->
                </div>
            </div>
        </div>
        <div class="middle-content">
            <div class="col-md-10 trad-offerb" style="float:none; margin-left:auto; margin-right:auto;">
                                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/desktop/earlybirdspecials3.jpg" class="img-responsive desktop mx-auto" alt="new-design">
                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/earlybirspecials/mobile/m-earlybirdspecial3.jpg" style="display:none;" class="img-responsive mobile mx-auto" alt="new-design">
                <!-- <img src="images/medicaldoctorsauna.jpg" class="img-responsive mx-auto" alt="medical doctor sauna's nature and traditional free shipping"> -->
                <div class="medical-doctor-div desktop">
                    <h2 class="medical-doctor-head">A Medical Doctor's Sauna.</h2>
                    <h2 class="md-span-hed"><span class="md-span">Nature &amp; Traditional - <span class="md-red-span">FREE</span> Shipping in the Continental US,<span class="md-span-two">$1,550 Shipping in Alaska, Hawaii &amp; Canada
                                <!-- $1,250 Shipping in Alaska & Hawaii, $1,550 Shipping in Canada -->
                            </span></span>
                    </h2>
                    <h3 class="md-span-hed"><span class="md-span md-span-bottem lh-1">Medical Saunas<sup class="tm-span">TM</sup> - <span class="md-red-span">FREE</span> Shipping in Continental US, Alaska, Hawaii &amp; Canada during
                            <!-- Shipping in the entire US & Canada during -->
                            <span class="md-red-span">Sales Event.</span></span></h3>
                </div>
            </div>

        </div>
        <div>
            <div class="acc-bg-blue">
                <div class="container mobile-show">
                    <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#tradition-Home-acc1">
                        <h3 class="head-a1">A Medical Doctor's<span> Sauna</span> </h3>
                        <i class="fa fa-angle-up head-arrow arrow-gray"></i>
                    </div>
                </div>
            </div>
            <div id="tradition-Home-acc1" class="collapse in container acc-contain-1 w3_bg tra8-space">
                <div class="col-md-4">
                    <div class="img-left traditional1_product">

                        <figure>
                            <!-- <img src="/images/Traditional/1-1.png" class="img-responsive"> -->
                            <a>
                                <picture>
                                    <source media="(min-width: 650px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/new-traditional4-24.png">
                                    <source media="(max-width: 465px)" srcset="/images/1-1_mobile-a.png">
                                    </picture></a><a href="/products/traditional-4™"> <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/new-traditional4-24.png" alt="medicalsauna's traditional4"></a>
                                
                            


                            <figcaption class="traditional1_figcaption">
                                
                                <a href="/products/traditional-4™"><img src="https://www.medicalsaunas.com/images/learn-more.png" class="img-responsive buy_now_img buy_now_img_width mx-auto" alt="medicalsauna's traditional4 explore more">
                                </a>
                                <h3><a href="/products/traditional-4™">Traditional 4</a><a href="https://www.medicalsaunas.com/traditional4-special-edition.php">™</a></h3>
                                <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;">
                                        $10,999                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save:
                                    $6,450                                </mark> <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                        $4,549                                    </mark></span>
                            </figcaption>


                        </figure>
                    </div>

                </div>


                <div class="col-md-4">
                    <div class="img-left traditional2_product">

                        <figure>
                            <!-- <a href="traditional5-v2.php"><img src="/images/Traditional/2.png" class="img-responsive"></a> -->
                            <a href="/products/traditional-5™">
                                <picture>
                                    <source media="(min-width: 650px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_6c5defb5-209a-487d-94ce-c34d47125d0b.png?v=1733576725">
                                    <source media="(max-width: 465px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_6c5defb5-209a-487d-94ce-c34d47125d0b.png?v=1733576725">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/2_6c5defb5-209a-487d-94ce-c34d47125d0b.png?v=1733576725" alt="medicalsauna's traditional5">
                                </picture>
                            </a>


                            <figcaption class="traditional1_figcaption">
                                
                                <a href="/products/traditional-5™"><img src="https://www.medicalsaunas.com/images/learn-more.png" class="img-responsive buy_now_img buy_now_img_width mx-auto" alt="medicalsauna's traditional5 explore more">
                                </a>
                                <h3><a href="/products/traditional-5™">Traditional 5™</a></h3>
                                <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;">
                                        $14,999                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save:
                                    $8,450                                </mark> <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                        $6,549                                    </mark></span>
                            </figcaption>
                        </figure>
                    </div>

                </div>


                <div class="col-md-4">
                    <div class="img-left traditional3_product">

                        <figure>
                            <!-- <a href="traditional6-v2.php"><img src="/images/Traditional/3-1.png" class="img-responsive"></a> -->
                            <a href="/products/traditional-6™">
                                <picture>
                                    <source media="(min-width: 650px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3-1_79372c8f-032f-49ef-b836-baeda251ada7.png?v=1733576725">
                                    <source media="(max-width: 465px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3-1_79372c8f-032f-49ef-b836-baeda251ada7.png?v=1733576725">
                                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/3-1_79372c8f-032f-49ef-b836-baeda251ada7.png?v=1733576725" alt="medicalsauna's traditional6">
                                </picture>
                            </a>

                            <figcaption class="traditional1_figcaption">
                                                                <a href="/products/traditional-6™">
                                    <img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's traditional6 explore more" class="img-responsive buy_now_img buy_now_img_width mx-auto"></a>
                                <h3><a href="/products/traditional-6™">Traditional 6</a><a href="traditional6-v4.php">™</a>
                                </h3>
                                <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;">
                                        $18,999                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<mark style="background-color:#FF0; color:#f00;"> You Save:
                                    $10,450                                </mark> <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                        $8,549                                    </mark></span>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="row products_row">
                    <div class="col-md-12 mb-img tra8-space">


                        <div class="col-md-6 tra7-space">

                            <div class="img-left">

                                <figure>


                                    <!-- <img src="" class="img-responsive" style=" height:600px;"> -->
                                    <a href="/products/traditional-7™">
                                        <picture>
                                            <source media="(min-width: 650px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/4_d1e772a9-15ec-48b9-9e2d-e779d2741483.png?v=1733576894">
                                            <source media="(max-width: 465px)" srcset="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/4_d1e772a9-15ec-48b9-9e2d-e779d2741483.png?v=1733576894">
                                            <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/4_d1e772a9-15ec-48b9-9e2d-e779d2741483.png?v=1733576894" alt="medicalsauna's traditional7">
                                        </picture>
                                    </a>


                                    <figcaption class="traditional1_figcaption figcaption_bottom">
                                                                                <a href="/products/traditional-7™">
                                            <img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's traditional7 explore more" class="img-responsive buy_now_img buy_now_width buynow_padding mx-auto"></a>
                                        <h3 style="padding-right:150px;"><a href="/products/traditional-7™">Traditional 7™
                                            </a></h3>
                                        <div style="color:gray;">Early Bird Special : <div style="text-decoration:line-through;display:inline;">
                                                $22,999                                            </div>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <mark style="background-color:#FF0; color:#f00;"> You Save:
                                            $12,450                                        </mark> <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#f00;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                                $10,549                                            </mark></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                        <div class="col-md-6 ">

                            <div class="img-left">

                                <figure>
                                    <a href="/products/traditional-8™">
                                        <!--<img src="/images/Traditional/5.png" width="517" class="img-responsive" style=" height:600px;"></a>  -->
                                        <!-- https://d2j861izbfuruy.cloudfront.net/medicalsaunas/desktop-new8-tra.png -->
                                        <picture>
                                            <source media="(min-width: 650px)" srcset="
                                            https://d2j861izbfuruy.cloudfront.net/medicalsaunas/desktop-988.png" width="527" class="traditional-8img">
                                            <source media="(max-width: 465px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/11-09-24/tra8-new-mobile.png">
                                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/desktop-new8-tra.png" alt="medicalsauna's traditional8plus">
                                            <!-- https://d2j861izbfuruy.cloudfront.net/medicalsaunas/mobile2-tra8.png -->
                                        </picture>
                                    </a>
                                    <figcaption class="traditional1_figcaption" style="margin-top:9px;">
                                                                                <a href="/products/traditional-8™">
                                            <img src="https://www.medicalsaunas.com/images/learn-more.png" alt="medicalsauna's traditional8plus explore more" class="img-responsive buy_now_img buy_now_width   tra8-buy mx-auto"></a>
                                        <h3><a href="/products/traditional-8™">Traditional 8
                                                Plus™
                                            </a></h3>
                                        <p class="steam" style="margin: 0px;">
                                            The most <b style="color:red;display:inline;">medical</b> steam sauna ever
                                            built!
                                        </p>

                                        <div class="early-brid">Early Bird Special : <div style="text-decoration:line-through;display:inline;">
                                                $28,999                                            </div>
                                        </div>
                                        <mark style="background-color:#FF0; color:#f00; margin-left: 120px;"> You Save:
                                            $15,450                                        </mark> <br>
                                        <span style="color:#f00; margin-left: 180px;"> <mark style="background-color:#BBEBFB; color:#f00;">
                                                $13,549                                            </mark></span>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div><br>
            <div class="acc-bg-blue">
                <div class="container">
                    <div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse" data-target="#tradition-Home-acc2">
                        <h3 class="head-a1">See what doctors &amp; technicians have to say about the Medical
                            Saunas<sup>™</sup></h3>
                        <i class="fa fa-angle-up head-arrow arrow-gray"></i>
                    </div>
                </div>
            </div><br>
            <div id="tradition-Home-acc2" class="collapse in container w3_bg padding-0">
                <div class="row">
                    <div class="col-md-12 padding-0 text-center">
                        <!-- <img src="images/word4.png" class="img-responsive med_word4_img" alt="doctors and technicians say about the medical traditional sauna's"> -->
                        <!-- <h3 class="yt-head trad-yt-head">See what doctors & technicians have to say about the Medical
                            Saunas<sup>™</sup></h3> -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/hZssVm8OQo4" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Dr. Damon Gangemi D.C. </strong>

                                25 Years of Practice
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/9Nv5aoLCU1w" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Tom Jackson -</strong>
                                Certified Contractor/Construction<br>50 Years of Experience
                            </figcaption>
                            <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->
                        </figure>
                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <iframe src="https://www.youtube.com/embed/bhwe3l5q9Kk" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Rick Roland - </strong>
                                Certified Carpenter/Construction
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/jEG3rxl0PJM" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="font-size:14px; line-height:18px;"><strong style="display:block;"><a style="font-weight:normal;" href="https://www.medicalsaunas.com/ktaylor.php">Katie Taylor - Medical Sauna™
                                        Customer </a></strong>

                                <a style="font-weight:normal;" href="https://www.medicalsaunas.com/ktaylor.php">Extended
                                    Her
                                    Late Husband's Life by 12 Years <br> (Click Here to read the full story) </a>
                            </figcaption>


                        </figure>

                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>


                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/OuPhQ0-pzMU" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Christine Bray - </strong>

                                Gym Enthusiast

                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->


                    </div>

                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>

                            <iframe src="https://www.youtube.com/embed/ObtBzW3fFtA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Relieves Back Surgery Pain </strong>

                                Arthritis Pain, &amp; Tendonitis
                            </figcaption>
                        </figure>



                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/JbTlT0AKU5c" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>


                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Extremely Low EMF Medical Sauna™</strong>

                                PHD &amp; US Air Force
                            </figcaption>

                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <!--<iframe width="560" height="315" src="https://youtu.be/2qGu3ayXWMM" frameborder="0" allowfullscreen></iframe>-->
                            <iframe src="https://www.youtube.com/embed/Y_-LYWuSItI" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px; line-height:18px;">
                                <strong style="display:block;">Adam Gross - Senior IT Technician </strong>
                                Suffers from Chronic Asthma
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                    <div class="col-md-4 padding-0 traditional-youtube">
                        <figure>
                            <iframe src="https://www.youtube.com/embed/CLpWwp82kIA" allowfullscreen="" style="height:235px; width:100%;border:0;"></iframe>
                            <figcaption class="figcaption_sauna" style="color: #000; font-size:14px;line-height:18px;">
                                <strong style="display:block;">Joe Jackson - Senior Instructor </strong>

                                35 Years in Education
                            </figcaption>
                        </figure>
                        <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/S3xtmyX32Mc" frameborder="0" allowfullscreen></iframe>-->

                    </div>
                </div>
            </div>

        </div>
    </section>
    
{% schema %}
  {
    "name": "Tranditional Products",
    "settings": [],
    "presets":[
      {
        "name":"traditional products"
      }
    ]
  }
{% endschema %}