<section class="middle-content" id="{{ section.id }}">
    <div class="container">
      <div class="row">

        <div class="col-md-12">
          <div class="middle-content">
            <h2 class=" t4-story"><strong>THE TRADITIONAL SAUNA <span style="color:#000"> STORY</span></strong></h2>
            <p class="para-text">Although there are many saunas out there, most are made by people who never went to medical school. After putting many of these saunas to the test, we realized that most saunas on the market did very little to help your health. Because saunas can have powerful medical benefits, we decided to become the very first company to work with doctors to truly unleash their full medical potential. </p>
            <p class="para-text">To create the ultimate medical sauna with a traditional appeal, we worked with many medical doctors, pain specialists, and cardiologists. We spent years researching the health benefits of saunas, and added as many medical components as we could find. After 10 years of research and development, we were able to create a sauna with enough medical components that can help you relieve pain, improve cardiovascular health, strengthen your immune system, and detox your body. Because we focused on helping your body heal, and opted for a traditional steam sauna we decided to call the finished line the Traditional Sauna Series™.</p>
          </div>
        </div>

        <div class="col-md-12 mobile-col">
          <!-- <img src="images/t9-v2/sketch9.png" class="img-fluid frame-image" alt="sketch"> -->
          <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/nature-x-new/7.jpg" class="img-fluid frame-image" alt="sketch">
        </div>
        <div class="col-md-12 mobile-col">
          <h2 class="t4-story web-none"><strong>TRADITIONAL 9™ <span style="color:#000">- SCHEMATIC</span></strong></h2>
          <picture>
            <source media="(min-width:650px)" srcset="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/edits-05-26-8-24.jpg">
            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/nature-x-new/Trad-9-Mobile-03.png" class="img-fluid" alt="sketch">
          </picture>

        </div>
      </div>
    </div>
  </section>
  <section class="full-part bg-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12" style="padding-top:10px; padding-bottom:10px;">
          <div class="middle-content">
            <h2 style="color:#0382CF; text-align:left;" class="font-style no-bottom"><strong>MEDICAL BREAKTHROUGH <span style="color:#000">DISCOVERY</span></strong></h2>
            <p class="para-text">When the full potential of a sauna is reached, saunas can provide a lot of medical benefits from pain relief to body detoxification and improved cardiovascular health to reduced stress. That's why we spent so much time working with doctors, pain specialists, and cardiologists to creat the ultimate line of saunas. We developed our award-winning combination of therapies with each feature specifically chosen for the medical benefit it can give you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <style>
    #{{section.id}}{
    background-color:{{ section.settings.bg-color}};
    }
    h2.no-bottom.font-style{
      margin-bottom:10px;
   }



    
  </style>
  
{% schema %}
  {
    "name": "traditional9-full-width",
    "settings": [
      {
        "type": "color",
        "id": "bg-color",
        "default":"#ffffff",
        "label":"Section color"
      }
    ],
    "presets":[
      {
        "name": "traditional9-full-width"
      }
    ]
  }
{% endschema %}