
<section class="table-box container">
<div class="feature-h-text collapsed w3_bg desktop-none" data-toggle="collapse">
    <h4 class="head-a1">PRODUCT<span class="black"> SPECIFICATIONS</span> </h4>
   
</div>
<div id="medical-acc3" class="collapse in container w3_bg">
    <div class="over-flow">
        <table class="table-condensed med_table_width">
       
            <thead>
                <tr>
                    <th class="fixed-cell-a width-td-9 mobile-arrow-hide">
                    <div class="visible-xs button-container">
                        <button class="btn btn-default-a hide-table-button" id="previous-table"><i class="fa fa-angle-down table-previous"></i></button>
                        <button class="btn btn-default-a" id="next-table"><i class="fa fa-angle-down table-next"></i></button>
                    </div>
                    </th>
                    <!-- <th class="prod-brk-th td-1cell"><a href="/traditional4v4.php">
                            <img src="https://www.medicalsaunas.com/images/table4v2-comparison.png"
                             alt="Traditional-Sauna-4" style="padding:8px;" alt="" class="suanas-img-0a1">
                            </a></th> -->
                    <th class="prod-brk-th td-2cell"><a href="/products/traditional-6">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/tra4-new/table-trad5.png" alt="traditional6-v2" class="suanas-img-0a2"></a>
                    </th>
                    <th class="prod-brk-th td-3cell"><a href="/products/traditional-7">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/tra4-new/table-trad7.png" alt="Traditional-Sauna-6" class="suanas-img-0a3"></a></th>
                    <th class="prod-brk-th td-4cell"><a href="/products/traditional-8-plus">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/tra4-new/table-trad8.png" alt="Traditional-Sauna-7" class="suanas-img-0a4"></a></th>
                    <th class="prod-brk-th td-5cell"><a href="/products/traditional-9plus">
                            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/tra4-new/table-trad9.png" alt="Traditional-Sauna-8plus" class="mbreakx suanas-img-0a5"></a></th>
                </tr>
            </thead>
           
            <tbody><tr>

                <!-- <td data-label="" class="fixed-cell-a">
                    <div class="visible-xs button-container">
                        <button class="btn btn-default-a" id="previous-table"><i class="fa fa-angle-down table-previous"></i></i></button>
                        <button class="btn btn-default-a" id="next-table"><i class="fa fa-angle-down table-next"></i></i></button>
                    </div>
                </td> -->
                <!-- <td class="prod-brk-td td-1cell" data-label="Medical Breakthrough 5™ ">
                    <a style="color:#fff;" href="orderdetails.php?id=6567">
                        <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Traditional-Sauna-4 - buynow" class="buy1-img buy-img1t" html="" data-done="Loaded">
                    </a>
                </td> -->
                <!-- <td class="prod-brk-td td-2cell" data-label="Medical Breakthrough 6™ ">
                    <a style="color:#fff;" href="orderdetails.php?id=37">
                        <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Traditional-Sauna-5 - buynow" class="buy-img2t" html="" data-done="Loaded">
                    </a>
                </td> -->
                <!-- <td class="prod-brk-td td-3cell" data-label="Medical Breakthrough 7™ ">
                    <a style="color:#fff;" href="orderdetails.php?id=6568">
                        <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Traditional-Sauna-6 - buynow" class="buy-img3t" html="" data-done="Loaded">
                    </a>
                </td> -->
                <!-- <td class="prod-brk-td td-4cell" data-label="Medical Breakthrough 8™ ">
                    <a style="color:#fff;" href="orderdetails.php?id=5335">
                        <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Traditional-Sauna-7 - buynow" class="buy-img4t" html="" data-done="Loaded">
                    </a>
                </td> -->

                <!-- <td class="prod-brk-td td-5cell" data-label="Medical Breakthrough X™ ">
                    <a style="color:#fff;" href="orderdetails.php?id=5336">
                        <img width="250" height="74" src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" data-src="https://d2j861izbfuruy.cloudfront.net/medicalbreakthrough/buynowmy.png" alt="Traditional-Sauna-8plus - buynow" class="buy-img5t" html="" data-done="Loaded">
                    </a>
                </td> -->



            </tr>
            <!-- table row buy-now images closed here -->
            <tr class="first">
                <td class="table-a fixed-cell-a">Model: </td>
                <!-- <td class="prod-brk-td td-1cell"><a href="https://medicalsaunas.com/traditional4v4.php" class="table-a table-aa">Traditional 4&trade; </a></td> -->
                <td class="prod-brk-td td-2cell"><a href="/products/traditional-6" class="table-a table-ab">Traditional 6™ </a></td>
                <td class="prod-brk-td td-3cell"><a href="/products/traditional-7" class="table-a table-ac">Traditional 7™ </a></td>
                <td class="prod-brk-td td-4cell"><a href="/products/traditional-8-plus" class="table-a table-ad">Traditional 8™</a></td>
                <td class="prod-brk-td td-5cell"><a href="/products/traditional-9plus" class="table-a table-af">Traditional 9 Plus™ </a></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Capacity</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">1 person</span></td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">3 people</span></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">3-4 People</span></td>
                <td data-label="Medical 5™ " class="prod-brk-td-a td-4cell"><span class="side-left-04">4-6 People</span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class="side-left-05">5-7 people</span></td>
            </tr>
            <tr>
              <td data-label="" class="fixed-cell-a title-td-specification">Type of Heat</td>
              <!-- <td class="prod-brk-td" data-label="Traditional 6™">steam</td> -->
              <td class="prod-brk-td" data-label="Traditional 6™">steam</td>
              <td class="prod-brk-td" data-label="Traditional 6™">dry or steam</td>
              <td data-label="Traditional 7™" class="prod-brk-td">dry or steam</td>
              <td data-label="Traditional 7™" class="prod-brk-td">dry or steam</td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Detox Routine™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"> <span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™ "><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">Insulated Airflow System™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™ td-5cell" class="prod-brk-td"><span class=""><i class="fa fa-check"></i></span></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">3D Heat Therapy™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">Safe Cool Down System™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Skin Rejuvenation/Cleansing System™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><span class=""><i class="fa fa-check"></i></span></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">100% Natural Canadian Hemlock Construction</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Simple Touch Interior LED Control Panel™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="">
                <td height="25" data-label="" class="fixed-cell-a title-td-specification">Interior Backrest</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td height="32" class="fixed-cell-b title-td-specification" data-label="">Tempered Glass Door</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a fixed-cell-a title-td-specification">Interior Reading Light System™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"><i class="fa fa-check"></i></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Speaker System with Bluetooth Connection</td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-6cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">Ultra-High Peformance Stove that can do 194 Degrees </td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Ultra-High Heat Tolerance Door Seals, Speakers, Control Panel, Electronics. At those tempeartures, everything in the sauna has to be high heat military grade. </td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">Spacious Enough to Lay Down</td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Energy Efficient Heating System™</td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="">
                <td data-label="" class="fixed-cell-a title-td-specification">Rapid Internal Heating System™</td>
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"><i class="fa fa-check"></i></span></td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification" style="text-align:left;vertical-align:middle;">Luxurouis Two Walls Glass Design</td>
                <!-- <td data-label="" class="title-td-specification td-1cell">&nbsp;</td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-6cell"><i class="fa fa-check"></i></td>
            </tr>


            <tr>
                <td data-label="" class="fixed-cell-a title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Bucket, Volcanic Rocks &amp; Ladle </span></span></td>
                <!-- <td data-label="" class="title-td-specification td-1cell">&nbsp;</td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>


            <tr class="bg-line-gray">
              <td data-label="" class="fixed-cell-b title-td-specification"><span class="title-td-specification" style="text-align:left;vertical-align:middle;"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">Quiet Atmosphere</span></span></td>
                <!-- <td data-label="" class="title-td-specification td-1cell" style="text-align:left;vertical-align:middle;">&nbsp;</td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td-a td-5cell"><i class="fa fa-check"></i></td>
            </tr>


            <tr>
              <td data-label="" class="fixed-cell-a title-td-specification"><span class="title-td-specification" style="text-align:left;vertical-align:middle;">2x Overhead Ceiling™</span></td>
                <!-- <td data-label="" class="title-td-specification td-1cell" style="text-align:left;vertical-align:middle;">&nbsp;</td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>

            <tr class="bg-line-gray">
              <td data-label="" class="fixed-cell-b title-td-specification">Heater Cover</td>
                <!-- <td data-label="" class="title-td-specification td-1cell">&nbsp;</td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"><i class="fa fa-check"></i></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>


            <tr>
              <td data-label="" class="fixed-cell-a title-td-specification">Double Decker Stadium Seating</td>
                
              <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01"></span></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™">&nbsp;</td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>


            <tr class="bg-line-gray">
              <td height="23" class="fixed-cell-b fixed-cell-atitle-td-specification" data-label="">Extra Insulated Airflow System™</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td> -->
                <td class="prod-brk-td-a td-2cell" data-label="Medical 4™"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™"><span class="side-left-03"></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>



            <tr>
              <td height="23" class="fixed-cell-a title-td-specification" data-label="">Audio Theater System™</td>
                
              <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02"></span></td>
                <td class="prod-brk-td-a td-3cell" data-label="Medical 5™">&nbsp;</td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04"><i class="fa fa-check"></i></span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
              <td data-label="" class="fixed-cell-b title-td-specification">Largest Home Hybrid Traditional Sauna, accommodates people up to 6'3</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™">&nbsp;</td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td data-label="" class="fixed-cell-a title-td-specification">Modern Heat Resistant Lights</td>
              <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"></td> -->
              <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">&nbsp;</td>
              <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03"></span></td>
              <td class="prod-brk-td-a td-4cell" data-label="Medical 5™">&nbsp;</td>
              <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
              <td data-label="" class="fixed-cell-b title-td-specification">Modern Digital Control Panel</td>
              <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">&nbsp;</td>
              <td data-label="Medical 5™" class="prod-brk-td-a td-3cell">&nbsp;</td>
              <td class="prod-brk-td-a td-4cell" data-label="Medical 5™">&nbsp;</td>
              <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td data-label="" class="fixed-cell-a title-td-specification">Luxuriously Spacious Benches for <br>
              Ultimate Comfort and Relaxation</td>
              <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">&nbsp;</td>
              <td data-label="Medical 5™" class="prod-brk-td-a td-3cell">&nbsp;</td>
              <td class="prod-brk-td-a td-4cell" data-label="Medical 5™">&nbsp;</td>
              <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"><i class="fa fa-check"></i></td>
            </tr>
            <tr class="bg-line-gray">
              <td data-label="" class="fixed-cell-b title-td-specification">Interior Dimensions (WHD)</td>
              <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™">31.7&quot; x 51.6&quot; x 69.4&quot;</td> -->
              <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-03">
              55.6" x 51.6" x 69.4"</span><span class="side-left-03"></span></td>
              <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">65.6" x 52.4" x 69.4"</span></td>
              <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04">
              67.3" x 67.3" x 72"
                 </span></td>
              <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell">
              76.7" x 69.3" x 76.5"
              </td>
            </tr>

            <tr>
                <td data-label="" class="fixed-cell-a title-td-specification">Exterior Dimensions (WDH)</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"> 41.3&quot; x 55.1&quot; x 74.8&quot;</td> -->
               
              
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">60" x 55.1" x 74.8"</span></td>
                <td class="prod-brk-td-a td-4cell" data-label="Medical 5™"><span class="side-left-04">70.9" x 55.9" x 74.8" </span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell"> 70.9″ x 70.9″ x 77.2″</td>
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">
                <span class="side-left-03">82" x 73" x 82"</span><span class="side-left-03"></span><span class="side-left-03"></span></td>
            </tr>

            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Operating Voltage</td>

                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™">220V-240V/30amp</td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">220V-240V/30amp</td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">220V-240V/30amp</span></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04">220V-240V/40-50amp</span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell">220V-240V/40-50amp</td>
            </tr>
              <tr>
                <td data-label="" class="fixed-cell-a title-td-specification">Wire Type</td>
                <!-- <td align="center" valign="middle" class="prod-brk-td-a td-1cell" data-label="Medical 3™">120v plug for lights &amp; 220v Hardwired for stove</td> -->

                <td align="center" valign="middle" class="prod-brk-td-a td-1cell" data-label="Medical 3™">120v plug for lights &amp; 220v Hardwired for stove</td>
                <td align="center" valign="middle" class="prod-brk-td-a td-1cell" data-label="Medical 3™">120v plug for lights &amp; 220v Hardwired for stove</td>
                <td align="center" valign="middle" class="prod-brk-td-a td-1cell" data-label="Medical 3™">120v plug for lights &amp; 220v Hardwired for stove</td>
                <td align="center" valign="middle" class="prod-brk-td-a td-1cell" data-label="Medical 3™">120v plug for lights &amp; 220v Hardwired for stove</td>
            </tr>
            <tr class="bg-line-gray">
                <td data-label="" class="fixed-cell-b title-td-specification">Watts</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™">4500 Watts</td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell">6000 Watts</td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">6000 Watts</span></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04">8000 Watts</span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td td-5cell">8000 Watts</td>
            </tr>

            <tr>
                <td data-label="" class="fixed-cell-a title-td-specification">Weight</td>
                <!-- <td class="prod-brk-td-a td-1cell" data-label="Medical 3™"><span class="side-left-01">557 lbs.</span></td> -->
                <td data-label="Medical 4™" class="prod-brk-td-a td-2cell"><span class="side-left-02">637 lbs.</span></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-3cell"><span class="side-left-03">778 lbs.</span></td>
                <td data-label="Medical 5™" class="prod-brk-td-a td-4cell"><span class="side-left-04">887 lbs.</span></td>
                <td data-label="Medical 6 Plus™" class="prod-brk-td-a td-5cell"><span class="">1091 lbs.</span></td>
            </tr>


        
            <!-- table row buy-now images strated here -->
            <tr>

                <td data-label="" class="fixed-cell-a"></td>
                

            </tr>
           
        </tbody></table>
    </div>
    <br>
</div>


</section>
{% schema %}
  {
    "name": "trad-9-product-specifi",
    "settings": [],
    "presets":[
      {
        "name": "trad-9-product-specifi"
      }
    ]
  }
{% endschema %}