<br>
<div class="hidden-xs">
    <center>
        <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/traditiona-sauna-series2new1.png?v=1735993564" alt="Saunas" class="image-clickable" usemap="#saunaperfect">
        <!-- <img src="images/traditiona-sauna-series2new1.jpg" alt="Saunas" class="image-clickable" usemap="#saunaperfect"> -->

        <map name="saunaperfect">
            <area shape="rect" coords="11,16,159,270" class="traditional6-v2a.php" href="/products/traditional-6" alt="traditional 6" cursor="pointer" href="javascript:void(0)">
            <area shape="rect" coords="395,-7,610,274" class="traditional7-v2a.php" href="/products/traditional-7" alt="traditional 7" cursor="pointer" href="javascript:void(0)">
            <area shape="rect" coords="667,36,935,345" class="traditional8-v2a.php" href="/products/traditional-8-plus" alt="traditional 8" cursor="pointer" href="javascript:void(0)">
            <area shape="rect" coords="999,14,1296,347" class="traditional9-v2-new2.php" href="/products/traditional-9plus" alt="traditional 9" cursor="pointer" href="javascript:void(0)">

            <!-- code for buynow strated here -->
            <area alt="traditional 6" title="traditional 6" class="corsd" dataid="49326828781856" coords="248,417,59,367" shape="rect">
            <area alt="traditional 7" title="traditional 7" class="corsd" dataid="49326833402144" coords="537,421,322,368" shape="rect">
            <area alt="traditional 8" title="traditional 8" class="corsd" dataid="49326837203232" coords="864,421,649,368" shape="rect">
            <area alt="traditional 9" title="traditional-v2-new 9" class="corsd" dataid="49763277668640" coords="988,361,1222,425" shape="rect">
            <!-- code for buynow closed here -->

        </map>
            <style>
         @media (max-width: 767px) {
           .hidden-xs img.image-clickable {
              display: none!important;
           }
         }
      </style>
       </center></div>
       <br>

       <script>
           $(document).on('click', '.corsd', function(event) {
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
       </script>
{% schema %}
  {
    "name": "trad-9-maping",
    "settings": [],
    "presets": [
      {
        "name": "trad-9-maping"
      }
    ]
  }
{% endschema %}