<div class="container spa-mobile-a visible-xs">
    <div class="div">
        <a href="/products/traditional-4">
            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Footer+image-02.png" alt="" class="spa-product-1">
        </a>
        <div>
            <a style="color:#fff;" dataid="49326815346976" class="commercial">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-1b">
            </a>
        </div>
    </div>

    <div class="div">
        <a href="/products/traditional-5">
            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Footer+image-03.png" alt="" class="spa-product-2">
        </a>
        <div>
            <a style="color:#fff;" dataid="49326825406752" class="commercial">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-2b">
            </a>
        </div>
    </div>

    <div class="div">
        <a href="/products/traditional-6">
            <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Footer+image-04.png" alt="" class="spa-product-3">
        </a>
        <div>
            <a style="color:#fff;" dataid="49326828781856" class="commercial">
                <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-3b">
            </a>
        </div>
    </div>
</div>

<div class="container spa-mobile-a visible-xs">
    <div class="col-6">
        <div class="div">
            <a href="/products/traditional-7">
                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Footer+image-05.png" alt="" class="spa-product-4">
            </a>
            <div>
                <a style="color:#fff;" dataid="49326833402144" class="commercial">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-4b">
                </a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="div">
            <a href="/products/traditional-8-plus">
                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/Footer+image-06.png" alt="" class="spa-product-5">
            </a>
            <div>
                <a style="color:#fff;" dataid="49326837203232" class="commercial">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-5b">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container spa-mobile-a visible-xs mobile-space-a">
    <div class="col-12">
        <div class="div">
            <a href="/products/traditional-9plus-™">   
                <img src="https://d2j861izbfuruy.cloudfront.net/medicalsaunas/09-09-24/tra-9-mobile.jpg" alt="" class="spa-product-5">          
            </a>
            <div class="buy-bottom-btn">
               <a style="color:#fff;" dataid="49763277668640" class="commercial">
                    <img src="https://cdn.shopify.com/s/files/1/0897/8953/0400/files/buyno.png?v=1734950611" alt="" class="spa-product-6b">
                </a> 
            </div>
        </div>
    </div>
</div>
<br>
<script>
    $(document).on('click', '.commercial', function(event) {
    event.preventDefault();

    var ID = $(this).attr("dataid");

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: ID
        },
        dataType: 'json',
        success: function (data) {
            console.log('Item added to cart. Quantity:', data.quantity);

            window.location.href = '/cart';
        },
        error: function (xhr, status, error) {
            console.log('Error adding item to cart:', error);
        }
    });
});
</script>
{% schema %}
  {
    "name": "trad 9 mobile products",
    "settings": [],
    "presets": [
      {
       "name": "trad 9 mobile products" 
      }
    ]
  }
{% endschema %}