<div class="banner-traditionalsauna">
  
</div>
<style>
  
 .fordoblearrow {
            font-size: 22px !important;
            color: #000 !important;
            padding: 10px 124px;
            position: relative;
        }

        .fordoblearrow span {
            color: #309cff;
        }

        .fordoblearrow span a {
            color: #309cff;
        }

        .fordoblearrow:after {
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            background: url('https://cdn.shopify.com/s/files/1/0897/8953/0400/files/rightarrow.png?v=1733573521') no-repeat center center;
            height: 71px;
            width: 124px;
        }

        .fordoblearrow:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background: url('https://cdn.shopify.com/s/files/1/0897/8953/0400/files/leftarrow.png?v=1733573521') no-repeat center center;
            height: 71px;
            width: 124px;
        }

        .rotate180 {
            transform: rotate(180deg) !important;
            transition: transform 0.5s ease;
        }

        .feature-arrow {
            transition: transform 0.3s ease !important;
        }

        /* 767px Start */
        @media only screen and (max-width: 767px) {
            .traditional-myoutube {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .traditional-youtube {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .fordoblearrow {
                color: #fff !important;
            }

            .fordoblearrow:after {
                display: none;
                /* position: absolute;
                top: 20px;
                right: -14px;
                content: "";
                background: url(images/rightarrow.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 30px;
                width: 39px; */
            }

            .fordoblearrow:before {
                display: none;
                /* position: absolute;
                top: 20px;
                left: -19px;
                content: "";
                background: url(images/leftarrow1.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 30px;
                width: 45px; */
            }

            .steam {
                font-size: 18px !important;
                color: #000 !important;
                margin: 0px;
            }

            .early-brid {
                color: gray;
                margin-left: 0px;
            }

            .traditional1 {
                margin-top: 15px;
            }

            .traditional1_figcaption {
                margin-bottom: 0px !important;
            }

            .figcaption_bottom {
                padding-bottom: 0px !important;
            }

            .buynow_padding {
                margin-top: -30px;
            }

            .tra8-buy {
                margin-top: 0px !important;
            }

            .tra8-space {
                padding: 0px;
            }

            .tra7-space {
                padding-left: 15px !important;
                padding-right: 15px !important;

            }

        }

        /* 767px end */
        /* 320px start  */
        @media only screen and (max-width: 320px) {
            h4.fordoblearrow {
                font-size: 14px !important;
            }
        }

        .buy_now_img {
            margin-bottom: 20px;
        }

        .buy_now_img_width {
            width: 65%;
        }

        .buy_now_width {
            width: 43%;
        }

        .early-brid {
            color: gray;
            margin-left: 26px;
            margin-top: -1%;
        }

        .steam {
            font-size: 16px !important;
            color: #000 !important;
            text-align: center !important;
            margin: 0px;
        }

        /* traditionalsaunas-v2.php page css Strated */
        .banner-traditionalsauna {
            min-height: 466px !important;
            /* background-image: url(/images/header-traditionalsaunas.jpg); */
            background-image: url(https://d2j861izbfuruy.cloudfront.net/medicalsaunas/traditionalsaunas-banner2024.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position:100% 10%;


        }

        .newbluebaar {
            background: #1f5c8c;
            position: relative;
           
        }

        @media only screen and (min-width:1200px) {
            .traditional-8img {
                width: 527px !important;
            }
        }

        @media only screen and (max-width:767px) {
            .banner-traditionalsauna {
                display: initial;

            }

            .newbluebaar {
                top: -24px !important;
            }

        }
</style>
{% schema %}
  {
    "name": "Traditional sauna banner",
    "settings": [],
    "presets":[
      {
        "name":"traditional sauna"
      }
    ]
  }
{% endschema %}